In [43]:
import pandas as pd
import numpy as np
import datetime

from IPython.display import display, HTML

In [3]:
tickets = pd.read_csv("./data/ticket_data.csv")
tickets

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,611,542
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},611,542
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 21:24:00+00,7400,2017-10-01 00:13:40.212+00,"{798,798,6794,6246}","{8377,8376}",611,542
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 11:02:00+00,13500,2017-10-01 00:13:40.213+00,"{798,798,6794,6246}","{8377,8376}",611,542
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00,2017-10-14 19:32:00+00,7710,2017-10-01 00:13:40.213+00,"{5983,5983}",{8380},611,542
5,6795030,8385,NaN,NaN,2017-10-06 05:30:00+00,2017-10-06 08:30:00+00,1800,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
6,6795031,8385,NaN,NaN,2017-10-06 07:00:42+00,2017-10-06 09:30:42+00,2150,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
7,6795032,8385,NaN,NaN,2017-10-06 07:10:00+00,2017-10-06 09:40:00+00,1700,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
8,6795033,8385,NaN,NaN,2017-10-06 10:00:00+00,2017-10-06 12:50:00+00,1700,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
9,6795034,8385,NaN,NaN,2017-10-06 10:00:00+00,2017-10-06 12:50:00+00,1900,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
10,6795035,8385,NaN,NaN,2017-10-06 12:40:00+00,2017-10-06 15:40:00+00,1550,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
11,6795036,8385,NaN,NaN,2017-10-06 13:00:00+00,2017-10-06 15:40:00+00,1450,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
12,6795037,8385,NaN,NaN,2017-10-06 13:00:00+00,2017-10-06 15:30:00+00,1550,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
13,6795038,8385,NaN,NaN,2017-10-06 13:00:00+00,2017-10-06 15:30:00+00,1550,2017-10-01 01:03:18.948+00,NaN,NaN,628,453
14,6795039,8385,NaN,NaN,2017-10-06 13:00:00+00,2017-10-06 15:30:00+00,1800,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
15,6795040,8385,NaN,NaN,2017-10-06 13:40:00+00,2017-10-06 16:30:00+00,1700,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
16,6795041,8385,NaN,NaN,2017-10-06 14:00:16+00,2017-10-06 16:30:16+00,1700,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
17,6795042,8385,NaN,NaN,2017-10-06 14:00:00+00,2017-10-06 17:00:00+00,1800,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
18,6795043,8385,NaN,NaN,2017-10-06 14:00:00+00,2017-10-06 17:20:00+00,1900,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
19,6795044,8385,NaN,NaN,2017-10-06 14:00:00+00,2017-10-06 16:40:00+00,2300,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
20,6795045,8385,NaN,NaN,2017-10-06 14:50:00+00,2017-10-06 17:40:00+00,1700,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
21,6795046,8385,NaN,NaN,2017-10-06 15:10:00+00,2017-10-06 17:50:00+00,1800,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
22,6795047,8385,NaN,NaN,2017-10-06 15:30:00+00,2017-10-06 17:50:00+00,1450,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
23,6795048,8385,NaN,NaN,2017-10-06 15:50:00+00,2017-10-06 18:50:00+00,1700,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
24,6795049,8385,NaN,NaN,2017-10-06 15:50:00+00,2017-10-06 18:50:00+00,1800,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
25,6795050,8385,NaN,NaN,2017-10-06 16:00:00+00,2017-10-06 19:00:00+00,1700,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
26,6795051,8385,NaN,NaN,2017-10-06 16:00:00+00,2017-10-06 19:00:00+00,1800,2017-10-01 01:03:18.95+00,NaN,NaN,628,453
27,6795052,8385,NaN,NaN,2017-10-06 16:00:00+00,2017-10-06 18:50:00+00,1800,2017-10-01 01:03:18.951+00,NaN,NaN,628,453
28,6795053,8385,NaN,NaN,2017-10-06 16:50:00+00,2017-10-06 19:20:00+00,1550,2017-10-01 01:03:18.951+00,NaN,NaN,628,453
29,6795054,8385,NaN,NaN,2017-10-06 17:00:00+00,2017-10-06 19:30:00+00,1300,2017-10-01 01:03:18.951+00,NaN,NaN,628,453
...,...,...,...,...,...,...,...,...,...,...,...,...
74138,6869163,8385,NaN,NaN,2017-10-27 18:00:00+00,2017-10-27 22:20:00+00,3000,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74139,6869164,8385,NaN,NaN,2017-10-27 18:30:00+00,2017-10-27 22:30:00+00,2900,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74140,6869165,8385,NaN,NaN,2017-10-27 18:30:00+00,2017-10-27 22:50:00+00,2900,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74141,6869166,8385,NaN,NaN,2017-10-27 18:30:00+00,2017-10-27 23:10:00+00,3000,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74142,6869167,8385,NaN,NaN,2017-10-27 19:10:00+00,2017-10-27 23:00:00+00,2650,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74143,6869168,8385,NaN,NaN,2017-10-27 21:20:00+00,2017-10-28 01:10:00+00,2900,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74144,6869169,8385,NaN,NaN,2017-10-27 21:50:00+00,2017-10-28 01:40:00+00,3600,2017-10-19 10:35:31.269+00,NaN,NaN,628,562
74145,6869170,8376,767.0,6591.0,2017-10-27 06:38:00+00,2017-10-27 23:02:00+00,1950,2017-10-19 10:35:40.167+00,"{408,408}",{8377},628,562
74146,6869175,8376,767.0,6591.0,2017-10-27 16:38:00+00,2017-10-27 19:16:00+00,8020,2017-10-19 10:35:40.168+00,"{583,583}",{8380},628,562
74147,6869180,8376,6799.0,6591.0,2017-10-27 21:46:00+00,2017-10-28 23:02:00+00,8450,2017-10-19 10:35:40.168+00,"{408,408}",{8377},628,562
74148,6869171,8376,767.0,6591.0,2017-10-27 06:38:00+00,2017-10-27 08:55:00+00,2150,2017-10-19 10:35:40.168+00,"{408,408}",{8376},628,562
74149,6869177,8376,6799.0,6591.0,2017-10-27 17:14:00+00,2017-10-27 19:54:00+00,8700,2017-10-19 10:35:40.168+00,"{583,583}",{8376},628,562
74150,6869172,8376,6799.0,6591.0,2017-10-27 08:14:00+00,2017-10-27 11:38:00+00,7650,2017-10-19 10:35:40.168+00,"{583,583}",{8376},628,562
74151,6869178,8376,6799.0,6591.0,2017-10-27 19:40:00+00,2017-10-28 08:30:00+00,8450,2017-10-19 10:35:40.168+00,"{3748,3748}",{8380},628,562
74152,6869173,8376,6799.0,6591.0,2017-10-27 10:40:00+00,2017-10-27 14:50:00+00,7850,2017-10-19 10:35:40.168+00,"{408,408}",{8376},628,562
74153,6869176,8376,767.0,6591.0,2017-10-27 16:38:00+00,2017-10-27 18:54:00+00,8400,2017-10-19 10:35:40.168+00,"{583,583}",{8376},628,562
74154,6869174,8376,6799.0,6591.0,2017-10-27 14:14:00+00,2017-10-27 17:16:00+00,7620,2017-10-19 10:35:40.168+00,"{583,583}",{8380},628,562
74155,6869179,8376,6799.0,6591.0,2017-10-27 20:46:00+00,2017-10-27 23:02:00+00,8450,2017-10-19 10:35:40.168+00,"{408,408}",{8377},628,562
74156,6869181,13,3.0,10729.0,2017-10-27 01:40:00+00,2017-10-27 16:00:00+00,2590,2017-10-19 10:35:42.942+00,"{408,408}",{8371},628,562
74157,6869183,8371,10642.0,304.0,2017-10-27 07:00:00+00,2017-10-27 21:10:00+00,2090,2017-10-19 10:35:42.943+00,"{863,863}",{13},628,562
74158,6869184,9,279.0,10729.0,2017-10-27 07:00:00+00,2017-10-27 16:00:00+00,2400,2017-10-19 10:35:42.943+00,"{1105,1105}",{8371},628,562
74159,6869186,8371,10642.0,10729.0,2017-10-27 08:30:00+00,2017-10-27 16:00:00+00,2400,2017-10-19 10:35:42.943+00,"{1105,1105}",{8371},628,562
74160,6869188,8371,10642.0,304.0,2017-10-27 10:00:00+00,2017-10-27 22:45:00+00,2100,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74161,6869190,8371,10642.0,304.0,2017-10-27 14:00:00+00,2017-10-27 21:15:00+00,2700,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74162,6869192,13,279.0,304.0,2017-10-27 19:55:00+00,2017-10-28 08:00:00+00,4480,2017-10-19 10:35:42.943+00,"{863,863}",{13},628,562
74163,6869182,13,279.0,10729.0,2017-10-27 02:30:00+00,2017-10-27 16:00:00+00,2590,2017-10-19 10:35:42.943+00,"{408,408}",{8371},628,562
74164,6869185,9,279.0,304.0,2017-10-27 07:00:00+00,2017-10-27 13:30:00+00,2700,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74165,6869187,8371,10642.0,304.0,2017-10-27 08:30:00+00,2017-10-27 15:15:00+00,3000,2017-10-19 10:35:42.943+00,"{1105,1105}",{9},628,562
74166,6869189,13,279.0,304.0,2017-10-27 13:25:00+00,2017-10-27 21:10:00+00,2880,2017-10-19 10:35:42.943+00,"{863,863}",{13},628,562
74167,6869191,8371,10642.0,10729.0,2017-10-27 14:45:00+00,2017-10-27 21:40:00+00,2000,2017-10-19 10:35:42.943+00,"{863,863}",{8371},628,562

In [4]:
cities = pd.read_csv("./data/cities.csv")
id2city = dict(zip(cities["id"], cities["local_name"]))
cities

,id,local_name,unique_name,latitude,longitude,population
0,5159,"Padua, Veneto, Italia",padua,45.406435,11.876761,209678.0
1,76,"Barcelona, Cataluña, España",barcelona,41.385064,2.173404,1611822.0
2,81,"Basel, Basel-Stadt, Schweiz",basel,47.593437,7.619812,NaN
3,259,"Erlangen, Bayern, Deutschland",erlangen,49.589674,11.011961,105412.0
4,11979,"Balș, Olt, România",balș,44.353354,24.095672,NaN
5,10314,"Град Пожаревац, Централна Србија, Србија",град-пожаревац,44.619095,21.176522,NaN
6,11155,"Bussy-Lettrée, Grand-Est, France",bussy-lettree,48.804600,4.259500,NaN
7,11788,"Chamonix, Valle d'Aosta, Italia",chamonix-italia,45.817156,6.952375,NaN
8,11984,"Borger, Texas, United States of America",borger,35.667820,-101.397388,NaN
9,11825,"okres Zvolen, Banskobystrický kraj, Slovensko",okres-zvolen,48.576181,19.137116,NaN
10,11878,"Castellón de la Plana, Comunitat Valenciana, E...",castellon-de-la-plana,40.004000,-0.063400,NaN
11,11992,"Castello-Molina di Fiemme, Trentino-Alto Adige...",castello-molina-di-fiemme,46.281845,11.437143,NaN
12,11998,"Craiova, Dolj, România",craiova,44.330178,23.794881,NaN
13,12002,"Filiași, Dolj, România",filiași,44.554523,23.520009,NaN
14,12005,"Gare de Lamarche, Grand-Est, France",gare-de-lamarche,48.089980,5.760170,NaN
15,834,"Tignes Val Claret, Auvergne-Rhône-Alpes, France",tignes-val-claret,45.457331,6.901682,NaN
16,10339,"Briançon - Serre-Chevalier, Provence-Alpes-Côt...",briancon---serre-chevalier,44.897001,6.634323,NaN
17,10712,"Aix-la-Chapelle, Nordrhein-Westfalen, Deutschland",aix-la-chapelle,50.785661,6.136859,NaN
18,5409,"Aarschot, Vlaanderen, Belgique",aarschot,50.986000,4.836500,NaN
19,5439,"Aime - La Plagne, Auvergne-Rhône-Alpes, France",aime---la-plagne,45.554500,6.648800,NaN
20,5423,"Agropoli Castellabate, CAM, Italia",agropoli-castellabate,40.351400,15.001900,NaN
21,5445,"Aix En Provence Gare Routiere, Provence-Alpes-...",aix-en-provence-gare-routiere,43.524900,5.454100,NaN
22,12014,"Huelva, Andalucía, España",huelva,37.253100,-6.950800,NaN
23,12015,"Hunedoara, Hunedoara, România",hunedoara,45.767813,22.907233,NaN
24,12016,"Hymont, Grand-Est, France",hymont,48.265700,6.141900,NaN
25,12017,"Ile de Ré Nouvelle-Aquitaine, France",ile-de-re-nouvelle-aquitaine,46.228940,-1.541300,NaN
26,12018,"Ile d'Oléron, Nouvelle-Aquitaine, France",ile-doleron,45.943040,-1.307410,NaN
27,5444,"Aix-en-Provence Centre, Provence-Alpes-Côte d'...",aix-en-provence-centre,43.522900,5.445300,NaN
28,9378,"Ahun, Nouvelle-Aquitaine, France",ahun,46.086460,2.045080,NaN
29,12023,"Jessains, Grand-Est, France",jessains,48.297070,4.577940,NaN
...,...,...,...,...,...,...
8010,163,"Budapest, Közép-Magyarország, Magyarország",budapest,47.497912,19.040235,1735711.0
8011,317,"Grenoble, Auvergne-Rhône-Alpes, France",grenoble,45.188529,5.724524,160779.0
8012,389,"Katowice, Sląskie, Polska",katowice,50.264892,19.023782,304362.0
8013,1285,"Aberdeen, Scotland, UK",aberdeen,57.145245,-2.091374,195021.0
8014,1317,"Aveiro, Centro, Portugal",aveiro,40.635252,-8.660895,NaN
8015,1433,"Bristol, England, UK",bristol,51.453493,-2.597394,535907.0
8016,1508,"Cheltenham, England, UK",cheltenham,51.899569,-2.071156,116447.0
8017,2106,"Newcastle upon Tyne, England, UK",newcastle-upon-tyne,54.977092,-1.614206,268064.0
8018,5739,"Belgrade, Централна Србија, Serbia",belgrade,44.804400,20.461100,NaN
8019,10299,"South Oxfordshire, England, UK",south-oxfordshire,51.636609,-1.080473,NaN
8020,10326,"Cologno Monzese, LOM, Italia",cologno-monzese,45.528156,9.277699,NaN
8021,10586,"Ciutadella, Illes Balears, 124",ciutadella,40.000677,3.835597,NaN
8022,7711,"Monaco - Monte-Carlo, , Monaco - Monte-Carlo",monaco---monte-carlo,43.738740,7.419400,NaN
8023,913,"Wien, Wien, Österreich",wien,48.208174,16.373819,NaN
8024,33,"Annecy, Auvergne-Rhône-Alpes, France",annecy,45.899247,6.129384,NaN
8025,485,"Lyon, Auvergne-Rhône-Alpes, France",lyon,45.764043,4.835659,506615.0
8026,1477,"Cardiff, Wales, UK",cardiff,51.481655,-3.179193,335145.0
8027,1993,"Lublin, lubelskie, Polska",lublin,51.247235,22.555546,NaN
8028,2126,"Norwich, England, UK",norwich,52.628606,1.292270,186682.0
8029,2133,"Novi Sad, Војводина, Serbia",novi-sad,45.255105,19.845081,NaN
8030,2249,"Portsmouth, England, UK",portsmouth,50.803683,-1.075614,238137.0
8031,2448,"Southampton, England, UK",southampton,50.902535,-1.404189,253651.0
8032,10601,"Funchal, Madeira, Arquipelago da Madeira (Port...",funchal,32.649650,-16.908678,108469.0
8033,9457,"Brême, Brême, Deutschland",breme,53.081900,8.813300,NaN
8034,7523,"Malaga, Andalucía, España",malaga,36.711120,-4.431860,568479.0
8035,9964,"Saint-André-lez-Lille, Hauts-de-France, France",saint-andre-lez-lille,50.654250,3.047690,NaN
8036,10863,"Kiev, Шевченківський район, Ukraine",kiev,50.450100,30.523400,NaN
8037,11144,"Brighton, England, UK",brighton,50.822000,-0.137400,NaN
8038,11377,"Manises, Comunitat Valenciana, España",manises,39.493000,-0.462100,NaN
8039,11537,"South Cambridgeshire, England, UK",south-cambridgeshire,52.179600,-0.003400,NaN

In [5]:
stations = pd.read_csv("./data/stations.csv")
id2station = dict(zip(stations["id"], stations["unique_name"]))
stations

,id,unique_name,latitude,longitude
0,1,Aalen (Stuttgarter Straße),48.835296,10.092956
1,2,Aéroport Bordeaux-Mérignac,44.830226,-0.700883
2,3,Aéroport CDG,49.009900,2.559310
3,4,Aéroport de Berlin-Schönefeld,52.389446,13.520345
4,5,Aéroport de Dresden,51.123604,13.764737
5,6,Aéroport de Genève,46.230121,6.109288
6,7,Aéroport de Paris Beauvais-Tillé,49.462541,2.116935
7,8,Aéroport de Prague (bus station),50.107533,14.269309
8,9,Aéroport de Tegel,52.553760,13.292310
9,10,Aéroport Marco Polo,45.505432,12.338465
10,11,Aéroport Marco Polo (Arrêt ATVO),45.504946,12.339289
11,12,Aéroport Saint-Exupéry,45.719094,5.079539
12,13,Aéroport Schönefeld Terminal B,52.389278,13.519867
13,14,Aéroport Schwechat,48.119671,16.562988
14,15,Aéroport T2,48.356118,11.789859
15,16,Agen (Exit A62),44.165376,0.606235
16,17,Ahlbeck train station (Usedom),53.936700,14.189175
17,18,Ahrenshoop,54.379826,12.418920
18,19,Aichach (Bäckerei Zametzer),48.462035,11.134387
19,20,Aire de covoiturage de Kernilien,48.565704,-3.206075
20,21,Aire de Neustadt-Glewe,53.380065,11.626770
21,22,Albertville (Central bus station),45.672725,6.382503
22,23,Albstadt-Ebingen (Bus station),48.210265,9.030386
23,24,aleja Wojska Polskiego,50.818426,19.139737
24,25,Alessandria (Stazione FS),44.908637,8.608076
25,26,Alexanderplatz,52.523164,13.414503
26,27,Allmannsdorf,47.682164,9.202497
27,28,Alpe d'Huez,45.089737,6.075874
28,29,Alpi Hotel Bolzano,46.495724,11.355218
29,30,Alsfeld Pfefferhöhe,50.732885,9.241158
...,...,...,...,...
11005,11007,FORBACH - SAINT-AVOLD,49.142119,6.811598
11006,11008,Gare de Châlons-en-Champagne,48.955231,4.348720
11007,11009,Marčana,44.956581,13.954749
11008,11010,Metz - Thionville,49.195655,6.150010
11009,11011,Paris - Bibliothèque François Mitterrand,48.833584,2.375766
11010,11012,Paris - Pontault-Combault,48.801255,2.607598
11011,11013,Reims - Croix Rouge,49.231385,4.005747
11012,11014,Reims - Jean Jaurès,49.258678,4.045664
11013,11015,Reims - Orgeval,49.281821,4.027344
11014,11016,Sézanne,48.724195,3.722632
11015,11017,Vatry,48.780951,4.189308
11016,11018,Balingen Bahnhof,48.276260,8.850980
11017,11019,Berlin Schönefeld S-Bahn Station,52.388183,13.506350
11018,11020,Brsec D66,45.178791,14.233534
11019,11021,Budapest Shell Tankstelle,47.380044,19.053093
11020,11022,Buje Busbahnhof,45.407320,13.661250
11021,11023,Chisinau Busstation Süd,47.001438,28.814215
11022,11024,Como Grandate Bahnhof,45.781542,9.055727
11023,11025,Köln Access Tankstelle,50.913150,6.997170
11024,11026,Landshut Hauptbahnhof,48.547228,12.138414
11025,11027,Lerma,42.024616,-3.764318
11026,11028,Lodz ZOB,51.770107,19.467484
11027,11029,Madrid - Avénida de America,40.437989,-3.676581
11028,11030,Madrid - Gare routière Sud,40.394264,-3.677721
11029,11031,Neum Konzum Supermarkt,42.926580,17.613619
11030,11032,Porto Avda De Los Aliados,41.146922,-8.611122
11031,11033,Rom Ciampino Flughafen Piazzale Leonardo da Vinci,41.804102,12.597110
11032,11034,Sants,41.379892,2.139462
11033,11035,Vozilici D66,45.157136,14.164140
11034,11036,Wien Hotel ibis Vienna Airport,48.123229,16.437528

In [6]:
providers = pd.read_csv("./data/providers.csv")
id2provider = dict(zip(providers["id"], providers["fullname"]))
providers

,id,company_id,provider_id,name,fullname,has_wifi,has_plug,has_adjustable_seats,has_bicycle,transport_type
0,9,1,NaN,ouibus,Ouibus,True,True,True,False,bus
1,10,2,NaN,deinbus,Deinbus.de,False,False,False,False,bus
2,11,3,NaN,infobus,Infobus,False,False,False,False,bus
3,12,4,NaN,studentAgency,Student Agency,False,False,False,False,bus
4,13,5,NaN,flixbus,Flixbus,True,False,False,False,bus
5,14,6,NaN,driivme,DriiveMe,False,False,False,False,car
6,15,8,NaN,alsa,Alsa,False,False,False,False,bus
7,16,9,NaN,distribusion,Distribusion,False,False,False,False,bus
8,17,9,31,expressbusMunchen,Expressbus Munchen,False,False,False,False,bus
9,18,9,33,berlinLinienBus,Berlin Linien Bus,False,False,False,False,bus
10,19,9,37,ostfrieslandexpress,OstfrieslandExpress,False,False,False,False,bus
11,20,9,41,icBus,IC Bus,False,False,False,False,bus
12,21,9,45,busandfly,Busandfly,False,False,False,False,bus
13,22,9,47,publicexpress,Publicexpress,False,False,False,False,bus
14,23,9,49,hahnExpress,Hahn Express,False,False,False,False,bus
15,24,9,57,regionalverkehrErzgebirge,Regionalverkehr Erzgebirge,False,False,False,False,bus
16,25,9,65,autobusoberbayern,AutobusOberbayern,False,False,False,False,bus
17,26,9,77,schillingOmnibusverkehr,Schilling Omnibusverkehr,False,False,False,False,bus
18,27,9,81,kraftReisen,Kraft Reisen,False,False,False,False,bus
19,28,9,83,mayerMayer,Mayer Mayer,False,False,False,False,bus
20,29,9,85,ecolines,ECOLINES,False,False,False,False,bus
21,30,9,111,vogtlandFernbus,Vogtland Fernbus,False,False,False,False,bus
22,31,9,115,orlandREISEN,ORLAND REISEN,False,False,False,False,bus
23,32,9,129,postbus,Postbus,False,False,False,False,bus
24,33,9,141,expressbus,ExpressBus,False,False,False,False,bus
25,34,9,149,berlinShuttle,Berlin Shuttle,False,False,False,False,bus
26,35,9,151,matzesminibus,MatzesMinibus,False,False,False,False,bus
27,36,9,159,autotrans,Autotrans,False,False,False,False,bus
28,37,9,161,interbusKosiceExpress,Interbus Kosice Express,False,False,False,False,bus
29,38,9,163,nisEkspres,Nis Ekspres,False,False,False,False,bus
...,...,...,...,...,...,...,...,...,...,...
197,211,9,583,estGdansk,EST Gdansk,False,False,False,False,bus
198,212,9,589,drdTurizem,DRD Turizem,False,False,False,False,bus
199,214,9,593,euroclub,Euroclub,False,False,False,False,bus
200,215,9,595,panturist,Panturist,False,False,False,False,bus
201,216,9,597,navettedeVatry,Navette de Vatry,False,False,False,False,bus
202,217,9,599,flybusIceland,Flybus Iceland,False,False,False,False,bus
203,218,9,601,smsFlughafentransfer,SMS Flughafentransfer,False,False,False,False,bus
204,219,9,603,airDecker,Air Decker,False,False,False,False,bus
205,220,9,605,eilatShuttle,Eilat Shuttle,False,False,False,False,bus
206,221,9,607,wagnerTransport,Wagner Transport,False,False,False,False,bus
207,222,9,611,fiumicinoExpress,Fiumicino Express,False,False,False,False,bus
208,4511,10,NaN,vsc,Voyages SNCF,False,False,False,False,train
209,8371,20,I,isilines,Isilines,True,True,True,False,bus
210,8372,20,E,eurolines,Eurolines,False,False,True,False,bus
211,8373,20,M,movelia,Movelia,False,False,False,False,bus
212,8374,20,NaN,transdev,Transdev,NaN,NaN,NaN,NaN,bus
213,8375,10,0,trainter,TER,False,False,True,False,train
214,8376,10,1,tgv,TGV,False,False,True,False,train
215,8377,10,2,corailintercite,Intercités,False,False,True,False,train
216,8378,10,3,tramtrain,Tramtrain,False,False,True,False,train
217,8379,10,4,navette,Navette Keolis,False,False,True,False,bus
218,8380,10,5,train,TER,False,False,True,False,train
219,8381,10,6,coraillunea,Intercités de Nuit,False,False,True,False,train
220,8382,10,8,eurostar,Eurostar,False,False,True,False,train
221,8383,10,9,corail,Intercités,False,False,True,False,train
222,8384,10,16,thalys,Thalys,True,True,False,True,train
223,8385,11,NaN,bbc,Blablacar,False,False,False,False,carpooling
224,8387,30,NaN,vatry,Vatry,NaN,NaN,NaN,NaN,bus
225,8388,40,NaN,beauval,Beauval,NaN,NaN,NaN,NaN,bus
226,8389,12,NaN,idvroom,idVroom,False,False,False,False,carpooling

In [42]:
# grouped_by_station = tickets.groupby(["o_station", "d_station"])
grouped_by_station = tickets.head(1000).groupby(["o_station", "d_station"])

for (start_point, end_point), group in grouped_by_station:
    min_price = group["price_in_cents"].min()
    max_price = group["price_in_cents"].max()
    avg_price = group["price_in_cents"].mean()
    
    trip_information = pd.DataFrame([{
        "Departure station": id2station[start_point],
        "Arrival station": id2station[end_point],
        "Lowest bid (€)": min_price / 100,
        "Highest bid (€)": max_price / 100,
        "Average bid (€)": avg_price / 100
    }])
    trip_information = trip_information[["Departure station", "Arrival station", "Lowest bid (€)", "Highest bid (€)", "Average bid (€)"]]
    
    display(HTML("<h3>From: {}".format(id2station[start_point])))
    display(HTML("<h3>To: {}".format(id2station[end_point])))
    display(trip_information)
    
    display(HTML("<h4>You can choose your trip in the list below :"))
    
    min_group = group[group["price_in_cents"] == min_price]
    min_group.loc[:, ("o_station")] = min_group["o_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("o_city")] = min_group["o_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("d_station")] = min_group["d_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("d_city")] = min_group["d_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("company")] = min_group["company"].apply(lambda x: id2provider[x])
    min_group.loc[:, ("other_companies")] = min_group["other_companies"].apply(lambda x: [id2provider[int(y)] for y in x.strip("{}").split(",")])
    min_group.loc[:, ("middle_stations")] = min_group["middle_stations"].apply(lambda x: [id2station[int(y)] for y in x.strip("{}").split(",")])

    display(min_group[["o_station", "o_city", "d_station", "d_city", "price_in_cents", "departure_ts", "arrival_ts", "company", "other_companies", "middle_stations"]])
    
    print("=" * 100)

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare de Amsterdam Sloterdijk,40.0,40.0,40.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
570,Aéroport CDG,"Paris, Île-de-France, France",Gare de Amsterdam Sloterdijk,"Amsterdam, Noord-Holland, Nederland",4000,2017-10-25 22:55:00+00,2017-10-26 10:30:00+00,Flixbus,[Flixbus],"[Den Haag Centraal, Den Haag Centraal]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare Lille-Europe,15.9,15.9,15.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
55,Aéroport CDG,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1590,2017-10-06 12:30:00+00,2017-10-06 16:40:00+00,Ouibus,[Flixbus],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare routière de Berlin,40.0,66.5,53.25

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
431,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4000,2017-10-21 22:10:00+00,2017-10-23 02:05:00+00,Flixbus,[Student Agency],"[Gare routière de Magdeburg, Gare routière de ..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Berlin Wannsee (Station Wannsee),47.5,47.5,47.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
432,Aéroport CDG,"Paris, Île-de-France, France",Berlin Wannsee (Station Wannsee),"Berlin, Berlin, Deutschland",4750,2017-10-21 22:10:00+00,2017-10-22 15:20:00+00,Flixbus,[Flixbus],"[Gare routière de Magdeburg, Gare routière de ..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport Saint-Exupéry,Gare de Marseille Saint-Charles,25.9,27.9,26.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
660,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",2590,2017-10-31 22:45:00+00,2017-11-01 12:10:00+00,Flixbus,[Ouibus],"[Gare routière de Valence, Station Valence Sud]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport Saint-Exupéry,Gare routière de Genève,22.0,24.0,23.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
800,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière de Genève,"Genève, Genève, Schweiz",2200,2017-11-01 07:30:00+00,2017-11-01 16:30:00+00,Ouibus,[Flixbus],"[Gare routière de Chambéry, Gare routière de C..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue Georges Pompidou,Station Les Sabines,14.5,14.5,14.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
1,Avenue Georges Pompidou,"Orléans, Centre-Val de Loire, France",Station Les Sabines,"Montpellier, Occitanie, France",1450,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,Ouibus,[Flixbus],"[Chambre de Commerce, Gare routière de Bourges]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,CHU Brabois,Gare routière de Saarbrücken,11.0,21.0,16.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
628,CHU Brabois,"Nancy, Grand-Est, France",Gare routière de Saarbrücken,"Saarbrücken, Saarland, Deutschland",1100,2017-10-13 15:50:00+00,2017-10-14 10:45:00+00,Ouibus,[Flixbus],"[Gare de Luxembourg, Gare de Luxembourg]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare Lille-Europe,13.9,16.9,15.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
58,Gare de Bercy,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1390,2017-10-06 18:35:00+00,2017-10-06 23:45:00+00,Flixbus,[Flixbus],"[Parc Astérix, Parc Astérix]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Berlin,40.0,71.9,60.075

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
429,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4000,2017-10-21 21:30:00+00,2017-10-23 02:05:00+00,Flixbus,[Student Agency],"[Gare routière de Magdeburg, Gare routière de ..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Milano,47.9,53.9,50.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
667,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Milano,"Milano, Lombardia, Italia",4790,2017-10-28 16:00:00+00,2017-10-29 07:15:00+00,Flixbus,[Eurolines],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Pau Université,33.9,54.8,43.111111

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
794,Gare de Bercy,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3390,2017-10-30 13:00:00+00,2017-10-31 10:00:00+00,Flixbus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."
796,Gare de Bercy,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3390,2017-10-30 22:15:00+00,2017-10-31 16:00:00+00,Flixbus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Arles,31.0,44.9,37.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
538,Gare de Bercy,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3100,2017-10-06 11:10:00+00,2017-10-07 08:40:00+00,Ouibus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."
564,Gare de Bercy,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3100,2017-10-14 19:00:00+00,2017-10-15 08:40:00+00,Flixbus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Berlin Wannsee (Station Wannsee),47.5,58.5,51.333333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
430,Gare de Bercy,"Paris, Île-de-France, France",Berlin Wannsee (Station Wannsee),"Berlin, Berlin, Deutschland",4750,2017-10-21 21:30:00+00,2017-10-22 15:20:00+00,Flixbus,[Flixbus],"[Gare routière de Magdeburg, Gare routière de ..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Marseille Saint-Charles,Gare routière d'Avignon,10.0,13.0,11.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
772,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",1000,2017-10-08 08:30:00+00,2017-10-08 14:00:00+00,Ouibus,[Ouibus],"[Parking Relais Parnasse, Parking Relais Parna..."
813,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",1000,2017-10-08 08:30:00+00,2017-10-08 14:00:00+00,Ouibus,[Ouibus],"[Parking Relais Parnasse, Parking Relais Parna..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Marseille Saint-Charles,Avignon - Vedène,16.0,16.0,16.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
773,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Avignon - Vedène,"Avignon, Provence-Alpes-Côte d'Azur, France",1600,2017-10-08 14:20:00+00,2017-10-09 10:50:00+00,Ouibus,[Ouibus],"[Sortie Autoroute A7, Sortie Autoroute A7]"
814,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Avignon - Vedène,"Avignon, Provence-Alpes-Côte d'Azur, France",1600,2017-10-08 14:20:00+00,2017-10-09 10:50:00+00,Ouibus,[Ouibus],"[Sortie Autoroute A7, Sortie Autoroute A7]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Gare de Marseille Saint-Charles,34.0,49.0,38.475

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
585,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",3400,2017-10-14 19:00:00+00,2017-10-15 11:20:00+00,Isilines,[Isilines],[Gare Routière Internationale de Paris-Gallien...
588,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",3400,2017-10-14 22:20:00+00,2017-10-15 22:00:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Marseille,22.9,41.0,32.575

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
583,Gare Lille-Europe,"Lille, Hauts-de-France, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",2290,2017-10-14 17:00:00+00,2017-10-15 07:15:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"
584,Gare Lille-Europe,"Lille, Hauts-de-France, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",2290,2017-10-14 18:00:00+00,2017-10-15 07:15:00+00,Ouibus,[Flixbus],"[Aéroport CDG , Orly Sud]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Arles,26.3,29.2,27.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
523,Gare Lille-Europe,"Lille, Hauts-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",2630,2017-10-14 16:00:00+00,2017-10-15 08:40:00+00,Ouibus,[Flixbus],"[La Défense, Massy-Palaiseau]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Amiens,Paris Ibis Clichy Batignolles,11.9,11.9,11.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
664,Gare routière d'Amiens,"Amiens, Hauts-de-France, France",Paris Ibis Clichy Batignolles,"Paris, Île-de-France, France",1190,2017-10-19 10:50:00+00,2017-10-19 15:50:00+00,Flixbus,[Flixbus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Amiens,Paris Nord - St-Denis université,10.0,10.0,10.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
663,Gare routière d'Amiens,"Amiens, Hauts-de-France, France",Paris Nord - St-Denis université,"Paris, Île-de-France, France",1000,2017-10-19 10:50:00+00,2017-10-19 16:00:00+00,Flixbus,[Ouibus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Avignon,Gare de Marseille Saint-Charles,12.0,12.0,12.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
736,Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",1200,2017-10-06 22:30:00+00,2017-10-07 07:05:00+00,Ouibus,[Ouibus],"[Parking Circé, Parking Circé]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Avignon,Marseille,8.5,8.5,8.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
734,Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",850,2017-10-06 09:00:00+00,2017-10-07 13:10:00+00,Isilines,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."
735,Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",850,2017-10-06 22:30:00+00,2017-10-07 14:45:00+00,Ouibus,[Flixbus],"[Parking Relais Parnasse, Parking Relais Parna..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Limoges,Gare routière de Toulouse,14.5,34.0,25.575

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
865,Gare routière de Limoges,"Limoges, Nouvelle-Aquitaine, France",Gare routière de Toulouse,"Toulouse, Occitanie, France",1450,2017-10-06 11:45:00+00,2017-10-07 18:55:00+00,Flixbus,[Flixbus],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Metz,Gare Bruxelles-Midi,19.0,27.9,21.95

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
99,Gare routière de Metz,"Metz, Grand-Est, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",1900,2017-10-01 16:50:00+00,2017-10-02 09:30:00+00,Ouibus,[Ouibus],"[Gare de Luxembourg, Gare de Luxembourg]"
108,Gare routière de Metz,"Metz, Grand-Est, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",1900,2017-10-02 05:00:00+00,2017-10-02 15:30:00+00,Ouibus,[Ouibus],"[Gare de Luxembourg, Gare de Luxembourg]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Metz,Gare de Bercy,18.9,28.0,20.96

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
956,Gare routière de Metz,"Metz, Grand-Est, France",Gare de Bercy,"Paris, Île-de-France, France",1890,2017-10-14 10:50:00+00,2017-10-14 22:20:00+00,Ouibus,[Flixbus],"[CHU Brabois, Quai Sainte-Catherine]"
958,Gare routière de Metz,"Metz, Grand-Est, France",Gare de Bercy,"Paris, Île-de-France, France",1890,2017-10-14 22:50:00+00,2017-10-15 15:00:00+00,Ouibus,[Flixbus],"[CHU Brabois, Quai Sainte-Catherine]"
965,Gare routière de Metz,"Metz, Grand-Est, France",Gare de Bercy,"Paris, Île-de-France, France",1890,2017-10-14 10:50:00+00,2017-10-14 22:20:00+00,Ouibus,[Flixbus],"[CHU Brabois, Quai Sainte-Catherine]"
966,Gare routière de Metz,"Metz, Grand-Est, France",Gare de Bercy,"Paris, Île-de-France, France",1890,2017-10-14 22:50:00+00,2017-10-15 15:00:00+00,Ouibus,[Flixbus],"[CHU Brabois, Quai Sainte-Catherine]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Metz,Gare de Bruxelles-Nord,20.9,64.9,37.1125

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
111,Gare routière de Metz,"Metz, Grand-Est, France",Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",2090,2017-10-02 16:50:00+00,2017-10-03 07:30:00+00,Ouibus,[Flixbus],"[Gare de Luxembourg, Gare de Luxembourg]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulon,Gare routière de Saint-Étienne,19.0,23.9,21.45

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
456,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",1900,2017-10-20 16:30:00+00,2017-10-21 23:40:00+00,Isilines,[Flixbus],"[Gare SNCF Lyon-Perrache, Aéroport Saint-Exupéry]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulon,Gare SNCF Saint-Etienne Chateaucreux,27.0,27.0,27.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
457,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare SNCF Saint-Etienne Chateaucreux,"Saint-Étienne, Auvergne-Rhône-Alpes, France",2700,2017-10-20 16:30:00+00,2017-10-21 06:45:00+00,Isilines,[Ouibus],"[Gare SNCF Lyon-Perrache, Aéroport Saint-Exupéry]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Dijon Ville,Gare de Bercy,29.9,29.9,29.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
182,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",2990,2017-10-01 23:59:00+00,2017-10-02 11:05:00+00,Flixbus,[Flixbus],"[Lons-le-Saunier Autocar Transarc Credoz, Lons..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF La Rochelle,Parking Château Descas,10.9,34.9,19.057143

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
138,Gare SNCF La Rochelle,"La Rochelle, Nouvelle-Aquitaine, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",1090,2017-10-06 19:10:00+00,2017-10-07 03:55:00+00,Ouibus,[Flixbus],"[Gare de Haluchère-Batignolles, Gare de Haluch..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Gare de Haluchère-Batignolles,30.0,42.8,35.15

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
696,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-13 08:00:00+00,2017-10-13 21:15:00+00,Flixbus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."
702,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-12 09:00:00+00,2017-10-12 21:15:00+00,Flixbus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Gare de Haluchère-Batignolles,30.0,40.9,32.466667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
694,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-13 09:50:00+00,2017-10-13 21:15:00+00,Ouibus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."
697,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-13 13:45:00+00,2017-10-14 21:15:00+00,Ouibus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."
703,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-12 09:50:00+00,2017-10-12 21:15:00+00,Ouibus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."
705,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",3000,2017-10-12 17:50:00+00,2017-10-13 21:15:00+00,Ouibus,[Flixbus],"[Gare routière de Clermont-Ferrand, Gare routi..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Gare de Marseille Saint-Charles,16.0,18.0,17.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
659,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",1600,2017-10-31 19:25:00+00,2017-11-01 12:10:00+00,Flixbus,[Ouibus],"[Gare routière de Valence, Station Valence Sud]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Gare routière de Genève,13.9,16.0,14.95

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
804,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière de Genève,"Genève, Genève, Schweiz",1390,2017-11-01 13:00:00+00,2017-11-01 16:30:00+00,Flixbus,[Flixbus],"[Gare routière d'Annecy, Gare routière d'Annecy]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Marseille,19.8,19.8,19.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
657,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",1980,2017-10-31 09:10:00+00,2017-10-31 14:45:00+00,Flixbus,[Flixbus],"[Gare routière de Valence, Gare routière de Va..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,La Défense,Gare Lille-Europe,19.9,19.9,19.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
52,La Défense,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1990,2017-10-06 10:50:00+00,2017-10-06 16:40:00+00,Flixbus,[Flixbus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille,Gare routière d'Avignon,8.5,8.5,8.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
771,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",850,2017-10-08 07:00:00+00,2017-10-08 14:00:00+00,Flixbus,[Ouibus],"[Parking Relais Parnasse, Parking Relais Parna..."
812,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",850,2017-10-08 07:00:00+00,2017-10-08 14:00:00+00,Flixbus,[Ouibus],"[Parking Relais Parnasse, Parking Relais Parna..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille,Parking St. Bénézet,14.0,16.9,15.45

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
775,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Parking St. Bénézet,"Avignon, Provence-Alpes-Côte d'Azur, France",1400,2017-10-08 17:10:00+00,2017-10-09 01:40:00+00,Flixbus,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."
816,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Parking St. Bénézet,"Avignon, Provence-Alpes-Côte d'Azur, France",1400,2017-10-08 17:10:00+00,2017-10-09 01:40:00+00,Flixbus,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Massy-Palaiseau,Gare Lille-Europe,19.9,19.9,19.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
49,Massy-Palaiseau,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1990,2017-10-06 05:25:00+00,2017-10-06 16:40:00+00,Flixbus,[Flixbus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Massy-Palaiseau,Pau Université,33.9,41.9,38.08

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
795,Massy-Palaiseau,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3390,2017-10-30 13:45:00+00,2017-10-31 10:00:00+00,Flixbus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."
797,Massy-Palaiseau,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3390,2017-10-30 23:00:00+00,2017-10-31 16:00:00+00,Flixbus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Massy-Palaiseau,Arles,31.0,38.0,34.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
536,Massy-Palaiseau,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3100,2017-10-06 10:05:00+00,2017-10-07 08:40:00+00,Flixbus,[Flixbus],"[Clermont-Ferrand (Campus des Céseaux), Gare r..."
561,Massy-Palaiseau,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3100,2017-10-14 10:05:00+00,2017-10-15 08:40:00+00,Flixbus,[Flixbus],"[Clermont-Ferrand (Campus des Céseaux), Gare r..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Montauban Albasud,La Roche sur Yon,47.9,59.9,52.566667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
446,Montauban Albasud,"Montauban, Occitanie, France",La Roche sur Yon,"La Roche-sur-Yon, Pays de la Loire, France",4790,2017-10-19 13:50:00+00,2017-10-20 19:15:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare Lille-Europe,25.9,64.8,37.577586

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
511,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2590,2017-10-26 07:30:00+00,2017-10-26 23:25:00+00,Ouibus,[Ouibus],"[Gare de Bercy, Paris Nord - St-Denis université]"
518,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2590,2017-10-26 20:15:00+00,2017-10-27 12:50:00+00,Ouibus,[Ouibus],"[Gare de Bercy, Paris Nord - St-Denis université]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Les Sables d'Olonne,24.0,36.9,30.633333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
595,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Les Sables d'Olonne,"Les Sables-d'Olonne, Pays de la Loire, France",2400,2017-10-07 06:30:00+00,2017-10-08 12:05:00+00,Isilines,"[Flixbus, Flixbus]","[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking St. Bénézet,Marseille,14.0,16.9,15.45

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
732,Parking St. Bénézet,"Avignon, Provence-Alpes-Côte d'Azur, France",Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",1400,2017-10-06 04:05:00+00,2017-10-06 13:10:00+00,Flixbus,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Pau Université,Gare de Bercy,36.8,36.8,36.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
720,Pau Université,"Pau, Nouvelle-Aquitaine, France",Gare de Bercy,"Paris, Île-de-France, France",3680,2017-10-22 21:25:00+00,2017-10-23 16:20:00+00,Flixbus,[Ouibus],"[Parking Château Descas, Parking Château Descas]"
752,Pau Université,"Pau, Nouvelle-Aquitaine, France",Gare de Bercy,"Paris, Île-de-France, France",3680,2017-10-22 21:25:00+00,2017-10-23 16:20:00+00,Flixbus,[Ouibus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Quai du Havre,La Défense,14.0,14.0,14.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
662,Quai du Havre,"Rouen, Normandie, France",La Défense,"Paris, Île-de-France, France",1400,2017-10-19 13:10:00+00,2017-10-19 18:30:00+00,Ouibus,[Ouibus],"[Gare routière du Havre, Gare routière du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Gare Lille-Europe,28.5,54.5,37.041667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
61,Gare du Nord,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2850,2017-10-06 12:52:00+00,2017-10-06 14:21:00+00,TGV,[TGV],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Lille Chr,40.0,43.0,41.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
76,Gare du Nord,"Paris, Île-de-France, France",Lille Chr,"Lille, Hauts-de-France, France",4000,2017-10-06 20:52:00+00,2017-10-07 07:23:00+00,TGV,[TER],"[Lens, Lens]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Les Aubrais,Montpellier,74.0,135.0,95.366667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
2,Les Aubrais,"Orléans, Centre-Val de Loire, France",Montpellier,"Montpellier, Occitanie, France",7400,2017-10-13 13:27:00+00,2017-10-14 21:24:00+00,Intercités,"[Intercités, TGV]","[Montluçon (Central bus station), Montluçon (C..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare Lille-Europe,19.5,88.0,47.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
77,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1950,2017-10-06 21:32:00+00,2017-10-07 22:21:00+00,TGV,[TGV],[TGV Haute-Picardie (à environ 40km d'Amiens e...

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Valenciennes University,Arles,33.3,33.3,33.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
600,Valenciennes University,"Valenciennes, Hauts-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3330,2017-10-14 11:05:00+00,2017-10-15 08:40:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Massy-Palaiseau]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Les Sables d'Olonne,Parking Château Descas,16.9,24.0,20.38

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
597,Les Sables d'Olonne,"Les Sables-d'Olonne, Pays de la Loire, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",1690,2017-10-09 09:00:00+00,2017-10-11 03:55:00+00,Flixbus,"[Flixbus, Flixbus]","[Cholet (Central Bus Station ), Cholet (Centra..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Châlons-en-Champagne (Centre),Aéroport CDG,20.9,20.9,20.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
566,Châlons-en-Champagne (Centre),"Châlons-en-Champagne, Grand-Est, France",Aéroport CDG,"Paris, Île-de-France, France",2090,2017-10-01 17:00:00+00,2017-10-02 20:45:00+00,Flixbus,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Châlons-en-Champagne (Centre),Gare de Bercy,30.9,30.9,30.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
567,Châlons-en-Champagne (Centre),"Châlons-en-Champagne, Grand-Est, France",Gare de Bercy,"Paris, Île-de-France, France",3090,2017-10-01 17:00:00+00,2017-10-01 23:55:00+00,Flixbus,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille - Aéroport Marignane,Avignon - Vedène,19.0,19.0,19.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
774,Marseille - Aéroport Marignane,"Marseille, Provence-Alpes-Côte d'Azur, France",Avignon - Vedène,"Avignon, Provence-Alpes-Côte d'Azur, France",1900,2017-10-08 14:50:00+00,2017-10-09 10:50:00+00,Ouibus,[Ouibus],"[Sortie Autoroute A7, Sortie Autoroute A7]"
815,Marseille - Aéroport Marignane,"Marseille, Provence-Alpes-Côte d'Azur, France",Avignon - Vedène,"Avignon, Provence-Alpes-Côte d'Azur, France",1900,2017-10-08 14:50:00+00,2017-10-09 10:50:00+00,Ouibus,[Ouibus],"[Sortie Autoroute A7, Sortie Autoroute A7]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Montauban (Aussone),La Roche sur Yon,49.9,58.8,54.35

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
449,Montauban (Aussone),"Montauban, Occitanie, France",La Roche sur Yon,"La Roche-sur-Yon, Pays de la Loire, France",4990,2017-10-20 12:50:00+00,2017-10-21 13:20:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Ibis Clichy Batignolles,Gare Lille-Europe,19.9,19.9,19.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
50,Paris Ibis Clichy Batignolles,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1990,2017-10-06 09:05:00+00,2017-10-06 16:40:00+00,Flixbus,[Flixbus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Nord - St-Denis université,Gare Lille-Europe,11.0,19.9,16.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
57,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1100,2017-10-06 17:40:00+00,2017-10-07 18:45:00+00,Ouibus,[Flixbus],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Gare de Amsterdam Sloterdijk,31.0,31.0,31.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
571,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare de Amsterdam Sloterdijk,"Amsterdam, Noord-Holland, Nederland",3100,2017-10-25 23:00:00+00,2017-10-26 10:30:00+00,Eurolines,[Flixbus],"[Gare routière de Rotterdam Centraal, Gare rou..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Gare Lille-Europe,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
59,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1800,2017-10-06 18:00:00+00,2017-10-07 18:45:00+00,Isilines,[Flixbus],"[Quai du Havre, Quai du Havre]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Gare routière de Berlin,44.0,44.0,44.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
426,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4400,2017-10-22 23:00:00+00,2017-10-23 16:10:00+00,Eurolines,[Flixbus],"[Köln - Koeln, Leverkusen Mitte station (prev...."
433,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4400,2017-10-21 23:00:00+00,2017-10-23 00:10:00+00,Eurolines,[Flixbus],"[Köln - Koeln, Köln Bonn Flughafen]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Gare routière de Milano,38.0,38.0,38.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
666,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Milano,"Milano, Lombardia, Italia",3800,2017-10-28 14:15:00+00,2017-10-29 07:15:00+00,Isilines,[Eurolines],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"
669,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Milano,"Milano, Lombardia, Italia",3800,2017-10-27 14:15:00+00,2017-10-28 07:15:00+00,Isilines,[Eurolines],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Pau Université,34.0,49.9,40.116667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
779,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3400,2017-10-29 10:00:00+00,2017-10-30 10:00:00+00,Isilines,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."
798,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3400,2017-10-30 23:30:00+00,2017-10-31 16:00:00+00,Isilines,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Arles,38.0,38.0,38.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
542,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3800,2017-10-06 23:15:00+00,2017-10-08 08:40:00+00,Isilines,[Flixbus],"[Gare routière de Bourges, Gare routière de Bo..."
565,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3800,2017-10-14 23:15:00+00,2017-10-16 08:40:00+00,Isilines,[Flixbus],"[Gare routière de Bourges, Gare routière de Bo..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Berlin Wannsee (Station Wannsee),76.5,76.5,76.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
434,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Berlin Wannsee (Station Wannsee),"Berlin, Berlin, Deutschland",7650,2017-10-21 23:00:00+00,2017-10-22 19:50:00+00,Eurolines,[Flixbus],"[Gare d'Aachen West, Gare d'Aachen West]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Montauban - Salvador Allende,La Roche sur Yon,40.0,40.0,40.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
448,Montauban - Salvador Allende,"Montauban, Occitanie, France",La Roche sur Yon,"La Roche-sur-Yon, Pays de la Loire, France",4000,2017-10-20 09:00:00+00,2017-10-21 13:20:00+00,Eurolines,"[Isilines, Flixbus]","[Parking les Peupliers, Parking les Peupliers,..."

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Valenciennes - Maréchal Foch,Arles,36.3,36.3,36.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
601,Valenciennes - Maréchal Foch,"Valenciennes, Hauts-de-France, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",3630,2017-10-14 11:15:00+00,2017-10-15 08:40:00+00,Eurolines,[Flixbus],[Gare Routière Internationale de Paris-Gallien...

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,"Arras (Bus stop on ""rue du Docteur Brassart"")",Aéroport de Paris Beauvais-Tillé,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
459,"Arras (Bus stop on ""rue du Docteur Brassart"")","Arras, Hauts-de-France, France",Aéroport de Paris Beauvais-Tillé,"Beauvais Aéroport Paris, Hauts-de-France, France",1800,2017-10-24 09:55:00+00,2017-10-24 19:00:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Aéroport CDG ]"
460,"Arras (Bus stop on ""rue du Docteur Brassart"")","Arras, Hauts-de-France, France",Aéroport de Paris Beauvais-Tillé,"Beauvais Aéroport Paris, Hauts-de-France, France",1800,2017-10-25 09:55:00+00,2017-10-25 19:00:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Aéroport CDG ]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,"Boulogne-sur-Mer (Bus Stop on ""Quai Thurot"")","Arras (Bus stop on ""rue du Docteur Brassart"")",22.9,30.8,26.85

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
680,"Boulogne-sur-Mer (Bus Stop on ""Quai Thurot"")","Boulogne-sur-Mer, Hauts-de-France, France","Arras (Bus stop on ""rue du Docteur Brassart"")","Arras, Hauts-de-France, France",2290,2017-10-27 13:40:00+00,2017-10-28 11:50:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Paris Nord - St-Denis université]"

====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Vatry,Troyes (Gare routière),53.0,53.0,53.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
652,Vatry,"Aéroport Paris-Vatry (Bussy-Lettrée), Grand-Es...",Troyes (Gare routière),"Troyes, Grand-Est, France",5300,2017-10-18 16:45:00+00,2017-10-19 14:40:00+00,Vatry,[Flixbus],"[Paris - Bibliothèque François Mitterrand, Gar..."

====================================================================================================

In [ ]:
datetime.