In [1]:
import pandas as pd
import numpy as np
import dateutil.parser as parser

from IPython.display import display, HTML

### Defining some helper functions

In [2]:
def parse2timestamp(iso_time):
    """
    Helper function to parse an ISO-8601 formatted time to a timestamp
    """
    return parser.parse(iso_time).timestamp()

In [3]:
from math import radians, sin, cos, acos

def coord2distance (lat1, lng1, lat2, lng2, earth_radius=6371.0):
    """
    Helper function to calculate the distance between two geographic points based on their coordinates
    """
    lat1 = radians(lat1)
    lng1 = radians(lng1)
    lat2 = radians(lat2)
    lng2 = radians(lng2)
    
    return earth_radius * acos(sin(lat1) * sin(lat2) + cos(lat1) * cos(lat2) * cos(lng1 - lng2))

def id2coordinates (stationId, df):
    """
    Helper function to match the station or city id to its actual coordinates
    """
    lat = df.loc[df["id"] == int(stationId)]["latitude"]
    lng = df.loc[df["id"] == int(stationId)]["longitude"]

    return (lat, lng)

def trip_distance(row):
    """
    Calculate distance between stations, or if not available between respective cities, taking into account middle stations
    """
    total_distance = 0

    starting_coord = id2coordinates(row["o_station"], stations) if pd.notnull(row["o_station"]) else id2coordinates(row["o_city"], cities)
    middle_coord = [id2coordinates(x, stations) for x in row["middle_stations"].strip("{}").split(",")] if pd.notnull(row["middle_stations"]) else []
    destination_coord = id2coordinates(row["d_station"], stations) if pd.notnull(row["d_station"]) else id2coordinates(row["d_city"], cities)

    try:
        prev = starting_coord
        for mid in middle_coord:
            total_distance = total_distance + coord2distance(*prev, *mid)
            prev = mid

        total_distance = total_distance + coord2distance(*prev, *destination_coord)
    except ValueError:
        total_distance = -1
    
    return total_distance

### Loading Datasets

In [4]:
cities = pd.read_csv("./data/cities.csv")
id2city = dict(zip(cities["id"], cities["local_name"]))    # A map to match city id to its name

cities.head(10)

,id,local_name,unique_name,latitude,longitude,population
0,5159,"Padua, Veneto, Italia",padua,45.406435,11.876761,209678.0
1,76,"Barcelona, Cataluña, España",barcelona,41.385064,2.173404,1611822.0
2,81,"Basel, Basel-Stadt, Schweiz",basel,47.593437,7.619812,NaN
3,259,"Erlangen, Bayern, Deutschland",erlangen,49.589674,11.011961,105412.0
4,11979,"Balș, Olt, România",balș,44.353354,24.095672,NaN
5,10314,"Град Пожаревац, Централна Србија, Србија",град-пожаревац,44.619095,21.176522,NaN
6,11155,"Bussy-Lettrée, Grand-Est, France",bussy-lettree,48.804600,4.259500,NaN
7,11788,"Chamonix, Valle d'Aosta, Italia",chamonix-italia,45.817156,6.952375,NaN
8,11984,"Borger, Texas, United States of America",borger,35.667820,-101.397388,NaN
9,11825,"okres Zvolen, Banskobystrický kraj, Slovensko",okres-zvolen,48.576181,19.137116,NaN

In [5]:
stations = pd.read_csv("./data/stations.csv")
id2station = dict(zip(stations["id"], stations["unique_name"]))    # A map to match station id to its name

stations.head(10)

   id                       unique_name   latitude  longitude
0   1        Aalen (Stuttgarter Straße)  48.835296  10.092956
1   2        Aéroport Bordeaux-Mérignac  44.830226  -0.700883
2   3                     Aéroport CDG   49.009900   2.559310
3   4    Aéroport de Berlin-Schönefeld   52.389446  13.520345
4   5               Aéroport de Dresden  51.123604  13.764737
5   6                Aéroport de Genève  46.230121   6.109288
6   7  Aéroport de Paris Beauvais-Tillé  49.462541   2.116935
7   8  Aéroport de Prague (bus station)  50.107533  14.269309
8   9                 Aéroport de Tegel  52.553760  13.292310
9  10               Aéroport Marco Polo  45.505432  12.338465

In [6]:
providers = pd.read_csv("./data/providers.csv")
id2provider = dict(zip(providers["id"], providers["fullname"]))    # A map to match provider id to its name

providers.head(10)

,id,company_id,provider_id,name,fullname,has_wifi,has_plug,has_adjustable_seats,has_bicycle,transport_type
0,9,1,NaN,ouibus,Ouibus,True,True,True,False,bus
1,10,2,NaN,deinbus,Deinbus.de,False,False,False,False,bus
2,11,3,NaN,infobus,Infobus,False,False,False,False,bus
3,12,4,NaN,studentAgency,Student Agency,False,False,False,False,bus
4,13,5,NaN,flixbus,Flixbus,True,False,False,False,bus
5,14,6,NaN,driivme,DriiveMe,False,False,False,False,car
6,15,8,NaN,alsa,Alsa,False,False,False,False,bus
7,16,9,NaN,distribusion,Distribusion,False,False,False,False,bus
8,17,9,31,expressbusMunchen,Expressbus Munchen,False,False,False,False,bus
9,18,9,33,berlinLinienBus,Berlin Linien Bus,False,False,False,False,bus

###  Loading Main Dataset

In this dataset, we need to calculate the time spent during each trip, and for doing so, we need to parse the given departure and arrival times represented as string to float values representing timestamps. For more informations on how this is done, see the helper function `parse2timestamp`.

Also, we need to know the distance run by each trip, and with the given informations, we can approxiate this distance using the geographic coordinates of the stations and/or the cities. For more information on how this is done, see the helper function(s) `trip_distance`.

Note 1: To limitate the computational time, we take a sub-sample from the main dataset.

Note 2: In the following procedures, NaNs are not actually an issue, so we don't need to drop them.

In [7]:
tickets = pd.read_csv("./data/ticket_data.csv")
tickets = tickets.sample(frac=1.0).reset_index(drop=True)    # Taking a small subset with index reset (in order to avoid huge computations)

# Calculating trip durations
tickets["trip_duration"] = tickets.apply(lambda row: parse2timestamp(row["arrival_ts"]) - parse2timestamp(row["departure_ts"]), axis=1)

# Trying to approximate trip distance using geographique coordinates
tickets["trip_distance_km"] = tickets.apply(trip_distance, axis=1)

tickets.head(10)

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,trip_duration,trip_distance_km
0,6804126,8385,NaN,NaN,2017-10-06 09:00:00+00,2017-10-06 20:00:00+00,7100,2017-10-04 09:42:30.295+00,NaN,NaN,1061,126,39600.0,760.813531
1,6837498,8380,571.0,585.0,2017-10-14 10:37:00+00,2017-10-14 12:44:00+00,2980,2017-10-11 19:40:06.532+00,"{4455,4455}",{8380},185,485,7620.0,143.523381
2,6807834,8385,NaN,NaN,2017-10-06 08:00:00+00,2017-10-06 10:30:00+00,1700,2017-10-04 21:11:25.561+00,NaN,NaN,628,453,9000.0,205.842591
3,6820870,8385,NaN,NaN,2017-10-13 17:10:00+00,2017-10-13 20:50:00+00,850,2017-10-08 00:51:07.984+00,NaN,NaN,628,611,13200.0,109.663930
4,6822935,8385,NaN,NaN,2017-10-22 15:00:00+00,2017-10-22 19:00:00+00,3250,2017-10-08 14:39:34.097+00,NaN,NaN,628,562,14400.0,338.320135
5,6830679,8376,6799.0,5915.0,2017-10-11 13:52:00+00,2017-10-11 19:23:00+00,11780,2017-10-10 07:40:11.709+00,"{860,860}",{8380},628,348,19860.0,685.535176
6,6825243,8385,NaN,NaN,2017-10-09 15:30:14+00,2017-10-09 20:20:14+00,3500,2017-10-08 18:29:41.199+00,NaN,NaN,628,485,17400.0,390.628263
7,6850559,8385,NaN,NaN,2017-10-20 13:00:00+00,2017-10-20 15:50:00+00,1550,2017-10-15 14:16:11.032+00,NaN,NaN,628,453,10200.0,205.842591
8,6845992,8371,10642.0,10014.0,2017-12-22 14:45:00+00,2017-12-24 08:00:00+00,9390,2017-10-14 07:12:47.165+00,"{500,245}",{13},628,7507,148500.0,1076.074089
9,6868341,8380,279.0,747.0,2017-10-28 12:39:00+00,2017-10-28 17:55:00+00,6000,2017-10-19 07:44:39.897+00,"{5758,5758}",{8380},628,488,18960.0,337.796114

### Grouping the trips
We group the trips by their origine station and destination station.

We do this in order to calculate statistics (such as min, max, and average) about price and trip duration.

Notice that stations for some trips are not indicated (NaNs) and thus those trips are not included in the survey. A solution for this would be to group by cities instead of stations.

In [8]:
grouped_by_station = tickets.groupby(["o_station", "d_station"])
# grouped_by_city = tickets.groupby(["o_city", "d_city"])

#### Statistics about trip price

In [9]:
for (start_point, end_point), group in grouped_by_station:
    
    # The stats
    min_price = group["price_in_cents"].min()
    max_price = group["price_in_cents"].max()
    avg_price = group["price_in_cents"].mean()

    # Creating a new dataframe holding the stats
    trip_information = pd.DataFrame([{
        "Departure station": id2station[start_point],
        "Arrival station": id2station[end_point],
        "Lowest bid (€)": min_price / 100,
        "Highest bid (€)": max_price / 100,
        "Average bid (€)": avg_price / 100
    }])
    trip_information = trip_information[["Departure station", "Arrival station", "Lowest bid (€)", "Highest bid (€)", "Average bid (€)"]]
    
    # Arranging the display
    display(HTML("<h3>From: {}".format(id2station[start_point])))
    display(HTML("<h3>To: {}".format(id2station[end_point])))
    display(trip_information)
    display(HTML("<h4>You can choose your trip in the list below :"))
    
    # Extracting a sub-dataframe holding trips with lowest bids for each couple (o_station, d_station)
    # Notice that some transformations are done to make the display human-friendly
    min_group = group[group["price_in_cents"] == min_price]
    min_group.loc[:, ("o_station")] = min_group["o_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("o_city")] = min_group["o_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("d_station")] = min_group["d_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("d_city")] = min_group["d_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("company")] = min_group["company"].apply(lambda x: id2provider[x])
    min_group.loc[:, ("other_companies")] = min_group["other_companies"].apply(lambda x: [id2provider[int(y)] for y in x.strip("{}").split(",")])
    min_group.loc[:, ("middle_stations")] = min_group["middle_stations"].apply(lambda x: [id2station[int(y)] for y in x.strip("{}").split(",")])

    min_group = min_group[["o_station", "o_city", "d_station", "d_city", "price_in_cents", "departure_ts", "arrival_ts", "company", "trip_distance_km", "other_companies", "middle_stations"]]
    min_group = min_group.head(5)
    
    display(min_group)
    
    print("=" * 100)
    print("=" * 100)

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare de Liège-Guillemins,27.9,27.9,27.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
130,Aéroport CDG,"Paris, Île-de-France, France",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",2790,2017-10-21 17:40:00+00,2017-10-22 16:15:00+00,Flixbus,360.644161,[Deinbus.de],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare routière Aéroport Nice Terminal 2,58.8,58.8,58.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
487,Aéroport CDG,"Paris, Île-de-France, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",5880,2017-10-20 00:50:00+00,2017-10-20 16:45:00+00,Flixbus,699.496681,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare routière de Niort,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
269,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",2000,2017-10-30 02:40:00+00,2017-10-30 12:35:00+00,Flixbus,491.572627,[Flixbus],"[Gare de Haluchère-Batignolles, Gare de Haluch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare routière de Rotterdam Centraal,28.9,28.9,28.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
205,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Rotterdam Centraal,"Rotterdam, Zuid-Holland, Nederland",2890,2017-10-06 13:05:00+00,2017-10-06 19:40:00+00,Ouibus,357.368257,[Flixbus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare routière de Valence,31.8,31.8,31.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
454,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Valence,"Valence, Auvergne-Rhône-Alpes, France",3180,2017-10-31 00:50:00+00,2017-10-31 10:40:00+00,Flixbus,492.262581,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport CDG,Gare SNCF Lyon-Perrache,37.9,37.9,37.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
253,Aéroport CDG,"Paris, Île-de-France, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",3790,2017-11-02 00:50:00+00,2017-11-02 09:35:00+00,Flixbus,415.590836,[Flixbus],"[Gare SNCF Chalon-sur-Saône, Gare SNCF Chalon-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport Saint-Exupéry,Avenue Henry Mouret,23.0,23.0,23.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
481,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Avenue Henry Mouret,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",2300,2017-10-12 08:30:00+00,2017-10-12 14:00:00+00,Ouibus,251.313679,[Flixbus],"[Gare routière de Valence, Gare routière de Va..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport Saint-Exupéry,Gare SNCF Biarritz,43.9,43.9,43.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
324,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Gare SNCF Biarritz,"Biarritz, Nouvelle-Aquitaine, France",4390,2017-10-05 22:45:00+00,2017-10-06 11:45:00+00,Flixbus,612.481857,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Aéroport Saint-Exupéry,Nîmes - Mas de Vignolles - Nimes,22.0,22.0,22.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
623,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Nîmes - Mas de Vignolles - Nimes,"Nîmes, Occitanie, France",2200,2017-10-31 14:30:00+00,2017-10-31 19:45:00+00,Ouibus,218.09387,[Eurolines],"[Gare routière de Valence, Gare routière de Va..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue Charles Floquet,Parking Château Descas,21.9,21.9,21.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
2,Avenue Charles Floquet,"Biarritz, Nouvelle-Aquitaine, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",2190,2017-10-21 18:15:00+00,2017-10-22 00:50:00+00,Flixbus,267.248271,[Flixbus],"[Pau Université, Pau Université]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue de Lattre de Tassigny,Paris Austerlitz,48.8,48.8,48.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
296,Avenue de Lattre de Tassigny,"Angoulême, Nouvelle-Aquitaine, France",Paris Austerlitz,"Paris, Île-de-France, France",4880,2017-10-12 07:35:00+00,2017-10-12 16:39:00+00,TER,432.285834,[Intercités],"[Limoges Montjovis, Gare routière de Limoges]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue du Campon,Station Les Sabines,26.9,34.8,30.85

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
176,Avenue du Campon,"Cannes, Provence-Alpes-Côte d'Azur, France",Station Les Sabines,"Montpellier, Occitanie, France",2690,2017-10-20 19:00:00+00,2017-10-21 09:25:00+00,Flixbus,254.500049,[Flixbus],"[Avenue Henry Mouret, Avenue Henry Mouret]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue du Maréchal Foch,Avenue du Campon,34.8,34.8,34.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
733,Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",Avenue du Campon,"Cannes, Provence-Alpes-Côte d'Azur, France",3480,2017-10-20 13:20:00+00,2017-10-21 15:55:00+00,Flixbus,487.744146,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Avenue Georges Pompidou,Gare SNCF Lyon-Perrache,33.9,33.9,33.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
404,Avenue Georges Pompidou,"Orléans, Centre-Val de Loire, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",3390,2017-11-03 21:10:00+00,2017-11-04 19:15:00+00,Ouibus,467.315377,[Flixbus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Centre Commercial Ouest,Orly Sud,24.0,24.0,24.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
681,Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",Orly Sud,"Paris, Île-de-France, France",2400,2017-11-07 18:05:00+00,2017-11-08 05:00:00+00,Ouibus,476.350912,[Ouibus],"[Gare routière de Clermont-Ferrand, Gare routi..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Champagne-Ardenne TGV,Rouen Rive Droite,38.5,38.5,38.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
358,Champagne-Ardenne TGV,"Reims, Grand-Est, France",Rouen Rive Droite,"Rouen, Normandie, France",3850,2017-10-19 14:15:00+00,2017-10-19 17:48:00+00,TGV,237.257613,[Intercités],"[Gare de l'Est, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Châteauroux (central bus station),Gare de Bercy,41.0,41.0,41.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
204,Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",Gare de Bercy,"Paris, Île-de-France, France",4100,2017-10-29 14:45:00+00,2017-10-29 21:50:00+00,Isilines,457.38929,[Ouibus],"[Gare routière de Limoges, Gare routière de Li..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Créavallée Nord,Gare SNCF Dijon Ville,44.9,44.9,44.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
398,Créavallée Nord,"Périgueux, Nouvelle-Aquitaine, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",4490,2017-11-01 00:35:00+00,2017-11-01 12:40:00+00,Flixbus,543.556863,[Ouibus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Bruxelles-Midi,Gare routière de Poitiers,178.0,178.0,178.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
435,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Poitiers,"Poitiers, Nouvelle-Aquitaine, France",17800,2017-10-06 10:43:00+00,2017-10-06 14:45:00+00,Thalys,556.260868,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Bruxelles-Midi,Gare routière de Saint-Brieuc,181.0,193.0,187.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
180,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Saint-Brieuc,"Saint-Brieuc, Bretagne, France",18100,2017-10-28 08:43:00+00,2017-10-28 14:17:00+00,Thalys,639.193579,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Bruxelles-Midi,Gare routière de Toulouse,44.8,44.8,44.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
649,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Toulouse,"Toulouse, Occitanie, France",4480,2017-10-27 02:50:00+00,2017-10-27 18:55:00+00,Flixbus,849.521991,[Flixbus],"[Gare de Bercy, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Bruxelles-Midi,Gare routière Victoria Coach,38.0,38.0,38.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
42,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière Victoria Coach,"London, England, United Kingdom",3800,2017-11-03 09:50:00+00,2017-11-03 16:30:00+00,Ouibus,335.549962,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Bruxelles-Midi,Parking Château Descas,188.0,193.0,190.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
286,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",18800,2017-10-05 08:13:00+00,2017-10-05 12:58:00+00,Thalys,761.226223,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare centrale de Dresden,Gare de Liège-Guillemins,50.9,50.9,50.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
490,Gare centrale de Dresden,"Praha, Praha, Česko",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",5090,2017-11-26 11:05:00+00,2017-11-27 05:45:00+00,Flixbus,583.671034,[Deinbus.de],"[Cologne East (Bergisch Gladbach, Refrath), Kö..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare centrale de Munich,Gare de Bercy,51.8,51.8,51.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
431,Gare centrale de Munich,"München, Bayern, Deutschland",Gare de Bercy,"Paris, Île-de-France, France",5180,2017-10-15 19:30:00+00,2017-10-16 08:05:00+00,Flixbus,679.687865,[Flixbus],"[Gare routière de Strasbourg, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare d'Amsterdam Centraal,Gare du Nord,98.0,98.0,98.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
125,Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",Gare du Nord,"Paris, Île-de-France, France",9800,2017-10-20 12:17:00+00,2017-10-20 17:00:00+00,Thalys,435.264159,[TGV],"[Gare Bruxelles-Midi, Gare Bruxelles-Midi]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Avenue du Maréchal Foch,20.9,20.9,20.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
247,Gare de Bercy,"Paris, Île-de-France, France",Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",2090,2017-10-13 13:00:00+00,2017-10-14 04:15:00+00,Flixbus,339.002902,[Flixbus],"[Gare SNCF Auxerre, Gare SNCF Auxerre]"
530,Gare de Bercy,"Paris, Île-de-France, France",Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",2090,2017-10-13 13:00:00+00,2017-10-14 04:15:00+00,Flixbus,339.002902,[Flixbus],"[Gare SNCF Auxerre, Gare SNCF Auxerre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare de Amsterdam Sloterdijk,23.0,23.0,23.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
450,Gare de Bercy,"Paris, Île-de-France, France",Gare de Amsterdam Sloterdijk,"Amsterdam, Noord-Holland, Nederland",2300,2017-10-27 10:00:00+00,2017-10-27 21:05:00+00,Flixbus,434.6872,[Flixbus],"[Den Haag Centraal, Den Haag Centraal]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare de Luxembourg,21.0,21.0,21.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
548,Gare de Bercy,"Paris, Île-de-France, France",Gare de Luxembourg,"Luxembourg, Canton Luxembourg, Luxembourg",2100,2017-11-10 08:00:00+00,2017-11-10 18:20:00+00,Ouibus,382.216203,[Ouibus],"[CHU Brabois, CHU Brabois]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare Lille-Europe,10.0,19.9,14.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
587,Gare de Bercy,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1000,2017-10-14 12:45:00+00,2017-10-14 20:00:00+00,Flixbus,206.802995,[Flixbus],"[Parc Astérix, Parc Astérix]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Bologne,56.9,56.9,56.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
39,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Bologne,"Bologna, Emilia-Romagna, Italia",5690,2017-10-13 23:00:00+00,2017-10-14 16:20:00+00,Ouibus,837.126678,[Flixbus],"[Gare routière de Milano, Milan (San Donato M3)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Metz,23.9,23.9,23.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
273,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Metz,"Metz, Grand-Est, France",2390,2017-10-14 10:30:00+00,2017-10-14 16:10:00+00,Flixbus,284.331309,[Isilines],"[Champagne-Ardenne TGV, Champagne-Ardenne TGV]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Niort,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
355,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",2000,2017-10-30 06:30:00+00,2017-10-30 19:40:00+00,Ouibus,363.77637,[Flixbus],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Rotterdam Centraal,37.9,37.9,37.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
568,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Rotterdam Centraal,"Rotterdam, Zuid-Holland, Nederland",3790,2017-10-06 14:00:00+00,2017-10-06 22:50:00+00,Ouibus,378.794301,[Flixbus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare routière de Strasbourg,29.9,29.9,29.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
170,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2990,2017-12-23 18:00:00+00,2017-12-24 15:40:00+00,Flixbus,404.178999,[Ouibus],"[Quai Sainte-Catherine, CHU Brabois]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Gare SNCF Lyon Part-Dieu,73.2,75.4,74.55

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
531,Gare de Bercy,"Paris, Île-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7320,2017-10-22 22:39:00+00,2017-10-23 10:44:00+00,TER,391.889246,[TER],"[Villeneuve-sur-Yonne, Villeneuve-sur-Yonne]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Lons-le-Saunier Autocar Transarc Credoz,17.0,17.0,17.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
646,Gare de Bercy,"Paris, Île-de-France, France",Lons-le-Saunier Autocar Transarc Credoz,"Lons-le-Saunier, Bourgogne-Franche-Comté, France",1700,2017-10-24 09:30:00+00,2017-10-24 18:50:00+00,Ouibus,339.623359,[Flixbus],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Pau Université,24.0,24.0,24.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
213,Gare de Bercy,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-12 15:15:00+00,2017-10-13 06:40:00+00,Ouibus,668.064021,[Flixbus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Saumur Nord -Vivy,43.8,43.8,43.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
575,Gare de Bercy,"Paris, Île-de-France, France",Saumur Nord -Vivy,"Saumur, Pays-de-la-Loire, France",4380,2017-10-31 12:00:00+00,2017-10-31 22:50:00+00,Flixbus,610.044875,[Flixbus],"[Gare routière de Vannes, Gare routière de Van..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Thiers,70.6,70.6,70.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
40,Gare de Bercy,"Paris, Île-de-France, France",Thiers,"Thiers, Auvergne-Rhône-Alpes, France",7060,2017-10-26 13:00:00+00,2017-10-26 18:05:00+00,Intercités,379.958936,[TER],"[Clermont Ferrand, Clermont Ferrand]"
340,Gare de Bercy,"Paris, Île-de-France, France",Thiers,"Thiers, Auvergne-Rhône-Alpes, France",7060,2017-10-28 07:00:00+00,2017-10-28 13:00:00+00,Intercités,379.958936,[TER],"[Clermont Ferrand, Clermont Ferrand]"
564,Gare de Bercy,"Paris, Île-de-France, France",Thiers,"Thiers, Auvergne-Rhône-Alpes, France",7060,2017-10-24 09:00:00+00,2017-10-24 17:30:00+00,Intercités,379.958936,[TER],"[Clermont Ferrand, Clermont Ferrand]"
651,Gare de Bercy,"Paris, Île-de-France, France",Thiers,"Thiers, Auvergne-Rhône-Alpes, France",7060,2017-10-27 14:00:00+00,2017-10-27 19:00:00+00,Intercités,379.958936,[TER],"[Clermont Ferrand, Clermont Ferrand]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bercy,Nantes Halluchère - Route de Paris,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
384,Gare de Bercy,"Paris, Île-de-France, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2000,2017-10-06 08:15:00+00,2017-10-06 16:00:00+00,Ouibus,346.181332,[Isilines],"[Gare routière d'Angers, Gare routière d'Angers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bruxelles-Nord,Gare d'Amsterdam Centraal,42.6,42.6,42.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
156,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",4260,2017-10-13 09:00:00+00,2017-10-13 13:06:00+00,TGV,173.388262,[TGV],"[Antwerp (Berchem), Antwerp (Koningin Astridpl..."
300,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",4260,2017-10-13 07:00:00+00,2017-10-13 11:06:00+00,TGV,173.388262,[TGV],"[Antwerp (Berchem), Antwerp (Koningin Astridpl..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bruxelles-Nord,Gare routière Victoria Coach,49.0,49.0,49.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
70,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière Victoria Coach,"London, England, United Kingdom",4900,2017-11-03 16:20:00+00,2017-11-04 05:45:00+00,Flixbus,439.926583,[Eurolines],"[Gare routière de Rotterdam Centraal, Gare rou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Bruxelles-Nord,Parking Château Descas,28.0,44.9,36.45

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
740,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",2800,2017-10-05 08:00:00+00,2017-10-05 23:45:00+00,Flixbus,771.9346,[Isilines],"[Gare de Bercy, Gare Routière Internationale d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Haluchère-Batignolles,Gare SNCF Lorient,13.8,13.8,13.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
516,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Gare SNCF Lorient,"Lorient, Bretagne, France",1380,2017-11-05 17:15:00+00,2017-11-05 21:30:00+00,Ouibus,227.9344,[Flixbus],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Haluchère-Batignolles,Station Les Sabines,41.8,41.8,41.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
132,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Station Les Sabines,"Montpellier, Occitanie, France",4180,2017-10-30 23:30:00+00,2017-10-31 10:55:00+00,Flixbus,659.933286,[Flixbus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Haluchère-Batignolles,Troyes (Gare routière),24.0,24.0,24.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
65,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Troyes (Gare routière),"Troyes, Grand-Est, France",2400,2017-11-17 09:30:00+00,2017-11-17 17:45:00+00,Ouibus,477.390243,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Haluchère-Batignolles,Gare Routière Internationale de Paris-Gallieni...,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
475,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",1800,2017-10-20 09:00:00+00,2017-10-20 21:55:00+00,Flixbus,376.358722,[Isilines],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Marseille Saint-Charles,Cannes,21.0,25.0,23.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
9,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",2100,2017-10-14 20:27:00+00,2017-10-15 11:04:00+00,TER,-1.0,[TGV],"[Saint-Raphaël - Valescure, Saint-Raphaël - Va..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Marseille Saint-Charles,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,117.5,117.5,117.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
614,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",11750,2017-10-28 11:10:00+00,2017-10-28 17:09:00+00,TER,656.607502,[TGV],"[Gare routière de Valence, Valence Tgv Rhone-A..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de Marseille Saint-Charles,Paris Gare de Lyon,120.0,120.0,120.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
445,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",12000,2017-10-17 15:14:00+00,2017-10-17 19:15:00+00,TGV,658.158789,[TGV],[Aix-en-Provence - Gare TGV (à 8km du centre v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Gare routière de Saint-Étienne,121.0,121.0,121.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
168,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",12100,2017-10-13 14:47:00+00,2017-10-14 09:47:00+00,TGV,645.15968,"[TGV, TGV]","[Aeroport Cdg2 Tgv Roissy, Aeroport Cdg2 Tgv R..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Gare SNCF Lyon Part-Dieu,30.8,30.8,30.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
726,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",3080,2017-10-13 14:55:00+00,2017-10-14 01:00:00+00,Flixbus,596.263799,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Gare SNCF Lyon-Perrache,27.0,37.8,30.15

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
585,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",2700,2017-10-31 12:00:00+00,2017-10-31 22:15:00+00,Ouibus,601.449123,[Isilines],"[Gare de Bercy, Gare Routière Internationale d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Sortie Autoroute A16,22.9,27.8,25.35

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
229,Gare Lille-Europe,"Lille, Hauts-de-France, France",Sortie Autoroute A16,"Le Touquet-Paris-Plage, Hauts-de-France, France",2290,2017-10-20 14:30:00+00,2017-10-21 17:20:00+00,Ouibus,399.313169,[Flixbus],"[Paris Nord - St-Denis université, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Lille-Europe,Aix-en-Provence - Gare TGV (à 8km du centre vi...,129.5,129.5,129.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
261,Gare Lille-Europe,"Lille, Hauts-de-France, France",Aix-en-Provence - Gare TGV (à 8km du centre vi...,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",12950,2017-10-13 06:16:00+00,2017-10-13 15:47:00+00,TGV,825.222432,[TGV],[TGV Haute-Picardie (à environ 40km d'Amiens e...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière Aéroport Nice Terminal 2,Gare de Bercy,37.9,37.9,37.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
467,Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",Gare de Bercy,"Paris, Île-de-France, France",3790,2018-03-08 08:30:00+00,2018-03-08 22:00:00+00,Flixbus,688.576201,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Angers,Gare SNCF Lyon-Perrache,60.9,60.9,60.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
582,Gare routière d'Angers,"Angers, Pays-de-la-Loire, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",6090,2017-10-19 14:45:00+00,2017-10-20 06:40:00+00,Isilines,597.909141,[Flixbus],"[Nantes Halluchère - Route de Paris, Gare de H..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Annecy,Centre Commercial Ouest,61.0,61.0,61.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
362,Gare routière d'Annecy,"Annecy, Auvergne-Rhône-Alpes, France",Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",6100,2017-10-27 10:30:00+00,2017-10-27 19:20:00+00,Ouibus,372.481256,[Ouibus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière d'Annecy,Chamonix centre,27.5,27.5,27.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
388,Gare routière d'Annecy,"Annecy, Auvergne-Rhône-Alpes, France",Chamonix centre,"Chamonix, Auvergne-Rhône-Alpes, France",2750,2017-10-18 11:32:00+00,2017-10-18 14:46:00+00,TER,57.852043,[TER],"[Saint-Gervais-les-Bains - Le Fayet, Saint-Ger..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Caen,Gare Bruxelles-Midi,72.0,72.0,72.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
267,Gare routière de Caen,"Caen, Normandie, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",7200,2017-10-22 08:52:00+00,2017-10-22 14:57:00+00,Intercités,476.479532,[TGV],"[Paris Saint-Lazare, Marne-La-Vallée - Chessy ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Caen,Gare routière de Metz,77.8,77.8,77.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
149,Gare routière de Caen,"Caen, Normandie, France",Gare routière de Metz,"Metz, Grand-Est, France",7780,2017-10-21 13:30:00+00,2017-10-22 01:50:00+00,Flixbus,619.078068,[Flixbus],"[Gare de Bruxelles-Nord, Gare de Bruxelles-Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Caen,Paris Saint-Lazare,39.3,39.3,39.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
376,Gare routière de Caen,"Caen, Normandie, France",Paris Saint-Lazare,"Paris, Île-de-France, France",3930,2017-10-15 12:16:00+00,2017-10-15 15:17:00+00,TER,197.820503,[Intercités],"[Lisieux, Lisieux]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Caen,Gare Routière Internationale de Paris-Gallieni...,11.9,11.9,11.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
679,Gare routière de Caen,"Caen, Normandie, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",1190,2017-10-15 14:00:00+00,2017-10-15 20:45:00+00,Flixbus,223.748642,[Isilines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Chambéry,Gare routière de Clermont-Ferrand,22.0,22.0,22.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
246,Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",2200,2017-10-23 15:55:00+00,2017-10-23 22:30:00+00,Ouibus,222.516394,[Flixbus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Chambéry,Gare routière de Toulouse,34.0,34.0,34.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
461,Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",Gare routière de Toulouse,"Toulouse, Occitanie, France",3400,2017-10-25 19:55:00+00,2017-10-26 06:45:00+00,Ouibus,437.497116,[Flixbus],"[Aéroport Saint-Exupéry, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Clermont-Ferrand,Centre Commercial Ouest,36.9,36.9,36.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
320,Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",3690,2017-10-21 01:35:00+00,2017-10-21 18:00:00+00,Flixbus,260.087335,[Ouibus],"[Créavallée Nord, Créavallée Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Clermont-Ferrand,Gare routière de Chambéry,27.0,27.0,27.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
208,Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",2700,2017-10-20 13:00:00+00,2017-10-20 18:35:00+00,Ouibus,222.516394,[Ouibus],"[Gare SNCF Lyon-Perrache, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Limoges,Valenciennes University,60.4,60.4,60.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
727,Gare routière de Limoges,"Limoges, Nouvelle-Aquitaine, France",Valenciennes University,"Valenciennes, Hauts-de-France, France",6040,2017-10-13 02:05:00+00,2017-10-13 13:50:00+00,Flixbus,528.013897,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Mulhouse,Gare SNCF Lyon Part-Dieu,73.5,73.5,73.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
152,Gare routière de Mulhouse,"Mulhouse, Grand-Est, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7350,2017-10-13 08:56:00+00,2017-10-13 12:56:00+00,TGV,293.053281,[TGV],"[Belfort-Montbeliard Tgv, Belfort-Montbeliard ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Niort,Gare de Bercy,25.8,25.8,25.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
444,Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",Gare de Bercy,"Paris, Île-de-France, France",2580,2017-10-27 13:15:00+00,2017-10-28 19:10:00+00,Flixbus,470.736198,[Flixbus],"[Gare de Haluchère-Batignolles, Gare de Haluch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Perpignan,Gare Lille-Europe,37.9,37.9,37.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
380,Gare routière de Perpignan,"Perpignan, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",3790,2017-11-06 19:30:00+00,2017-11-07 13:00:00+00,Ouibus,890.478957,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Perpignan,Parking Château Descas,27.0,27.0,27.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
119,Gare routière de Perpignan,"Perpignan, Occitanie, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",2700,2017-10-20 19:30:00+00,2017-10-21 08:00:00+00,Ouibus,363.801365,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Poitiers,Gare routière de Saint-Étienne,132.0,132.0,132.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
379,Gare routière de Poitiers,"Poitiers, Nouvelle-Aquitaine, France",Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",13200,2017-10-20 10:20:00+00,2017-10-20 15:47:00+00,TGV,703.84779,[TGV],"[Paris Montparnasse 1 Et 2, Paris Gare de Lyon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Quimper,Gare routière Aéroport Nice Terminal 2,58.0,58.0,58.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
687,Gare routière de Quimper,"Quimper, Bretagne, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",5800,2017-12-07 17:15:00+00,2017-12-08 16:45:00+00,Flixbus,1020.802703,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Quimper,Gare SNCF Béziers,173.0,173.0,173.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
37,Gare routière de Quimper,"Quimper, Bretagne, France",Gare SNCF Béziers,"Béziers, Occitanie, France",17300,2017-10-14 05:11:00+00,2017-10-14 14:13:00+00,TGV,1102.293157,[TGV],"[Paris Montparnasse 1 Et 2, Paris Gare de Lyon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Saint-Étienne,Gare Lille-Europe,115.7,115.7,115.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
79,Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",11570,2017-10-20 07:50:00+00,2017-10-20 11:56:00+00,TER,608.585102,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Saint-Étienne,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,33.5,108.7,71.1

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
284,Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",3350,2017-10-13 12:13:00+00,2017-10-14 08:39:00+00,TGV,432.889697,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon-Perr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulon,Gare de Strasbourg,81.0,81.0,81.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
518,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",8100,2017-10-18 14:50:00+00,2017-10-18 21:55:00+00,TGV,663.310145,[TGV],"[Gare de Marseille Saint-Charles, Gare de Mars..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulon,Gare routière de Strasbourg,40.9,54.9,47.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
38,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",4090,2017-10-20 12:00:00+00,2017-10-21 09:30:00+00,Flixbus,663.219391,[Flixbus],"[Marseille, Marseille]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulon,Ventimiglia Stazione,22.0,34.7,30.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
172,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Ventimiglia Stazione,"Ventimiglia, Liguria, Italia",2200,2017-10-19 15:14:00+00,2017-10-19 20:45:00+00,TER,154.408698,[TGV],"[Antibes, Antibes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulouse,Gare routière de Quimper,82.6,82.6,82.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
68,Gare routière de Toulouse,"Toulouse, Occitanie, France",Gare routière de Quimper,"Quimper, Bretagne, France",8260,2017-10-27 12:22:00+00,2017-10-28 12:04:00+00,Intercités,-1.0,"[Intercités, TER]","[Parking Château Descas, Parking Château Desca..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulouse,Gare routière Victoria Coach,94.0,94.0,94.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
549,Gare routière de Toulouse,"Toulouse, Occitanie, France",Gare routière Victoria Coach,"London, England, United Kingdom",9400,2017-10-30 19:05:00+00,2017-10-31 15:45:00+00,Flixbus,950.969024,[Eurolines],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulouse,Nantes,39.0,39.0,39.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
240,Gare routière de Toulouse,"Toulouse, Occitanie, France",Nantes,"Nantes, Pays-de-la-Loire, France",3900,2017-10-12 18:16:00+00,2017-10-13 12:32:00+00,Intercités,485.783948,[Intercités],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulouse,Paris Austerlitz,40.3,54.0,47.15

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
235,Gare routière de Toulouse,"Toulouse, Occitanie, France",Paris Austerlitz,"Paris, Île-de-France, France",4030,2017-10-12 09:28:00+00,2017-10-12 17:37:00+00,TER,588.029661,[TGV],"[Montauban Ville Bourbon, Montauban Ville Bour..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Toulouse,Nantes Halluchère - Route de Paris,24.0,24.0,24.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
81,Gare routière de Toulouse,"Toulouse, Occitanie, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2400,2017-10-20 14:20:00+00,2017-10-21 06:10:00+00,Flixbus,469.474543,[Isilines],"[Agen (Exit A62), Agen (Exit A62)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Valence,Gare Lille-Europe,37.9,134.8,86.35

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
200,Gare routière de Valence,"Valence, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",3790,2017-10-14 09:10:00+00,2017-10-14 21:45:00+00,Flixbus,681.516486,[Isilines],"[Gare de Bercy, Gare Routière Internationale d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière de Vannes,Paris Montparnasse 1 Et 2,53.0,55.0,54.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
675,Gare routière de Vannes,"Vannes, Bretagne, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",5300,2017-10-22 20:55:00+00,2017-10-23 00:04:00+00,TER,399.667174,[TGV],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière du Havre,Parking Château Descas,111.0,111.0,111.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
318,Gare routière du Havre,"Le Havre, Normandie, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",11100,2017-10-30 12:02:00+00,2017-10-30 17:58:00+00,Intercités,674.528686,[TGV],"[Paris Saint-Lazare, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare routière Victoria Coach,Gare routière de Bourges,49.9,49.9,49.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
622,Gare routière Victoria Coach,"London, England, United Kingdom",Gare routière de Bourges,"Bourges, Centre-Val de Loire, France",4990,2017-10-30 22:00:00+00,2017-10-31 12:40:00+00,Eurolines,546.404003,[Flixbus],[Gare Routière Internationale de Paris-Gallien...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Chalon-sur-Saône,Gare de Bercy,40.0,40.0,40.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
93,Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",4000,2017-10-21 11:43:00+00,2017-10-21 16:22:00+00,Navette Keolis,293.643288,[TER],"[Chagny, Chagny]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Chalon-sur-Saône,Gare de Liège-Guillemins,138.0,138.0,138.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
184,Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",13800,2017-10-14 14:37:00+00,2017-10-15 10:11:00+00,TER,599.989474,[Thalys],"[Gare de Bercy, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Charleville-Mézières,Gare de Marseille Saint-Charles,154.5,154.5,154.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
424,Gare SNCF Charleville-Mézières,"Charleville-Mézières, Grand-Est, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",15450,2017-10-22 17:23:00+00,2017-10-23 12:46:00+00,TER,768.513105,"[TER, TGV]","[Longuyon, Longuyon, Nancy, Nancy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Dijon Ville,Gare de Bercy,23.0,23.0,23.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
534,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",2300,2017-11-03 02:50:00+00,2017-11-03 17:20:00+00,Isilines,355.133919,[Flixbus],"[Gare SNCF Chalon-sur-Saône, Gare SNCF Chalon-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Dijon Ville,Gare routière Aéroport Nice Terminal 1,28.0,28.0,28.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
636,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare routière Aéroport Nice Terminal 1,"Nice, Provence-Alpes-Côte d'Azur, France",2800,2017-10-14 02:50:00+00,2017-10-14 14:15:00+00,Isilines,474.483426,[Ouibus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Dijon Ville,Gare routière Aéroport Nice Terminal 2,30.0,30.0,30.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
336,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",3000,2017-10-14 02:00:00+00,2017-10-15 12:00:00+00,Isilines,486.384772,[Flixbus],"[Besançon - Rue de Châtillon, Avenue du Maréch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Dijon Ville,Gare SNCF Lyon Part-Dieu,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
519,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",1800,2017-10-15 20:30:00+00,2017-10-16 07:45:00+00,Flixbus,261.535869,[Flixbus],"[Gare routière de Genève, Gare routière de Gen..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Gare de Bercy,33.9,33.9,33.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
579,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",3390,2017-10-27 09:35:00+00,2017-10-27 18:00:00+00,Ouibus,482.648417,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Gare routière de Rennes,171.8,171.8,171.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
255,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare routière de Rennes,"Rennes, Bretagne, France",17180,2017-10-21 11:21:00+00,2017-10-21 17:17:00+00,TER,651.739279,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Brive-la-Gaillarde,143.0,158.0,150.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
469,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Brive-la-Gaillarde,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",14300,2017-10-26 13:16:00+00,2017-10-26 22:07:00+00,TGV,894.267785,[Intercités],"[Paris Gare de Lyon, Paris Austerlitz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Cannes,73.1,73.1,73.1

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
244,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",7310,2017-10-15 16:08:00+00,2017-10-16 20:03:00+00,TER,340.560812,"[TER, TER, TGV]","[Jarrie - Vizille, Jarrie - Vizille, Veynes - ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,159.8,159.8,159.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
224,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",15980,2017-10-20 12:21:00+00,2017-10-20 15:48:00+00,TER,471.061826,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Grenoble,Gare Routière Internationale de Paris-Gallieni...,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
545,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",2000,2017-10-30 06:30:00+00,2017-10-30 16:30:00+00,Ouibus,487.92121,[Isilines],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Guingamp,Parking Château Descas,33.9,33.9,33.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
572,Gare SNCF Guingamp,"Guingamp, Bretagne, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",3390,2017-10-28 18:40:00+00,2017-10-29 22:20:00+00,Flixbus,602.12938,"[Ouibus, Flixbus]","[Gare routière de Brest, Gare routière de Bres..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF La Rochelle,Paris Austerlitz,56.1,56.1,56.1

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
507,Gare SNCF La Rochelle,"La Rochelle, Nouvelle-Aquitaine, France",Paris Austerlitz,"Paris, Île-de-France, France",5610,2017-10-30 16:06:00+00,2017-10-30 21:02:00+00,TER,416.888379,[TGV],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Le Mans,Rouen Rive Droite,48.4,48.4,48.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
368,Gare SNCF Le Mans,"Le Mans, Pays-de-la-Loire, France",Rouen Rive Droite,"Rouen, Normandie, France",4840,2017-10-09 07:12:00+00,2017-10-09 11:53:00+00,TER,215.762145,[TER],"[MEZIDON-CANON, MEZIDON-CANON]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Le Mans,"Arras (Bus stop on ""rue du Docteur Brassart"")",64.0,64.0,64.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
697,Gare SNCF Le Mans,"Le Mans, Pays-de-la-Loire, France","Arras (Bus stop on ""rue du Docteur Brassart"")","Arras, Hauts-de-France, France",6400,2017-10-24 12:25:00+00,2017-10-24 15:41:00+00,TGV,347.632529,[TGV],"[Paris Montparnasse 1 Et 2, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Châteauroux (central bus station),27.9,27.9,27.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
343,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",2790,2017-10-15 15:15:00+00,2017-10-16 10:20:00+00,Flixbus,426.378375,[Flixbus],"[Tulle Péage Nord, Tulle Gare (médiathèque)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Gare de Bercy,42.0,68.8,50.22

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
617,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",4200,2017-10-24 12:08:00+00,2017-10-24 18:22:00+00,TGV,396.674516,[TER],"[Mâcon, Mâcon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Gare routière Victoria Coach,37.9,37.9,37.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
446,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière Victoria Coach,"London, England, United Kingdom",3790,2017-10-06 07:00:00+00,2017-10-06 22:00:00+00,Flixbus,735.725296,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,111.5,111.5,111.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
13,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",11150,2017-10-21 17:30:00+00,2017-10-21 20:29:00+00,TGV,424.753088,[TGV],"[Massy-Palaiseau, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Nîmes,50.0,50.0,50.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
632,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Nîmes,"Nîmes, Occitanie, France",5000,2017-10-31 14:06:00+00,2017-10-31 17:05:00+00,TGV,223.738572,[TGV],"[Valence Tgv Rhone-Alpes Sud, Valence Tgv Rhon..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon Part-Dieu,Paris Gare de Lyon,65.5,65.5,65.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
591,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Paris Gare de Lyon,"Paris, Île-de-France, France",6550,2017-10-21 16:04:00+00,2017-10-21 20:07:00+00,TGV,395.608758,[TGV],[Le Creusot - Montceau TGV (à 10km du centre-v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Châteauroux (central bus station),19.9,19.9,19.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
185,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",1990,2017-12-16 08:00:00+00,2017-12-17 16:35:00+00,Flixbus,455.020471,[Flixbus],"[Centre Commercial Ouest, Centre Commercial Ou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Gare Lille-Europe,19.9,41.9,31.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
108,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1990,2017-11-06 15:00:00+00,2017-11-07 06:55:00+00,Flixbus,596.107103,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Lyon-Perrache,Gare routière de Caen,26.8,40.0,35.2

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
251,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière de Caen,"Caen, Normandie, France",2680,2017-10-20 11:00:00+00,2017-10-21 15:15:00+00,Flixbus,594.218583,[Flixbus],"[Gare de Bercy, Paris Ibis Clichy Batignolles]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare SNCF Saint-Etienne Chateaucreux,Aix-les-Bains,27.0,27.0,27.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
221,Gare SNCF Saint-Etienne Chateaucreux,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Aix-les-Bains,"Aix-les-Bains, Auvergne-Rhône-Alpes, France",2700,2017-10-09 18:45:00+00,2017-10-09 23:10:00+00,Ouibus,125.481808,[Ouibus],"[Aéroport Saint-Exupéry, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,La Défense,Bruges (Station Brugge),16.9,16.9,16.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
666,La Défense,"Paris, Île-de-France, France",Bruges (Station Brugge),"Bruges, Vlaanderen, Belgique",1690,2017-10-20 12:00:00+00,2017-10-20 19:15:00+00,Ouibus,266.043567,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Mâcon,Gare de Bruxelles-Nord,51.9,51.9,51.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
141,Mâcon,"Mâcon, Bourgogne-Franche-Comté, France",Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",5190,2017-10-22 17:40:00+00,2017-10-23 08:35:00+00,Flixbus,602.05134,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille,Gare Lille-Europe,47.9,47.9,47.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
186,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",4790,2017-10-08 20:40:00+00,2017-10-09 10:25:00+00,Flixbus,862.142263,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille,Gare routière Aéroport Nice Terminal 2,12.9,12.9,12.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
350,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",1290,2017-11-09 13:55:00+00,2017-11-09 21:05:00+00,Flixbus,168.830074,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille,Gare SNCF Chalon-sur-Saône,11.9,11.9,11.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
562,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",1190,2017-10-06 21:45:00+00,2017-10-07 13:05:00+00,Flixbus,392.977548,[Ouibus],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon-Perr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marseille Arenc,Paris Gare de Lyon,91.1,126.1,108.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
578,Marseille Arenc,"Marseille, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",9110,2017-10-25 16:55:00+00,2017-10-26 12:15:00+00,TER,661.085446,[TGV],"[Miramas, Miramas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Massy-Palaiseau,Gare routière Victoria Coach,55.0,55.0,55.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
281,Massy-Palaiseau,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-25 05:25:00+00,2017-10-25 19:00:00+00,Flixbus,361.152185,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Massy-Palaiseau,Parking Château Descas,33.9,33.9,33.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
508,Massy-Palaiseau,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",3390,2017-10-23 14:25:00+00,2017-10-23 23:15:00+00,Flixbus,485.637862,[Eurolines],"[Rue de la Bourie Rouge, Rue de la Bourie Rouge]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nevers (Central bus station),Gare de Bercy,34.5,34.5,34.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
670,Nevers (Central bus station),"Nevers, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",3450,2017-10-20 17:26:00+00,2017-10-20 20:49:00+00,TER,213.781796,[Intercités],"[La Charité-sur-Loire, La Charité-sur-Loire]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare Bruxelles-Midi,176.0,176.0,176.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
457,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",17600,2017-10-20 12:02:00+00,2017-10-20 17:43:00+00,TGV,775.922551,[TGV],"[Paris Montparnasse 1 Et 2, Marne-La-Vallée - ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare Lille-Europe,29.0,46.8,35.233333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
602,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2900,2017-10-28 07:30:00+00,2017-10-28 23:25:00+00,Ouibus,705.588692,[Ouibus],"[Gare de Bercy, Paris Nord - St-Denis université]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare routière de Caen,41.9,41.9,41.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
633,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare routière de Caen,"Caen, Normandie, France",4190,2017-10-27 03:30:00+00,2017-10-27 12:55:00+00,Eurolines,527.825244,[Flixbus],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare routière de Saint-Malo,60.0,60.0,60.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
641,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare routière de Saint-Malo,"Saint-Malo, Bretagne, France",6000,2017-10-23 11:47:00+00,2017-10-23 20:29:00+00,Intercités,-1.0,"[TER, TER]","[Nantes, Nantes, Gare routière de Rennes, Gare..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare SNCF Dijon Ville,48.9,116.2,82.55

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
285,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",4890,2017-10-15 10:00:00+00,2017-10-16 00:50:00+00,Flixbus,615.089462,[Ouibus],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon-Perr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Gare du Nord,17.9,17.9,17.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
712,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare du Nord,"Paris, Île-de-France, France",1790,2017-10-13 16:38:00+00,2017-10-13 19:25:00+00,TER,598.697364,[TER],"[Saint-Sulpice - Izon, Saint-Sulpice (Oise)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Montpellier,76.5,76.5,76.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
552,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Montpellier,"Montpellier, Occitanie, France",7650,2017-10-20 11:10:00+00,2017-10-20 18:01:00+00,Navette Keolis,385.66818,[Intercités],"[Agen, Agen]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Rouen Rive Droite,74.9,74.9,74.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
707,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Rouen Rive Droite,"Rouen, Normandie, France",7490,2017-10-25 13:12:00+00,2017-10-25 20:55:00+00,TGV,593.205036,"[Intercités, TER]","[Saint-Pierre-des-Corps (à 4km de Tours), Tour..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Château Descas,Châlons-en-Champagne,27.9,27.9,27.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
181,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Châlons-en-Champagne,"Châlons-en-Champagne, Grand-Est, France",2790,2017-11-26 20:15:00+00,2017-11-27 13:30:00+00,Ouibus,642.831844,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Relais Parnasse,Gare Lille-Europe,64.8,64.8,64.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
654,Parking Relais Parnasse,"Nîmes, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",6480,2017-12-22 15:15:00+00,2017-12-23 06:40:00+00,Flixbus,776.813136,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Parking Relais Parnasse,Gare routière de Rennes,39.0,39.0,39.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
223,Parking Relais Parnasse,"Nîmes, Occitanie, France",Gare routière de Rennes,"Rennes, Bretagne, France",3900,2018-03-20 11:25:00+00,2018-03-21 07:35:00+00,Flixbus,780.909272,[Flixbus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Place du Barlet,Gare Lille-Europe,35.9,35.9,35.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
18,Place du Barlet,"Douai, Hauts-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",3590,2017-10-13 18:50:00+00,2017-10-13 23:45:00+00,Ouibus,340.174051,[Flixbus],"[Aéroport CDG , Aéroport CDG ]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Quai du Havre,Colmar,44.9,44.9,44.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
480,Quai du Havre,"Rouen, Normandie, France",Colmar,"Colmar, Grand-Est, France",4490,2017-10-20 14:45:00+00,2017-10-21 07:25:00+00,Flixbus,491.606656,[Flixbus],"[Paris Ibis Clichy Batignolles, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Quai du Havre,Gare routière de Strasbourg,23.9,23.9,23.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
174,Quai du Havre,"Rouen, Normandie, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2390,2017-10-18 06:35:00+00,2017-10-18 22:20:00+00,Ouibus,522.920428,[Flixbus],"[Gare de Bercy, Orly Sud]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Quai du Havre,Châlons-en-Champagne (Centre),14.0,14.0,14.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
723,Quai du Havre,"Rouen, Normandie, France",Châlons-en-Champagne (Centre),"Châlons-en-Champagne, Grand-Est, France",1400,2017-10-11 12:05:00+00,2017-10-11 18:50:00+00,Flixbus,261.09577,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Quai Sainte-Catherine,Gare routière de Berlin,44.8,44.8,44.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
216,Quai Sainte-Catherine,"Nancy, Grand-Est, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4480,2017-10-27 05:45:00+00,2017-10-29 05:55:00+00,Flixbus,655.364063,[Flixbus],"[Gare routière de Saarbrücken, Gare routière d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rue de la Bourie Rouge,Gare de Bercy,14.0,14.0,14.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
153,Rue de la Bourie Rouge,"Orléans, Centre-Val de Loire, France",Gare de Bercy,"Paris, Île-de-France, France",1400,2017-10-19 18:35:00+00,2017-10-20 09:55:00+00,Flixbus,312.213353,[Flixbus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Station Les Sabines,Parma Terminal bus,30.2,30.2,30.2

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
311,Station Les Sabines,"Montpellier, Occitanie, France",Parma Terminal bus,"Parma, Emilia-Romagna, Italia",3020,2017-10-13 12:15:00+00,2017-10-14 12:25:00+00,Flixbus,535.938151,[Flixbus],"[Fanti D'italia, Piazza Vittoria]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Université du Maine,Quai du Havre,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
114,Université du Maine,"Le Mans, Pays-de-la-Loire, France",Quai du Havre,"Rouen, Normandie, France",2000,2017-10-09 12:00:00+00,2017-10-09 18:15:00+00,Ouibus,304.122765,[Flixbus],"[Gare de Bercy, Paris Ibis Clichy Batignolles]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Zaventem Airport,Gare de Bercy,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
557,Zaventem Airport,"Bruxelles, Bruxelles-Capitale, Belgique",Gare de Bercy,"Paris, Île-de-France, France",1800,2017-10-11 11:25:00+00,2017-10-12 11:20:00+00,Flixbus,301.468494,[Flixbus],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Zaventem Airport,Université du Maine,31.0,31.0,31.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
348,Zaventem Airport,"Bruxelles, Bruxelles-Capitale, Belgique",Université du Maine,"Le Mans, Pays-de-la-Loire, France",3100,2017-10-20 02:55:00+00,2017-10-20 13:30:00+00,Flixbus,469.654864,[Isilines],"[Gare de Bercy, Gare Routière Internationale d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Zurich central station (Sihlquai car park),Gare SNCF Dijon Ville,20.9,20.9,20.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
381,Zurich central station (Sihlquai car park),"Zürich, Zürich, Schweiz",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",2090,2017-10-14 09:00:00+00,2017-10-15 02:40:00+00,Flixbus,270.778616,[Flixbus],"[Belfort, Belfort]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Birmingham Five Ways,Gare de Bercy,35.26,35.26,35.26

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
41,Birmingham Five Ways,"Birmingham, England, United Kingdom",Gare de Bercy,"Paris, Île-de-France, France",3526,2017-10-29 06:35:00+00,2017-10-29 19:15:00+00,National Express,510.266024,[Flixbus],"[Gare routière Victoria Coach, Gare routière V..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Gare Bruxelles-Midi,55.0,70.0,62.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
80,Gare du Nord,"Paris, Île-de-France, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",5500,2017-10-18 06:46:00+00,2017-10-18 09:43:00+00,TGV,293.19797,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Gare d'Amsterdam Centraal,75.0,201.0,139.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
144,Gare du Nord,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",7500,2017-10-20 06:46:00+00,2017-10-20 23:42:00+00,TGV,432.916059,[Thalys],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Gare Lille-Europe,28.5,51.5,40.118182

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
354,Gare du Nord,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2850,2017-10-14 16:52:00+00,2017-10-14 19:22:00+00,TGV,203.604252,[TGV],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Parking Château Descas,17.9,17.9,17.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
329,Gare du Nord,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",1790,2017-10-23 06:37:00+00,2017-10-23 09:22:00+00,TER,598.697364,[TER],"[Saint-Sulpice (Oise), Saint-Sulpice - Izon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Charleroi,47.9,47.9,47.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
48,Gare du Nord,"Paris, Île-de-France, France",Charleroi,"Charleroi, Wallonie, Belgique",4790,2017-10-18 06:46:00+00,2017-10-18 09:48:00+00,TGV,301.9,[TER],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare du Nord,Courtrai,36.3,36.3,36.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
160,Gare du Nord,"Paris, Île-de-France, France",Courtrai,"Courtrai, Vlaanderen, Belgique",3630,2017-10-26 11:46:00+00,2017-10-26 13:46:00+00,TGV,226.707931,[TER],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London Vauxhall,Brighton Patcham,19.84,19.84,19.84

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
105,London Vauxhall,"London, England, United Kingdom",Brighton Patcham,"Brighton, England, UK",1984,2017-10-21 06:40:00+00,2017-10-21 09:18:00+00,National Express,72.071264,[National Express],"[London Gatwick Airport South Terminal, London..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London Walworth,Gare de Bruxelles-Nord,44.48,44.48,44.48

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
453,London Walworth,"London, England, United Kingdom",Gare de Bruxelles-Nord,"Liège, Wallonie, Belgique",4448,2017-11-03 07:20:00+00,2017-11-03 17:30:00+00,National Express,319.887058,[Eurolines],"[Dover Ferry Port, Dover]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Bernay,Cholet (Central Bus Station ),68.3,68.3,68.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
271,Bernay,"Bernay, Normandie, France",Cholet (Central Bus Station ),"Cholet, Pays-de-la-Loire, France",6830,2017-10-20 19:51:00+00,2017-10-21 12:07:00+00,TER,301.64621,"[TER, TGV, TER]","[MEZIDON-CANON, MEZIDON-CANON, Gare SNCF Le Ma..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Blois-Chambord,Paris Montparnasse 1 Et 2,53.7,53.7,53.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
703,Blois-Chambord,"Blois-Chambord, Centre-Val de Loire, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",5370,2017-11-01 19:19:00+00,2017-11-01 21:17:00+00,TER,250.798557,[TGV],"[Saint-Pierre-des-Corps (à 4km de Tours), Sain..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Bourges,Gare SNCF Lyon Part-Dieu,57.3,57.3,57.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
365,Bourges,"Bourges, Centre-Val de Loire, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",5730,2017-10-15 19:13:00+00,2017-10-16 17:56:00+00,TER,326.45334,[TGV],"[Beaune, Beaune]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Calais Frethun,Gare du Nord,26.9,26.9,26.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
115,Calais Frethun,"Calais, Hauts-de-France, France",Gare du Nord,"Paris, Île-de-France, France",2690,2017-10-31 16:03:00+00,2017-10-31 19:29:00+00,TER,235.885062,[Intercités],"[Etaples - Le Touquet, Etaples - Le Touquet]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Cannes,Aix-en-Provence - Gare TGV (à 8km du centre vi...,27.0,27.0,27.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
556,Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",Aix-en-Provence - Gare TGV (à 8km du centre vi...,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",2700,2017-10-18 09:56:00+00,2017-10-18 12:26:00+00,TGV,152.858623,[TGV],"[Gare de Marseille Saint-Charles, Gare de Mars..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Cannes,Paris Gare de Lyon,85.0,85.0,85.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
696,Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",8500,2017-10-26 06:46:00+00,2017-10-26 12:41:00+00,TER,697.898051,[TGV],"[Antibes, Antibes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Collonges-au-Mont-d'Or,Gare de Bercy,66.7,68.3,67.34

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
52,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6670,2017-10-27 12:56:00+00,2017-10-27 18:22:00+00,TER,382.649049,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."
256,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6670,2017-10-23 17:56:00+00,2017-10-24 16:29:00+00,TER,382.649049,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."
640,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6670,2017-10-22 15:57:00+00,2017-10-22 22:22:00+00,TER,382.649049,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Compiègne,Gare routière de Toulouse,83.5,83.5,83.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
665,Compiègne,"Compiègne, Hauts-de-France, France",Gare routière de Toulouse,"Toulouse, Occitanie, France",8350,2017-10-13 12:00:00+00,2017-10-13 21:17:00+00,Intercités,659.207383,[Intercités],"[Gare du Nord, Paris Austerlitz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Compiègne,Gare routière de Vannes,107.8,107.8,107.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
722,Compiègne,"Compiègne, Hauts-de-France, France",Gare routière de Vannes,"Vannes, Bretagne, France",10780,2017-10-21 07:35:00+00,2017-10-21 13:28:00+00,Intercités,471.865492,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Compiègne,Gare SNCF Dunkerque,41.3,41.3,41.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
577,Compiègne,"Compiègne, Hauts-de-France, France",Gare SNCF Dunkerque,"Dunkerque, Hauts-de-France, France",4130,2017-10-14 17:37:00+00,2017-10-14 22:04:00+00,TER,207.229281,"[TER, TGV]","[Gare routière d'Amiens, Gare routière d'Amien..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Dole Ville,Gare de Strasbourg,53.0,53.0,53.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
178,Dole Ville,"Dole Choisey, Bourgogne-Franche-Comté, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",5300,2017-10-13 17:50:00+00,2017-10-13 21:55:00+00,TER,247.506719,[TGV],"[Montbéliard Acropole, Belfort-Montbeliard Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Dole Ville,Gare routière de Mulhouse,28.5,28.5,28.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
325,Dole Ville,"Dole Choisey, Bourgogne-Franche-Comté, France",Gare routière de Mulhouse,"Mulhouse, Grand-Est, France",2850,2017-10-14 17:50:00+00,2017-10-14 20:58:00+00,TER,157.857074,[TGV],"[Montbéliard Acropole, Belfort-Montbeliard Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gardanne,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,28.0,28.0,28.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
243,Gardanne,"Gardanne, Provence-Alpes-Côte d'Azur, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",2800,2017-10-13 07:30:00+00,2017-10-13 11:37:00+00,TER,653.075058,[TGV],"[Gare SNCF Aix-en-Provence Ville, Aix-en-Prove..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Lens,Tarbes,66.9,66.9,66.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
673,Lens,"Lens, Hauts-de-France, France",Tarbes,"Tarbes, Occitanie, France",6690,2017-10-13 06:25:00+00,2017-10-14 23:02:00+00,TER,882.290155,"[TGV, TGV, TGV]","[Douai, Douai, Aeroport Cdg2 Tgv Roissy, Aerop..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Les Aubrais,Nîmes,72.7,72.7,72.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
289,Les Aubrais,"Orléans, Centre-Val de Loire, France",Nîmes,"Nîmes, Occitanie, France",7270,2017-10-30 20:11:00+00,2017-10-31 17:58:00+00,Intercités,495.864582,"[TER, Intercités]","[Montluçon (Central bus station), Montluçon (C..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Les Fontinettes,Gare du Nord,48.0,48.0,48.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
165,Les Fontinettes,"Les Fontinettes, Hauts-de-France, France",Gare du Nord,"Paris, Île-de-France, France",4800,2017-10-06 15:13:00+00,2017-10-06 18:56:00+00,TER,233.486134,[Intercités],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London St Pancras,Gare Bruxelles-Midi,222.5,222.5,222.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
616,London St Pancras,"London, England, United Kingdom",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",22250,2017-10-13 05:40:00+00,2017-10-13 13:44:00+00,Eurostar,602.633793,[TGV],"[Gare du Nord, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London St Pancras,Gare routière du Havre,169.0,169.0,169.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
627,London St Pancras,"London, England, United Kingdom",Gare routière du Havre,"Le Havre, Normandie, France",16900,2017-10-25 14:22:00+00,2017-10-25 20:59:00+00,Eurostar,519.436216,[Intercités],"[Gare du Nord, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London St Pancras,Parking Château Descas,385.5,385.5,385.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
86,London St Pancras,"London, England, United Kingdom",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",38550,2017-10-23 08:31:00+00,2017-10-23 14:56:00+00,Eurostar,845.089837,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,London St Pancras,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,128.5,128.5,128.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
607,London St Pancras,"London, England, United Kingdom",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",12850,2017-10-25 12:58:00+00,2017-10-25 17:06:00+00,Eurostar,442.508528,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Loriol,Gare de Marseille Saint-Charles,37.3,37.3,37.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
609,Loriol,"Loriol, Auvergne-Rhône-Alpes, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",3730,2017-10-20 11:47:00+00,2017-10-20 14:50:00+00,TER,170.961404,[TER],"[Gare routière de Montélimar, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Lyon Vaise,Gare de Bercy,67.9,67.9,67.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
464,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6790,2017-10-13 14:51:00+00,2017-10-13 20:22:00+00,TER,387.344603,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Lyon Vaise,Gare SNCF Dijon Ville,33.0,33.0,33.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
346,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",3300,2017-10-16 06:51:00+00,2017-10-16 09:22:00+00,TER,172.612723,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Lyon Vaise,Paris Gare de Lyon,71.5,96.1,83.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
304,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Paris Gare de Lyon,"Paris, Île-de-France, France",7150,2017-10-23 16:32:00+00,2017-10-23 22:23:00+00,TER,389.004503,[TER],"[Belleville-sur-Saône, Belleville-sur-Saône]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare Bruxelles-Midi,59.0,108.5,83.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
257,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",5900,2017-10-18 10:53:00+00,2017-10-18 12:52:00+00,TGV,289.059796,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare d'Amsterdam Centraal,107.8,112.8,110.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
719,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",10780,2017-10-28 07:49:00+00,2017-10-28 14:06:00+00,TGV,421.430387,[TGV],"[Gare Bruxelles-Midi, Gare de Bruxelles-Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare de Marseille Saint-Charles,25.0,204.0,101.56

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
46,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",2500,2017-10-15 09:13:00+00,2017-10-15 15:31:00+00,TGV,660.206843,[TGV],"[Aéroport Saint-Exupéry, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare de Strasbourg,102.5,102.5,102.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
588,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",10250,2017-10-13 11:03:00+00,2017-10-13 13:28:00+00,TGV,369.311426,[TGV],[Louvigny - gare Lorraine TGV (à environ 30km ...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare Lille-Europe,26.5,97.0,61.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
352,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2650,2017-10-13 20:15:00+00,2017-10-13 22:21:00+00,TGV,198.677525,[TGV],[TGV Haute-Picardie (à environ 40km d'Amiens e...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare SNCF Laval,37.0,59.5,48.25

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
511,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare SNCF Laval,"Laval, Pays-de-la-Loire, France",3700,2017-10-13 16:02:00+00,2017-10-13 18:40:00+00,TGV,285.449153,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Parking Château Descas,97.0,97.0,97.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
363,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",9700,2017-10-15 16:31:00+00,2017-10-15 20:37:00+00,TGV,519.971383,[TGV],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Nantes,30.5,78.5,55.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
441,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",3050,2017-10-18 16:02:00+00,2017-10-18 18:54:00+00,TGV,370.441106,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Niort,80.6,80.6,80.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
124,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Niort,"Niort, Nouvelle-Aquitaine, France",8060,2017-10-30 18:34:00+00,2017-10-31 08:47:00+00,TGV,374.703787,[TER],"[Saint-Pierre-des-Corps (à 4km de Tours), Tours]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nantes,Gare Bruxelles-Midi,150.5,150.5,150.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
159,Nantes,"Nantes, Pays-de-la-Loire, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",15050,2017-10-22 14:03:00+00,2017-10-22 19:17:00+00,TGV,661.151627,"[TGV, Thalys]","[Gare SNCF Le Mans, Gare SNCF Le Mans, Marne-L..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nantes,Paris Austerlitz,37.9,63.5,50.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
177,Nantes,"Nantes, Pays-de-la-Loire, France",Paris Austerlitz,"Paris, Île-de-France, France",3790,2017-10-13 18:11:00+00,2017-10-14 22:49:00+00,TER,362.972601,[TGV],"[Saumur, Saumur]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nantes,Paris Montparnasse 1 Et 2,71.2,84.4,77.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
189,Nantes,"Nantes, Pays-de-la-Loire, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",7120,2017-10-19 16:47:00+00,2017-10-19 19:47:00+00,TER,339.178489,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nice Saint-Augustin,Roquebrune-Cap-Martin,9.0,9.0,9.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
158,Nice Saint-Augustin,"Nice, Provence-Alpes-Côte d'Azur, France",Roquebrune-Cap-Martin,"Roquebrune-Cap-Martin, Provence-Alpes-Côte d'A...",900,2017-10-19 18:13:00+00,2017-10-19 19:26:00+00,TER,34.846757,[TER],"[Cagnes-sur-Mer, Cagnes-sur-Mer]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nîmes,Gare de Marseille Saint-Charles,24.2,24.2,24.2

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
598,Nîmes,"Nîmes, Occitanie, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",2420,2017-10-14 08:51:00+00,2017-10-14 11:14:00+00,TER,103.899192,[TER],"[Tarascon-sur-Rhône, Tarascon-sur-Rhône]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Nîmes,Gare Lille-Europe,150.0,150.0,150.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
389,Nîmes,"Nîmes, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",15000,2017-10-17 14:43:00+00,2017-10-17 19:56:00+00,TGV,776.231859,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Austerlitz,Châtellerault,25.0,33.1,29.05

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
709,Paris Austerlitz,"Paris, Île-de-France, France",Châtellerault,"Châtellerault, Nouvelle-Aquitaine, France",2500,2017-10-18 17:38:00+00,2017-10-18 20:12:00+00,Intercités,265.785733,[TGV],"[Saint-Pierre-des-Corps (à 4km de Tours), Sain..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Austerlitz,Parking Château Descas,30.0,72.0,51.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
15,Paris Austerlitz,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",3000,2017-10-14 21:27:00+00,2017-10-15 14:05:00+00,Intercités,500.029024,[TGV],"[Les Aubrais, Les Aubrais]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Gare de Lyon,Gare de Marseille Saint-Charles,50.0,117.0,83.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
667,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",5000,2017-10-12 14:17:00+00,2017-10-12 17:46:00+00,TGV,658.158789,[TGV],[Aix-en-Provence - Gare TGV (à 8km du centre v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Gare de Lyon,Gare routière d'Avignon,128.0,128.9,128.45

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
351,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",12800,2017-10-06 16:07:00+00,2017-10-06 21:20:00+00,TGV,591.434049,[TGV],"[Valence Tgv Rhone-Alpes Sud, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Gare de Lyon,Gare routière de Menton,114.4,114.4,114.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
157,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare routière de Menton,"Menton, Provence-Alpes-Côte d'Azur, France",11440,2017-10-27 10:19:00+00,2017-10-27 20:31:00+00,TGV,704.004559,[TGV],"[Nice Ville, Nice Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Gare de Lyon,Gare SNCF Lyon Part-Dieu,74.8,74.8,74.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
297,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7480,2017-10-20 12:49:00+00,2017-10-20 18:44:00+00,TER,394.299859,[TER],"[Sens, Sens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Gare de Lyon,Marseille Arenc,110.1,110.1,110.1

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
91,Paris Gare de Lyon,"Paris, Île-de-France, France",Marseille Arenc,"Marseille, Provence-Alpes-Côte d'Azur, France",11010,2017-10-25 17:41:00+00,2017-10-26 07:03:00+00,TGV,661.085446,[TER],"[Miramas, Miramas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Cholet (Central Bus Station ),86.7,86.7,86.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
12,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Cholet (Central Bus Station ),"Cholet, Pays-de-la-Loire, France",8670,2017-10-13 14:46:00+00,2017-10-13 17:07:00+00,TGV,312.909891,[TER],"[Gare routière d'Angers, Gare routière d'Angers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Gare routière de Rennes,69.0,69.0,69.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
724,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare routière de Rennes,"Rennes, Bretagne, France",6900,2017-10-31 09:40:00+00,2017-10-31 12:16:00+00,TGV,322.023475,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Gare SNCF Laval,76.3,76.3,76.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
659,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare SNCF Laval,"Laval, Pays-de-la-Loire, France",7630,2017-10-13 06:40:00+00,2017-10-13 09:11:00+00,TGV,254.186536,[TER],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Gare SNCF Pau,69.0,113.0,98.333333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
501,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare SNCF Pau,"Pau, Nouvelle-Aquitaine, France",6900,2017-10-11 06:10:00+00,2017-10-11 14:10:00+00,TGV,668.287106,[TGV],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Parking Château Descas,105.5,105.5,105.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
438,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",10550,2017-10-15 19:10:00+00,2017-10-16 00:17:00+00,TGV,497.528928,[TGV],"[Avenue de Lattre de Tassigny, Avenue de Lattr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Nantes,63.5,111.2,87.066667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
78,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",6350,2017-10-13 13:06:00+00,2017-10-13 17:16:00+00,TER,339.178489,[TER],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Montparnasse 1 Et 2,Niort,46.8,46.8,46.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
126,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Niort,"Niort, Nouvelle-Aquitaine, France",4680,2017-10-30 20:54:00+00,2017-10-31 06:43:00+00,TGV,358.900184,[TER],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Saint-Lazare,Maromme,23.5,23.5,23.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
294,Paris Saint-Lazare,"Paris, Île-de-France, France",Maromme,"Maromme, Normandie, France",2350,2017-10-13 17:23:00+00,2017-10-13 18:53:00+00,Intercités,114.584361,[TER],"[Rouen Rive Droite, Rouen Rive Droite]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Champagne-Ardenne TGV,54.0,54.0,54.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
230,Rouen Rive Droite,"Rouen, Normandie, France",Champagne-Ardenne TGV,"Reims, Grand-Est, France",5400,2017-10-11 14:59:00+00,2017-10-11 19:16:00+00,Intercités,237.257613,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Colmar,136.1,136.1,136.1

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
474,Rouen Rive Droite,"Rouen, Normandie, France",Colmar,"Colmar, Grand-Est, France",13610,2017-10-18 16:12:00+00,2017-10-18 21:19:00+00,TER,490.733109,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Gare de Strasbourg,118.0,118.0,118.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
99,Rouen Rive Droite,"Rouen, Normandie, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",11800,2017-10-18 12:59:00+00,2017-10-18 17:08:00+00,Intercités,507.823888,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Gare SNCF Lorient,90.7,90.7,90.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
499,Rouen Rive Droite,"Rouen, Normandie, France",Gare SNCF Lorient,"Lorient, Bretagne, France",9070,2017-10-13 07:07:00+00,2017-10-13 21:00:00+00,TER,403.776793,"[Intercités, TER, TGV]","[MEZIDON-CANON, MEZIDON-CANON, Gare routière d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Chalons En Champagne,38.5,38.5,38.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
728,Rouen Rive Droite,"Rouen, Normandie, France",Chalons En Champagne,"Châlons-en-Champagne, Grand-Est, France",3850,2017-10-11 17:12:00+00,2017-10-11 21:14:00+00,Intercités,257.953786,[TER],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Nantes,73.3,73.3,73.3

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
175,Rouen Rive Droite,"Rouen, Normandie, France",Nantes,"Nantes, Pays-de-la-Loire, France",7330,2017-10-20 15:04:00+00,2017-10-21 08:50:00+00,TER,402.901964,"[TER, TER, TGV]","[Gare routière de Caen, Gare routière de Caen,..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Rouen Rive Droite,Paris Saint-Lazare,16.6,16.6,16.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
111,Rouen Rive Droite,"Rouen, Normandie, France",Paris Saint-Lazare,"Paris, Île-de-France, France",1660,2017-10-12 16:12:00+00,2017-10-12 18:40:00+00,TER,113.109929,[Intercités],"[Val-de-Reuil, Val-de-Reuil]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Troyes,Gare de Strasbourg,66.5,73.0,69.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
458,Troyes,"Troyes, Grand-Est, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",6650,2017-10-27 15:52:00+00,2017-10-28 12:46:00+00,Intercités,342.781365,"[TGV, TGV]","[Culmont, Culmont, Nancy, Nancy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Valence Tgv Rhone-Alpes Sud,Nancy,99.0,99.0,99.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
605,Valence Tgv Rhone-Alpes Sud,"Valence, Auvergne-Rhône-Alpes, France",Nancy,"Nancy, Grand-Est, France",9900,2017-10-13 15:28:00+00,2017-10-13 21:36:00+00,TGV,433.558853,[TGV],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Ventimiglia Stazione,Gare routière de Toulon,34.7,34.7,34.7

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
420,Ventimiglia Stazione,"Ventimiglia, Liguria, Italia",Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",3470,2017-10-13 15:07:00+00,2017-10-13 18:44:00+00,TER,154.483299,[TER],"[Juan-les-Pins, Juan-les-Pins]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Vesoul,Gare de l'Est,61.6,61.6,61.6

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
357,Vesoul,"Vesoul, Bourgogne-Franche-Comté, France",Gare de l'Est,"Paris, Île-de-France, France",6160,2017-10-23 05:50:00+00,2017-10-23 09:18:00+00,Intercités,313.770029,[Intercités],"[Troyes, Troyes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,La Roche sur Yon,Arles,80.8,80.8,80.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
8,La Roche sur Yon,"La Roche-sur-Yon, Pays de la Loire, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",8080,2017-12-23 08:00:00+00,2017-12-24 08:40:00+00,Flixbus,977.964999,[Flixbus],"[Gare de Bercy, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Grenoble - Presqu'île,Gare de Bercy,34.0,51.9,41.966667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
629,Grenoble - Presqu'île,"Grenoble, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",3400,2017-10-20 06:05:00+00,2017-10-20 14:35:00+00,Ouibus,484.761135,[Ouibus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Ibis Clichy Batignolles,Gare routière Victoria Coach,55.0,55.0,55.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
452,Paris Ibis Clichy Batignolles,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-20 09:05:00+00,2017-10-20 19:00:00+00,Flixbus,352.606571,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Nord - St-Denis université,Gare Lille-Europe,12.9,15.9,14.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
512,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1290,2017-10-06 17:40:00+00,2017-10-07 18:45:00+00,Ouibus,204.573482,[Flixbus],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Nord - St-Denis université,Gare routière Victoria Coach,55.0,55.0,55.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
462,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-27 10:05:00+00,2017-10-27 19:00:00+00,Ouibus,352.302264,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris Porte de Charenton,Lisboa (Oriente),74.9,74.9,74.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
566,Paris Porte de Charenton,"Paris, Île-de-France, France",Lisboa (Oriente),"Lisboa, Área Metropolitana de Lisboa, Portugal",7490,2017-12-20 12:45:00+00,2017-12-21 15:40:00+00,Eurolines,1471.173717,[Flixbus],"[Gare routière de Poitiers, Futuroscope]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Troyes (Gare routière),Gare routière de Strasbourg,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
191,Troyes (Gare routière),"Troyes, Grand-Est, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2000,2017-10-26 15:45:00+00,2017-10-27 18:50:00+00,Flixbus,532.874798,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Gare routière de Niort,18.0,18.0,18.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
344,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",1800,2017-10-22 15:30:00+00,2017-10-23 19:50:00+00,Isilines,358.020603,[Ouibus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Pau Université,24.0,34.0,27.333333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
55,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-12 14:45:00+00,2017-10-13 06:40:00+00,Isilines,671.834729,[Flixbus],"[Parking Château Descas, Parking Château Descas]"
338,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-13 14:45:00+00,2017-10-14 06:40:00+00,Isilines,671.834729,[Flixbus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Thiers (Péage A89),27.9,27.9,27.9

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
337,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Thiers (Péage A89),"Thiers, Auvergne-Rhône-Alpes, France",2790,2017-10-25 10:00:00+00,2017-10-25 20:20:00+00,Isilines,494.552044,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Sallanches,31.0,38.0,34.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
11,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Sallanches,"Sallanches, Auvergne-Rhône-Alpes, France",3100,2017-10-06 10:00:00+00,2017-10-06 19:50:00+00,Isilines,533.04155,[Ouibus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare Routière Internationale de Paris-Gallieni...,Nantes Halluchère - Route de Paris,20.0,20.0,20.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
28,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2000,2017-10-21 14:45:00+00,2017-10-21 21:40:00+00,Isilines,379.114841,[Isilines],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de l'Est,Gare de Strasbourg,104.8,104.8,104.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
21,Gare de l'Est,"Paris, Île-de-France, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",10480,2017-10-19 16:40:00+00,2017-10-19 20:11:00+00,TGV,407.663644,[TER],"[Gare routière de Metz, Gare routière de Metz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Gare de l'Est,Saint-Dizier,61.8,61.8,61.8

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
35,Gare de l'Est,"Paris, Île-de-France, France",Saint-Dizier,"Saint-Dizier, Grand-Est, France",6180,2017-10-14 09:28:00+00,2017-10-14 14:19:00+00,TGV,218.391834,[TER],"[Champagne-Ardenne TGV, Champagne-Ardenne TGV]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,"Tourcoing (Bus stop on ""Avenue Salvador Allende"")",Rouen Rive Droite,47.0,47.0,47.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
0,"Tourcoing (Bus stop on ""Avenue Salvador Allende"")","Tourcoing, Hauts-de-France, France",Rouen Rive Droite,"Rouen, Normandie, France",4700,2017-10-19 06:10:00+00,2017-10-19 10:00:00+00,TGV,324.701956,[Intercités],"[Gare du Nord, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Lowest bid (€),Highest bid (€),Average bid (€)
0,Paris - Bibliothèque François Mitterrand,Gare de Châlons-en-Champagne,68.0,68.0,68.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,trip_distance_km,other_companies,middle_stations
328,Paris - Bibliothèque François Mitterrand,"Paris, Île-de-France, France",Gare de Châlons-en-Champagne,"Châlons-en-Champagne, Grand-Est, France",6800,2017-10-11 12:05:00+00,2017-10-11 17:10:00+00,Vatry,155.552001,[Vatry],"[Vatry, Vatry]"

====================================================================================================
====================================================================================================

#### Statistics about trip duration

In [10]:
for (start_point, end_point), group in grouped_by_station:
    
    # The stats
    min_duration = group["trip_duration"].min()
    max_duration = group["trip_duration"].max()
    avg_duration = group["trip_duration"].mean()

    # Creating a new dataframe holding the stats
    trip_information = pd.DataFrame([{
        "Departure station": id2station[start_point],
        "Arrival station": id2station[end_point],
        "Shortest trip (minutes)": min_duration / 60,
        "Longest trip (minutes)": max_duration / 60,
        "Average trip (minutes)": avg_duration / 60
    }])
    trip_information = trip_information[["Departure station", "Arrival station", "Shortest trip (minutes)" ,"Longest trip (minutes)" ,"Average trip (minutes)"]]

    # Arranging the display
    display(HTML("<h3>From: {}".format(id2station[start_point])))
    display(HTML("<h3>To: {}".format(id2station[end_point])))
    display(trip_information)
    display(HTML("<h4>You can choose your trip in the list below :"))
    
    # Extracting a sub-dataframe holding trips with shortest duration for each couple (o_station, d_station)
    # Notice that some transformations are done to make the display human-friendly
    min_group = group[group["trip_duration"] == min_duration]
    min_group.loc[:, ("o_station")] = min_group["o_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("o_city")] = min_group["o_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("d_station")] = min_group["d_station"].apply(lambda x: id2station[x])
    min_group.loc[:, ("d_city")] = min_group["d_city"].apply(lambda x: id2city[x])
    min_group.loc[:, ("company")] = min_group["company"].apply(lambda x: id2provider[x])
    min_group.loc[:, ("other_companies")] = min_group["other_companies"].apply(lambda x: [id2provider[int(y)] for y in x.strip("{}").split(",")])
    min_group.loc[:, ("middle_stations")] = min_group["middle_stations"].apply(lambda x: [id2station[int(y)] for y in x.strip("{}").split(",")])

    min_group = min_group[["o_station", "o_city", "d_station", "d_city", "price_in_cents", "departure_ts", "arrival_ts", "company", "other_companies", "middle_stations"]]
    min_group = min_group.head(5)
    
    display(min_group)
    
    print("=" * 100)
    print("=" * 100)

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare de Liège-Guillemins,1355.0,1355.0,1355.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
130,Aéroport CDG,"Paris, Île-de-France, France",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",2790,2017-10-21 17:40:00+00,2017-10-22 16:15:00+00,Flixbus,[Deinbus.de],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare routière Aéroport Nice Terminal 2,955.0,955.0,955.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
487,Aéroport CDG,"Paris, Île-de-France, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",5880,2017-10-20 00:50:00+00,2017-10-20 16:45:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare routière de Niort,595.0,595.0,595.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
269,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",2000,2017-10-30 02:40:00+00,2017-10-30 12:35:00+00,Flixbus,[Flixbus],"[Gare de Haluchère-Batignolles, Gare de Haluch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare routière de Rotterdam Centraal,395.0,395.0,395.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
205,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Rotterdam Centraal,"Rotterdam, Zuid-Holland, Nederland",2890,2017-10-06 13:05:00+00,2017-10-06 19:40:00+00,Ouibus,[Flixbus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare routière de Valence,590.0,590.0,590.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
454,Aéroport CDG,"Paris, Île-de-France, France",Gare routière de Valence,"Valence, Auvergne-Rhône-Alpes, France",3180,2017-10-31 00:50:00+00,2017-10-31 10:40:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport CDG,Gare SNCF Lyon-Perrache,525.0,525.0,525.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
253,Aéroport CDG,"Paris, Île-de-France, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",3790,2017-11-02 00:50:00+00,2017-11-02 09:35:00+00,Flixbus,[Flixbus],"[Gare SNCF Chalon-sur-Saône, Gare SNCF Chalon-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport Saint-Exupéry,Avenue Henry Mouret,330.0,330.0,330.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
481,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Avenue Henry Mouret,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",2300,2017-10-12 08:30:00+00,2017-10-12 14:00:00+00,Ouibus,[Flixbus],"[Gare routière de Valence, Gare routière de Va..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport Saint-Exupéry,Gare SNCF Biarritz,780.0,780.0,780.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
324,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Gare SNCF Biarritz,"Biarritz, Nouvelle-Aquitaine, France",4390,2017-10-05 22:45:00+00,2017-10-06 11:45:00+00,Flixbus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Aéroport Saint-Exupéry,Nîmes - Mas de Vignolles - Nimes,315.0,315.0,315.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
623,Aéroport Saint-Exupéry,"Lyon, Auvergne-Rhône-Alpes, France",Nîmes - Mas de Vignolles - Nimes,"Nîmes, Occitanie, France",2200,2017-10-31 14:30:00+00,2017-10-31 19:45:00+00,Ouibus,[Eurolines],"[Gare routière de Valence, Gare routière de Va..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Avenue Charles Floquet,Parking Château Descas,395.0,395.0,395.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
2,Avenue Charles Floquet,"Biarritz, Nouvelle-Aquitaine, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",2190,2017-10-21 18:15:00+00,2017-10-22 00:50:00+00,Flixbus,[Flixbus],"[Pau Université, Pau Université]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Avenue de Lattre de Tassigny,Paris Austerlitz,544.0,544.0,544.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
296,Avenue de Lattre de Tassigny,"Angoulême, Nouvelle-Aquitaine, France",Paris Austerlitz,"Paris, Île-de-France, France",4880,2017-10-12 07:35:00+00,2017-10-12 16:39:00+00,TER,[Intercités],"[Limoges Montjovis, Gare routière de Limoges]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Avenue du Campon,Station Les Sabines,865.0,865.0,865.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
176,Avenue du Campon,"Cannes, Provence-Alpes-Côte d'Azur, France",Station Les Sabines,"Montpellier, Occitanie, France",2690,2017-10-20 19:00:00+00,2017-10-21 09:25:00+00,Flixbus,[Flixbus],"[Avenue Henry Mouret, Avenue Henry Mouret]"
227,Avenue du Campon,"Cannes, Provence-Alpes-Côte d'Azur, France",Station Les Sabines,"Montpellier, Occitanie, France",3480,2017-10-20 19:00:00+00,2017-10-21 09:25:00+00,Flixbus,[Flixbus],"[Marseille, Marseille]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Avenue du Maréchal Foch,Avenue du Campon,1595.0,1595.0,1595.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
733,Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",Avenue du Campon,"Cannes, Provence-Alpes-Côte d'Azur, France",3480,2017-10-20 13:20:00+00,2017-10-21 15:55:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Avenue Georges Pompidou,Gare SNCF Lyon-Perrache,1325.0,1325.0,1325.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
404,Avenue Georges Pompidou,"Orléans, Centre-Val de Loire, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",3390,2017-11-03 21:10:00+00,2017-11-04 19:15:00+00,Ouibus,[Flixbus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Centre Commercial Ouest,Orly Sud,655.0,655.0,655.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
681,Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",Orly Sud,"Paris, Île-de-France, France",2400,2017-11-07 18:05:00+00,2017-11-08 05:00:00+00,Ouibus,[Ouibus],"[Gare routière de Clermont-Ferrand, Gare routi..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Champagne-Ardenne TGV,Rouen Rive Droite,213.0,213.0,213.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
358,Champagne-Ardenne TGV,"Reims, Grand-Est, France",Rouen Rive Droite,"Rouen, Normandie, France",3850,2017-10-19 14:15:00+00,2017-10-19 17:48:00+00,TGV,[Intercités],"[Gare de l'Est, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Châteauroux (central bus station),Gare de Bercy,425.0,425.0,425.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
204,Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",Gare de Bercy,"Paris, Île-de-France, France",4100,2017-10-29 14:45:00+00,2017-10-29 21:50:00+00,Isilines,[Ouibus],"[Gare routière de Limoges, Gare routière de Li..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Créavallée Nord,Gare SNCF Dijon Ville,725.0,725.0,725.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
398,Créavallée Nord,"Périgueux, Nouvelle-Aquitaine, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",4490,2017-11-01 00:35:00+00,2017-11-01 12:40:00+00,Flixbus,[Ouibus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Bruxelles-Midi,Gare routière de Poitiers,242.0,242.0,242.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
435,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Poitiers,"Poitiers, Nouvelle-Aquitaine, France",17800,2017-10-06 10:43:00+00,2017-10-06 14:45:00+00,Thalys,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Bruxelles-Midi,Gare routière de Saint-Brieuc,299.0,334.0,316.5

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
326,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Saint-Brieuc,"Saint-Brieuc, Bretagne, France",19300,2017-10-28 12:13:00+00,2017-10-28 17:12:00+00,Thalys,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Bruxelles-Midi,Gare routière de Toulouse,965.0,965.0,965.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
649,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière de Toulouse,"Toulouse, Occitanie, France",4480,2017-10-27 02:50:00+00,2017-10-27 18:55:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Bruxelles-Midi,Gare routière Victoria Coach,400.0,400.0,400.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
42,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière Victoria Coach,"London, England, United Kingdom",3800,2017-11-03 09:50:00+00,2017-11-03 16:30:00+00,Ouibus,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Bruxelles-Midi,Parking Château Descas,283.0,285.0,284.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
580,Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",19300,2017-10-05 09:13:00+00,2017-10-05 13:56:00+00,Thalys,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare centrale de Dresden,Gare de Liège-Guillemins,1120.0,1120.0,1120.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
490,Gare centrale de Dresden,"Praha, Praha, Česko",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",5090,2017-11-26 11:05:00+00,2017-11-27 05:45:00+00,Flixbus,[Deinbus.de],"[Cologne East (Bergisch Gladbach, Refrath), Kö..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare centrale de Munich,Gare de Bercy,755.0,755.0,755.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
431,Gare centrale de Munich,"München, Bayern, Deutschland",Gare de Bercy,"Paris, Île-de-France, France",5180,2017-10-15 19:30:00+00,2017-10-16 08:05:00+00,Flixbus,[Flixbus],"[Gare routière de Strasbourg, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare d'Amsterdam Centraal,Gare du Nord,283.0,283.0,283.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
125,Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",Gare du Nord,"Paris, Île-de-France, France",9800,2017-10-20 12:17:00+00,2017-10-20 17:00:00+00,Thalys,[TGV],"[Gare Bruxelles-Midi, Gare Bruxelles-Midi]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Avenue du Maréchal Foch,915.0,915.0,915.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
247,Gare de Bercy,"Paris, Île-de-France, France",Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",2090,2017-10-13 13:00:00+00,2017-10-14 04:15:00+00,Flixbus,[Flixbus],"[Gare SNCF Auxerre, Gare SNCF Auxerre]"
530,Gare de Bercy,"Paris, Île-de-France, France",Avenue du Maréchal Foch,"Besançon, Bourgogne-Franche-Comté, France",2090,2017-10-13 13:00:00+00,2017-10-14 04:15:00+00,Flixbus,[Flixbus],"[Gare SNCF Auxerre, Gare SNCF Auxerre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare de Amsterdam Sloterdijk,665.0,665.0,665.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
450,Gare de Bercy,"Paris, Île-de-France, France",Gare de Amsterdam Sloterdijk,"Amsterdam, Noord-Holland, Nederland",2300,2017-10-27 10:00:00+00,2017-10-27 21:05:00+00,Flixbus,[Flixbus],"[Den Haag Centraal, Den Haag Centraal]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare de Luxembourg,620.0,620.0,620.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
548,Gare de Bercy,"Paris, Île-de-France, France",Gare de Luxembourg,"Luxembourg, Canton Luxembourg, Luxembourg",2100,2017-11-10 08:00:00+00,2017-11-10 18:20:00+00,Ouibus,[Ouibus],"[CHU Brabois, CHU Brabois]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare Lille-Europe,435.0,1175.0,681.666667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
116,Gare de Bercy,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1990,2017-10-13 12:45:00+00,2017-10-13 20:00:00+00,Flixbus,[Flixbus],"[Parc Astérix, Parc Astérix]"
587,Gare de Bercy,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1000,2017-10-14 12:45:00+00,2017-10-14 20:00:00+00,Flixbus,[Flixbus],"[Parc Astérix, Parc Astérix]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare routière de Bologne,1040.0,1040.0,1040.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
39,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Bologne,"Bologna, Emilia-Romagna, Italia",5690,2017-10-13 23:00:00+00,2017-10-14 16:20:00+00,Ouibus,[Flixbus],"[Gare routière de Milano, Milan (San Donato M3)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare routière de Metz,340.0,340.0,340.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
273,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Metz,"Metz, Grand-Est, France",2390,2017-10-14 10:30:00+00,2017-10-14 16:10:00+00,Flixbus,[Isilines],"[Champagne-Ardenne TGV, Champagne-Ardenne TGV]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare routière de Niort,790.0,790.0,790.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
355,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",2000,2017-10-30 06:30:00+00,2017-10-30 19:40:00+00,Ouibus,[Flixbus],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare routière de Rotterdam Centraal,530.0,530.0,530.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
568,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Rotterdam Centraal,"Rotterdam, Zuid-Holland, Nederland",3790,2017-10-06 14:00:00+00,2017-10-06 22:50:00+00,Ouibus,[Flixbus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare routière de Strasbourg,1300.0,1300.0,1300.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
170,Gare de Bercy,"Paris, Île-de-France, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2990,2017-12-23 18:00:00+00,2017-12-24 15:40:00+00,Flixbus,[Ouibus],"[Quai Sainte-Catherine, CHU Brabois]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Gare SNCF Lyon Part-Dieu,365.0,725.0,456.25

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
25,Gare de Bercy,"Paris, Île-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7480,2017-10-18 12:39:00+00,2017-10-18 18:44:00+00,TER,[TER],"[Sens, Sens]"
619,Gare de Bercy,"Paris, Île-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7540,2017-10-28 12:39:00+00,2017-10-28 18:44:00+00,TER,[TER],"[Laroche Migennes, Laroche Migennes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Lons-le-Saunier Autocar Transarc Credoz,560.0,560.0,560.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
646,Gare de Bercy,"Paris, Île-de-France, France",Lons-le-Saunier Autocar Transarc Credoz,"Lons-le-Saunier, Bourgogne-Franche-Comté, France",1700,2017-10-24 09:30:00+00,2017-10-24 18:50:00+00,Ouibus,[Flixbus],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Pau Université,925.0,925.0,925.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
213,Gare de Bercy,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-12 15:15:00+00,2017-10-13 06:40:00+00,Ouibus,[Flixbus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Saumur Nord -Vivy,650.0,650.0,650.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
575,Gare de Bercy,"Paris, Île-de-France, France",Saumur Nord -Vivy,"Saumur, Pays-de-la-Loire, France",4380,2017-10-31 12:00:00+00,2017-10-31 22:50:00+00,Flixbus,[Flixbus],"[Gare routière de Vannes, Gare routière de Van..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Thiers,300.0,510.0,368.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
651,Gare de Bercy,"Paris, Île-de-France, France",Thiers,"Thiers, Auvergne-Rhône-Alpes, France",7060,2017-10-27 14:00:00+00,2017-10-27 19:00:00+00,Intercités,[TER],"[Clermont Ferrand, Clermont Ferrand]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bercy,Nantes Halluchère - Route de Paris,465.0,465.0,465.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
384,Gare de Bercy,"Paris, Île-de-France, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2000,2017-10-06 08:15:00+00,2017-10-06 16:00:00+00,Ouibus,[Isilines],"[Gare routière d'Angers, Gare routière d'Angers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bruxelles-Nord,Gare d'Amsterdam Centraal,246.0,246.0,246.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
156,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",4260,2017-10-13 09:00:00+00,2017-10-13 13:06:00+00,TGV,[TGV],"[Antwerp (Berchem), Antwerp (Koningin Astridpl..."
300,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",4260,2017-10-13 07:00:00+00,2017-10-13 11:06:00+00,TGV,[TGV],"[Antwerp (Berchem), Antwerp (Koningin Astridpl..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bruxelles-Nord,Gare routière Victoria Coach,805.0,805.0,805.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
70,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Gare routière Victoria Coach,"London, England, United Kingdom",4900,2017-11-03 16:20:00+00,2017-11-04 05:45:00+00,Flixbus,[Eurolines],"[Gare routière de Rotterdam Centraal, Gare rou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Bruxelles-Nord,Parking Château Descas,750.0,945.0,847.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
280,Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",4490,2017-10-05 14:30:00+00,2017-10-06 03:00:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Haluchère-Batignolles,Gare SNCF Lorient,255.0,255.0,255.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
516,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Gare SNCF Lorient,"Lorient, Bretagne, France",1380,2017-11-05 17:15:00+00,2017-11-05 21:30:00+00,Ouibus,[Flixbus],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Haluchère-Batignolles,Station Les Sabines,685.0,685.0,685.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
132,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Station Les Sabines,"Montpellier, Occitanie, France",4180,2017-10-30 23:30:00+00,2017-10-31 10:55:00+00,Flixbus,[Flixbus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Haluchère-Batignolles,Troyes (Gare routière),495.0,495.0,495.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
65,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Troyes (Gare routière),"Troyes, Grand-Est, France",2400,2017-11-17 09:30:00+00,2017-11-17 17:45:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Haluchère-Batignolles,Gare Routière Internationale de Paris-Gallieni...,775.0,775.0,775.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
475,Gare de Haluchère-Batignolles,"Nantes, Pays-de-la-Loire, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",1800,2017-10-20 09:00:00+00,2017-10-20 21:55:00+00,Flixbus,[Isilines],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Marseille Saint-Charles,Cannes,204.0,877.0,540.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
218,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",2500,2017-10-14 09:00:00+00,2017-10-14 12:24:00+00,TGV,[TGV],"[Les Arcs - Draguignan, Les Arcs - Draguignan]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Marseille Saint-Charles,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,359.0,359.0,359.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
614,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",11750,2017-10-28 11:10:00+00,2017-10-28 17:09:00+00,TER,[TGV],"[Gare routière de Valence, Valence Tgv Rhone-A..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de Marseille Saint-Charles,Paris Gare de Lyon,241.0,241.0,241.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
445,Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",12000,2017-10-17 15:14:00+00,2017-10-17 19:15:00+00,TGV,[TGV],[Aix-en-Provence - Gare TGV (à 8km du centre v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Lille-Europe,Gare routière de Saint-Étienne,1140.0,1140.0,1140.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
168,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",12100,2017-10-13 14:47:00+00,2017-10-14 09:47:00+00,TGV,"[TGV, TGV]","[Aeroport Cdg2 Tgv Roissy, Aeroport Cdg2 Tgv R..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Lille-Europe,Gare SNCF Lyon Part-Dieu,605.0,605.0,605.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
726,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",3080,2017-10-13 14:55:00+00,2017-10-14 01:00:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Lille-Europe,Gare SNCF Lyon-Perrache,560.0,680.0,628.75

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
279,Gare Lille-Europe,"Lille, Hauts-de-France, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",3780,2017-10-31 05:10:00+00,2017-10-31 14:30:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Lille-Europe,Sortie Autoroute A16,390.0,1610.0,1000.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
608,Gare Lille-Europe,"Lille, Hauts-de-France, France",Sortie Autoroute A16,"Le Touquet-Paris-Plage, Hauts-de-France, France",2780,2017-10-20 10:50:00+00,2017-10-20 17:20:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Lille-Europe,Aix-en-Provence - Gare TGV (à 8km du centre vi...,571.0,571.0,571.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
261,Gare Lille-Europe,"Lille, Hauts-de-France, France",Aix-en-Provence - Gare TGV (à 8km du centre vi...,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",12950,2017-10-13 06:16:00+00,2017-10-13 15:47:00+00,TGV,[TGV],[TGV Haute-Picardie (à environ 40km d'Amiens e...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière Aéroport Nice Terminal 2,Gare de Bercy,810.0,810.0,810.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
467,Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",Gare de Bercy,"Paris, Île-de-France, France",3790,2018-03-08 08:30:00+00,2018-03-08 22:00:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière d'Angers,Gare SNCF Lyon-Perrache,955.0,955.0,955.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
582,Gare routière d'Angers,"Angers, Pays-de-la-Loire, France",Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",6090,2017-10-19 14:45:00+00,2017-10-20 06:40:00+00,Isilines,[Flixbus],"[Nantes Halluchère - Route de Paris, Gare de H..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière d'Annecy,Centre Commercial Ouest,530.0,530.0,530.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
362,Gare routière d'Annecy,"Annecy, Auvergne-Rhône-Alpes, France",Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",6100,2017-10-27 10:30:00+00,2017-10-27 19:20:00+00,Ouibus,[Ouibus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière d'Annecy,Chamonix centre,194.0,194.0,194.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
388,Gare routière d'Annecy,"Annecy, Auvergne-Rhône-Alpes, France",Chamonix centre,"Chamonix, Auvergne-Rhône-Alpes, France",2750,2017-10-18 11:32:00+00,2017-10-18 14:46:00+00,TER,[TER],"[Saint-Gervais-les-Bains - Le Fayet, Saint-Ger..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Caen,Gare Bruxelles-Midi,365.0,365.0,365.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
267,Gare routière de Caen,"Caen, Normandie, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",7200,2017-10-22 08:52:00+00,2017-10-22 14:57:00+00,Intercités,[TGV],"[Paris Saint-Lazare, Marne-La-Vallée - Chessy ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Caen,Gare routière de Metz,740.0,740.0,740.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
149,Gare routière de Caen,"Caen, Normandie, France",Gare routière de Metz,"Metz, Grand-Est, France",7780,2017-10-21 13:30:00+00,2017-10-22 01:50:00+00,Flixbus,[Flixbus],"[Gare de Bruxelles-Nord, Gare de Bruxelles-Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Caen,Paris Saint-Lazare,181.0,181.0,181.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
376,Gare routière de Caen,"Caen, Normandie, France",Paris Saint-Lazare,"Paris, Île-de-France, France",3930,2017-10-15 12:16:00+00,2017-10-15 15:17:00+00,TER,[Intercités],"[Lisieux, Lisieux]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Caen,Gare Routière Internationale de Paris-Gallieni...,405.0,405.0,405.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
679,Gare routière de Caen,"Caen, Normandie, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",1190,2017-10-15 14:00:00+00,2017-10-15 20:45:00+00,Flixbus,[Isilines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Chambéry,Gare routière de Clermont-Ferrand,395.0,395.0,395.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
246,Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",2200,2017-10-23 15:55:00+00,2017-10-23 22:30:00+00,Ouibus,[Flixbus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Chambéry,Gare routière de Toulouse,650.0,650.0,650.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
461,Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",Gare routière de Toulouse,"Toulouse, Occitanie, France",3400,2017-10-25 19:55:00+00,2017-10-26 06:45:00+00,Ouibus,[Flixbus],"[Aéroport Saint-Exupéry, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Clermont-Ferrand,Centre Commercial Ouest,985.0,985.0,985.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
320,Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",Centre Commercial Ouest,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",3690,2017-10-21 01:35:00+00,2017-10-21 18:00:00+00,Flixbus,[Ouibus],"[Créavallée Nord, Créavallée Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Clermont-Ferrand,Gare routière de Chambéry,335.0,335.0,335.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
208,Gare routière de Clermont-Ferrand,"Clermont-Ferrand, Auvergne-Rhône-Alpes, France",Gare routière de Chambéry,"Chambéry, Auvergne-Rhône-Alpes, France",2700,2017-10-20 13:00:00+00,2017-10-20 18:35:00+00,Ouibus,[Ouibus],"[Gare SNCF Lyon-Perrache, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Limoges,Valenciennes University,705.0,705.0,705.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
727,Gare routière de Limoges,"Limoges, Nouvelle-Aquitaine, France",Valenciennes University,"Valenciennes, Hauts-de-France, France",6040,2017-10-13 02:05:00+00,2017-10-13 13:50:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Mulhouse,Gare SNCF Lyon Part-Dieu,240.0,240.0,240.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
152,Gare routière de Mulhouse,"Mulhouse, Grand-Est, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7350,2017-10-13 08:56:00+00,2017-10-13 12:56:00+00,TGV,[TGV],"[Belfort-Montbeliard Tgv, Belfort-Montbeliard ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Niort,Gare de Bercy,1795.0,1795.0,1795.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
444,Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",Gare de Bercy,"Paris, Île-de-France, France",2580,2017-10-27 13:15:00+00,2017-10-28 19:10:00+00,Flixbus,[Flixbus],"[Gare de Haluchère-Batignolles, Gare de Haluch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Perpignan,Gare Lille-Europe,1050.0,1050.0,1050.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
380,Gare routière de Perpignan,"Perpignan, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",3790,2017-11-06 19:30:00+00,2017-11-07 13:00:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Perpignan,Parking Château Descas,750.0,750.0,750.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
119,Gare routière de Perpignan,"Perpignan, Occitanie, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",2700,2017-10-20 19:30:00+00,2017-10-21 08:00:00+00,Ouibus,[Ouibus],"[Gare routière de Toulouse, Gare routière de T..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Poitiers,Gare routière de Saint-Étienne,327.0,327.0,327.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
379,Gare routière de Poitiers,"Poitiers, Nouvelle-Aquitaine, France",Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",13200,2017-10-20 10:20:00+00,2017-10-20 15:47:00+00,TGV,[TGV],"[Paris Montparnasse 1 Et 2, Paris Gare de Lyon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Quimper,Gare routière Aéroport Nice Terminal 2,1410.0,1410.0,1410.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
687,Gare routière de Quimper,"Quimper, Bretagne, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",5800,2017-12-07 17:15:00+00,2017-12-08 16:45:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Quimper,Gare SNCF Béziers,542.0,542.0,542.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
37,Gare routière de Quimper,"Quimper, Bretagne, France",Gare SNCF Béziers,"Béziers, Occitanie, France",17300,2017-10-14 05:11:00+00,2017-10-14 14:13:00+00,TGV,[TGV],"[Paris Montparnasse 1 Et 2, Paris Gare de Lyon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Saint-Étienne,Gare Lille-Europe,246.0,246.0,246.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
79,Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",11570,2017-10-20 07:50:00+00,2017-10-20 11:56:00+00,TER,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Saint-Étienne,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,178.0,1226.0,702.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
502,Gare routière de Saint-Étienne,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",10870,2017-10-20 14:50:00+00,2017-10-20 17:48:00+00,TER,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulon,Gare de Strasbourg,425.0,425.0,425.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
518,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",8100,2017-10-18 14:50:00+00,2017-10-18 21:55:00+00,TGV,[TGV],"[Gare de Marseille Saint-Charles, Gare de Mars..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulon,Gare routière de Strasbourg,1290.0,1580.0,1435.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
38,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",4090,2017-10-20 12:00:00+00,2017-10-21 09:30:00+00,Flixbus,[Flixbus],"[Marseille, Marseille]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulon,Ventimiglia Stazione,186.0,331.0,237.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
103,Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",Ventimiglia Stazione,"Ventimiglia, Liguria, Italia",3330,2017-10-14 15:14:00+00,2017-10-14 18:20:00+00,TER,[TER],"[Monaco - Monte-Carlo, Monaco - Monte-Carlo]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulouse,Gare routière de Quimper,1422.0,1422.0,1422.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
68,Gare routière de Toulouse,"Toulouse, Occitanie, France",Gare routière de Quimper,"Quimper, Bretagne, France",8260,2017-10-27 12:22:00+00,2017-10-28 12:04:00+00,Intercités,"[Intercités, TER]","[Parking Château Descas, Parking Château Desca..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulouse,Gare routière Victoria Coach,1240.0,1240.0,1240.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
549,Gare routière de Toulouse,"Toulouse, Occitanie, France",Gare routière Victoria Coach,"London, England, United Kingdom",9400,2017-10-30 19:05:00+00,2017-10-31 15:45:00+00,Flixbus,[Eurolines],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulouse,Nantes,1096.0,1096.0,1096.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
240,Gare routière de Toulouse,"Toulouse, Occitanie, France",Nantes,"Nantes, Pays-de-la-Loire, France",3900,2017-10-12 18:16:00+00,2017-10-13 12:32:00+00,Intercités,[Intercités],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulouse,Paris Austerlitz,454.0,489.0,471.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
465,Gare routière de Toulouse,"Toulouse, Occitanie, France",Paris Austerlitz,"Paris, Île-de-France, France",5400,2017-10-14 06:48:00+00,2017-10-14 14:22:00+00,TGV,[Intercités],"[Montauban Ville Bourbon, Montauban Ville Bour..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Toulouse,Nantes Halluchère - Route de Paris,950.0,950.0,950.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
81,Gare routière de Toulouse,"Toulouse, Occitanie, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2400,2017-10-20 14:20:00+00,2017-10-21 06:10:00+00,Flixbus,[Isilines],"[Agen (Exit A62), Agen (Exit A62)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Valence,Gare Lille-Europe,271.0,755.0,513.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
164,Gare routière de Valence,"Valence, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",13480,2017-10-14 12:26:00+00,2017-10-14 16:57:00+00,TER,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière de Vannes,Paris Montparnasse 1 Et 2,189.0,233.0,211.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
675,Gare routière de Vannes,"Vannes, Bretagne, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",5300,2017-10-22 20:55:00+00,2017-10-23 00:04:00+00,TER,[TGV],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière du Havre,Parking Château Descas,356.0,356.0,356.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
318,Gare routière du Havre,"Le Havre, Normandie, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",11100,2017-10-30 12:02:00+00,2017-10-30 17:58:00+00,Intercités,[TGV],"[Paris Saint-Lazare, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare routière Victoria Coach,Gare routière de Bourges,880.0,880.0,880.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
622,Gare routière Victoria Coach,"London, England, United Kingdom",Gare routière de Bourges,"Bourges, Centre-Val de Loire, France",4990,2017-10-30 22:00:00+00,2017-10-31 12:40:00+00,Eurolines,[Flixbus],[Gare Routière Internationale de Paris-Gallien...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Chalon-sur-Saône,Gare de Bercy,279.0,279.0,279.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
93,Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",4000,2017-10-21 11:43:00+00,2017-10-21 16:22:00+00,Navette Keolis,[TER],"[Chagny, Chagny]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Chalon-sur-Saône,Gare de Liège-Guillemins,1174.0,1174.0,1174.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
184,Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",Gare de Liège-Guillemins,"Liège, Wallonie, Belgique",13800,2017-10-14 14:37:00+00,2017-10-15 10:11:00+00,TER,[Thalys],"[Gare de Bercy, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Charleville-Mézières,Gare de Marseille Saint-Charles,1163.0,1163.0,1163.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
424,Gare SNCF Charleville-Mézières,"Charleville-Mézières, Grand-Est, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",15450,2017-10-22 17:23:00+00,2017-10-23 12:46:00+00,TER,"[TER, TGV]","[Longuyon, Longuyon, Nancy, Nancy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Dijon Ville,Gare de Bercy,870.0,870.0,870.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
534,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",2300,2017-11-03 02:50:00+00,2017-11-03 17:20:00+00,Isilines,[Flixbus],"[Gare SNCF Chalon-sur-Saône, Gare SNCF Chalon-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Dijon Ville,Gare routière Aéroport Nice Terminal 1,685.0,685.0,685.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
636,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare routière Aéroport Nice Terminal 1,"Nice, Provence-Alpes-Côte d'Azur, France",2800,2017-10-14 02:50:00+00,2017-10-14 14:15:00+00,Isilines,[Ouibus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Dijon Ville,Gare routière Aéroport Nice Terminal 2,2040.0,2040.0,2040.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
336,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",3000,2017-10-14 02:00:00+00,2017-10-15 12:00:00+00,Isilines,[Flixbus],"[Besançon - Rue de Châtillon, Avenue du Maréch..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Dijon Ville,Gare SNCF Lyon Part-Dieu,675.0,675.0,675.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
519,Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",1800,2017-10-15 20:30:00+00,2017-10-16 07:45:00+00,Flixbus,[Flixbus],"[Gare routière de Genève, Gare routière de Gen..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Gare de Bercy,505.0,505.0,505.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
579,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",3390,2017-10-27 09:35:00+00,2017-10-27 18:00:00+00,Ouibus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Gare routière de Rennes,356.0,356.0,356.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
255,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare routière de Rennes,"Rennes, Bretagne, France",17180,2017-10-21 11:21:00+00,2017-10-21 17:17:00+00,TER,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Brive-la-Gaillarde,531.0,542.0,536.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
469,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Brive-la-Gaillarde,"Brive-la-Gaillarde, Nouvelle-Aquitaine, France",14300,2017-10-26 13:16:00+00,2017-10-26 22:07:00+00,TGV,[Intercités],"[Paris Gare de Lyon, Paris Austerlitz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Cannes,1675.0,1675.0,1675.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
244,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",7310,2017-10-15 16:08:00+00,2017-10-16 20:03:00+00,TER,"[TER, TER, TGV]","[Jarrie - Vizille, Jarrie - Vizille, Veynes - ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,207.0,207.0,207.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
224,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",15980,2017-10-20 12:21:00+00,2017-10-20 15:48:00+00,TER,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Grenoble,Gare Routière Internationale de Paris-Gallieni...,600.0,600.0,600.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
545,Gare SNCF Grenoble,"Grenoble, Auvergne-Rhône-Alpes, France",Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",2000,2017-10-30 06:30:00+00,2017-10-30 16:30:00+00,Ouibus,[Isilines],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Guingamp,Parking Château Descas,1660.0,1660.0,1660.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
572,Gare SNCF Guingamp,"Guingamp, Bretagne, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",3390,2017-10-28 18:40:00+00,2017-10-29 22:20:00+00,Flixbus,"[Ouibus, Flixbus]","[Gare routière de Brest, Gare routière de Bres..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF La Rochelle,Paris Austerlitz,296.0,296.0,296.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
507,Gare SNCF La Rochelle,"La Rochelle, Nouvelle-Aquitaine, France",Paris Austerlitz,"Paris, Île-de-France, France",5610,2017-10-30 16:06:00+00,2017-10-30 21:02:00+00,TER,[TGV],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Le Mans,Rouen Rive Droite,281.0,281.0,281.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
368,Gare SNCF Le Mans,"Le Mans, Pays-de-la-Loire, France",Rouen Rive Droite,"Rouen, Normandie, France",4840,2017-10-09 07:12:00+00,2017-10-09 11:53:00+00,TER,[TER],"[MEZIDON-CANON, MEZIDON-CANON]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Le Mans,"Arras (Bus stop on ""rue du Docteur Brassart"")",196.0,196.0,196.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
697,Gare SNCF Le Mans,"Le Mans, Pays-de-la-Loire, France","Arras (Bus stop on ""rue du Docteur Brassart"")","Arras, Hauts-de-France, France",6400,2017-10-24 12:25:00+00,2017-10-24 15:41:00+00,TGV,[TGV],"[Paris Montparnasse 1 Et 2, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Châteauroux (central bus station),1145.0,1145.0,1145.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
343,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",2790,2017-10-15 15:15:00+00,2017-10-16 10:20:00+00,Flixbus,[Flixbus],"[Tulle Péage Nord, Tulle Gare (médiathèque)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Gare de Bercy,336.0,426.0,379.4

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
360,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",4890,2017-10-13 16:46:00+00,2017-10-13 22:22:00+00,TER,[TER],"[Mâcon, Mâcon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Gare routière Victoria Coach,900.0,900.0,900.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
446,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière Victoria Coach,"London, England, United Kingdom",3790,2017-10-06 07:00:00+00,2017-10-06 22:00:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,179.0,179.0,179.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
13,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",11150,2017-10-21 17:30:00+00,2017-10-21 20:29:00+00,TGV,[TGV],"[Massy-Palaiseau, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Nîmes,179.0,179.0,179.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
632,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Nîmes,"Nîmes, Occitanie, France",5000,2017-10-31 14:06:00+00,2017-10-31 17:05:00+00,TGV,[TGV],"[Valence Tgv Rhone-Alpes Sud, Valence Tgv Rhon..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon Part-Dieu,Paris Gare de Lyon,243.0,243.0,243.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
591,Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",Paris Gare de Lyon,"Paris, Île-de-France, France",6550,2017-10-21 16:04:00+00,2017-10-21 20:07:00+00,TGV,[TGV],[Le Creusot - Montceau TGV (à 10km du centre-v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon-Perrache,Châteauroux (central bus station),1955.0,1955.0,1955.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
185,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Châteauroux (central bus station),"Châteauroux, Centre-Val de Loire, France",1990,2017-12-16 08:00:00+00,2017-12-17 16:35:00+00,Flixbus,[Flixbus],"[Centre Commercial Ouest, Centre Commercial Ou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon-Perrache,Gare Lille-Europe,555.0,955.0,648.125

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
85,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2390,2017-11-06 07:15:00+00,2017-11-06 16:30:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"
541,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2790,2017-11-02 07:15:00+00,2017-11-02 16:30:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"
699,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2790,2017-11-02 07:15:00+00,2017-11-02 16:30:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Lyon-Perrache,Gare routière de Caen,630.0,1695.0,1088.333333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
17,Gare SNCF Lyon-Perrache,"Lyon, Auvergne-Rhône-Alpes, France",Gare routière de Caen,"Caen, Normandie, France",4000,2017-10-26 06:15:00+00,2017-10-26 16:45:00+00,Eurolines,[Ouibus],[Gare Routière Internationale de Paris-Gallien...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare SNCF Saint-Etienne Chateaucreux,Aix-les-Bains,265.0,265.0,265.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
221,Gare SNCF Saint-Etienne Chateaucreux,"Saint-Étienne, Auvergne-Rhône-Alpes, France",Aix-les-Bains,"Aix-les-Bains, Auvergne-Rhône-Alpes, France",2700,2017-10-09 18:45:00+00,2017-10-09 23:10:00+00,Ouibus,[Ouibus],"[Aéroport Saint-Exupéry, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,La Défense,Bruges (Station Brugge),435.0,435.0,435.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
666,La Défense,"Paris, Île-de-France, France",Bruges (Station Brugge),"Bruges, Vlaanderen, Belgique",1690,2017-10-20 12:00:00+00,2017-10-20 19:15:00+00,Ouibus,[Ouibus],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Mâcon,Gare de Bruxelles-Nord,895.0,895.0,895.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
141,Mâcon,"Mâcon, Bourgogne-Franche-Comté, France",Gare de Bruxelles-Nord,"Bruxelles, Bruxelles-Capitale, Belgique",5190,2017-10-22 17:40:00+00,2017-10-23 08:35:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marseille,Gare Lille-Europe,825.0,825.0,825.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
186,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",4790,2017-10-08 20:40:00+00,2017-10-09 10:25:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marseille,Gare routière Aéroport Nice Terminal 2,430.0,430.0,430.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
350,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare routière Aéroport Nice Terminal 2,"Nice, Provence-Alpes-Côte d'Azur, France",1290,2017-11-09 13:55:00+00,2017-11-09 21:05:00+00,Flixbus,[Flixbus],"[Gare routière de Toulon, Gare routière de Tou..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marseille,Gare SNCF Chalon-sur-Saône,920.0,920.0,920.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
562,Marseille,"Marseille, Provence-Alpes-Côte d'Azur, France",Gare SNCF Chalon-sur-Saône,"Chalon-sur-Saône, Bourgogne-Franche-Comté, France",1190,2017-10-06 21:45:00+00,2017-10-07 13:05:00+00,Flixbus,[Ouibus],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon-Perr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marseille Arenc,Paris Gare de Lyon,1160.0,1482.0,1321.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
578,Marseille Arenc,"Marseille, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",9110,2017-10-25 16:55:00+00,2017-10-26 12:15:00+00,TER,[TGV],"[Miramas, Miramas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Massy-Palaiseau,Gare routière Victoria Coach,815.0,815.0,815.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
281,Massy-Palaiseau,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-25 05:25:00+00,2017-10-25 19:00:00+00,Flixbus,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Massy-Palaiseau,Parking Château Descas,530.0,530.0,530.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
508,Massy-Palaiseau,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",3390,2017-10-23 14:25:00+00,2017-10-23 23:15:00+00,Flixbus,[Eurolines],"[Rue de la Bourie Rouge, Rue de la Bourie Rouge]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nevers (Central bus station),Gare de Bercy,203.0,203.0,203.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
670,Nevers (Central bus station),"Nevers, Bourgogne-Franche-Comté, France",Gare de Bercy,"Paris, Île-de-France, France",3450,2017-10-20 17:26:00+00,2017-10-20 20:49:00+00,TER,[Intercités],"[La Charité-sur-Loire, La Charité-sur-Loire]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare Bruxelles-Midi,341.0,341.0,341.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
457,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",17600,2017-10-20 12:02:00+00,2017-10-20 17:43:00+00,TGV,[TGV],"[Paris Montparnasse 1 Et 2, Marne-La-Vallée - ..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare Lille-Europe,820.0,955.0,901.666667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
497,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",2990,2017-10-26 09:45:00+00,2017-10-26 23:25:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Paris Nord - St-Denis université]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare routière de Caen,565.0,565.0,565.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
633,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare routière de Caen,"Caen, Normandie, France",4190,2017-10-27 03:30:00+00,2017-10-27 12:55:00+00,Eurolines,[Flixbus],"[Gare routière de Rennes, Gare routière de Ren..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare routière de Saint-Malo,522.0,522.0,522.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
641,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare routière de Saint-Malo,"Saint-Malo, Bretagne, France",6000,2017-10-23 11:47:00+00,2017-10-23 20:29:00+00,Intercités,"[TER, TER]","[Nantes, Nantes, Gare routière de Rennes, Gare..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare SNCF Dijon Ville,890.0,1048.0,969.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
285,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",4890,2017-10-15 10:00:00+00,2017-10-16 00:50:00+00,Flixbus,[Ouibus],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon-Perr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Gare du Nord,167.0,167.0,167.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
712,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Gare du Nord,"Paris, Île-de-France, France",1790,2017-10-13 16:38:00+00,2017-10-13 19:25:00+00,TER,[TER],"[Saint-Sulpice - Izon, Saint-Sulpice (Oise)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Montpellier,411.0,411.0,411.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
552,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Montpellier,"Montpellier, Occitanie, France",7650,2017-10-20 11:10:00+00,2017-10-20 18:01:00+00,Navette Keolis,[Intercités],"[Agen, Agen]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Rouen Rive Droite,463.0,463.0,463.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
707,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Rouen Rive Droite,"Rouen, Normandie, France",7490,2017-10-25 13:12:00+00,2017-10-25 20:55:00+00,TGV,"[Intercités, TER]","[Saint-Pierre-des-Corps (à 4km de Tours), Tour..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Château Descas,Châlons-en-Champagne,1035.0,1035.0,1035.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
181,Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",Châlons-en-Champagne,"Châlons-en-Champagne, Grand-Est, France",2790,2017-11-26 20:15:00+00,2017-11-27 13:30:00+00,Ouibus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Relais Parnasse,Gare Lille-Europe,925.0,925.0,925.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
654,Parking Relais Parnasse,"Nîmes, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",6480,2017-12-22 15:15:00+00,2017-12-23 06:40:00+00,Flixbus,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Parking Relais Parnasse,Gare routière de Rennes,1210.0,1210.0,1210.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
223,Parking Relais Parnasse,"Nîmes, Occitanie, France",Gare routière de Rennes,"Rennes, Bretagne, France",3900,2018-03-20 11:25:00+00,2018-03-21 07:35:00+00,Flixbus,[Flixbus],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Place du Barlet,Gare Lille-Europe,295.0,295.0,295.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
18,Place du Barlet,"Douai, Hauts-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",3590,2017-10-13 18:50:00+00,2017-10-13 23:45:00+00,Ouibus,[Flixbus],"[Aéroport CDG , Aéroport CDG ]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Quai du Havre,Colmar,1000.0,1000.0,1000.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
480,Quai du Havre,"Rouen, Normandie, France",Colmar,"Colmar, Grand-Est, France",4490,2017-10-20 14:45:00+00,2017-10-21 07:25:00+00,Flixbus,[Flixbus],"[Paris Ibis Clichy Batignolles, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Quai du Havre,Gare routière de Strasbourg,945.0,945.0,945.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
174,Quai du Havre,"Rouen, Normandie, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2390,2017-10-18 06:35:00+00,2017-10-18 22:20:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Orly Sud]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Quai du Havre,Châlons-en-Champagne (Centre),405.0,405.0,405.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
723,Quai du Havre,"Rouen, Normandie, France",Châlons-en-Champagne (Centre),"Châlons-en-Champagne, Grand-Est, France",1400,2017-10-11 12:05:00+00,2017-10-11 18:50:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Quai Sainte-Catherine,Gare routière de Berlin,2890.0,2890.0,2890.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
216,Quai Sainte-Catherine,"Nancy, Grand-Est, France",Gare routière de Berlin,"Berlin, Berlin, Deutschland",4480,2017-10-27 05:45:00+00,2017-10-29 05:55:00+00,Flixbus,[Flixbus],"[Gare routière de Saarbrücken, Gare routière d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rue de la Bourie Rouge,Gare de Bercy,920.0,920.0,920.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
153,Rue de la Bourie Rouge,"Orléans, Centre-Val de Loire, France",Gare de Bercy,"Paris, Île-de-France, France",1400,2017-10-19 18:35:00+00,2017-10-20 09:55:00+00,Flixbus,[Flixbus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Station Les Sabines,Parma Terminal bus,1450.0,1450.0,1450.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
311,Station Les Sabines,"Montpellier, Occitanie, France",Parma Terminal bus,"Parma, Emilia-Romagna, Italia",3020,2017-10-13 12:15:00+00,2017-10-14 12:25:00+00,Flixbus,[Flixbus],"[Fanti D'italia, Piazza Vittoria]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Université du Maine,Quai du Havre,375.0,375.0,375.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
114,Université du Maine,"Le Mans, Pays-de-la-Loire, France",Quai du Havre,"Rouen, Normandie, France",2000,2017-10-09 12:00:00+00,2017-10-09 18:15:00+00,Ouibus,[Flixbus],"[Gare de Bercy, Paris Ibis Clichy Batignolles]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Zaventem Airport,Gare de Bercy,1435.0,1435.0,1435.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
557,Zaventem Airport,"Bruxelles, Bruxelles-Capitale, Belgique",Gare de Bercy,"Paris, Île-de-France, France",1800,2017-10-11 11:25:00+00,2017-10-12 11:20:00+00,Flixbus,[Flixbus],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Zaventem Airport,Université du Maine,635.0,635.0,635.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
348,Zaventem Airport,"Bruxelles, Bruxelles-Capitale, Belgique",Université du Maine,"Le Mans, Pays-de-la-Loire, France",3100,2017-10-20 02:55:00+00,2017-10-20 13:30:00+00,Flixbus,[Isilines],"[Gare de Bercy, Gare Routière Internationale d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Zurich central station (Sihlquai car park),Gare SNCF Dijon Ville,1060.0,1060.0,1060.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
381,Zurich central station (Sihlquai car park),"Zürich, Zürich, Schweiz",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",2090,2017-10-14 09:00:00+00,2017-10-15 02:40:00+00,Flixbus,[Flixbus],"[Belfort, Belfort]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Birmingham Five Ways,Gare de Bercy,760.0,760.0,760.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
41,Birmingham Five Ways,"Birmingham, England, United Kingdom",Gare de Bercy,"Paris, Île-de-France, France",3526,2017-10-29 06:35:00+00,2017-10-29 19:15:00+00,National Express,[Flixbus],"[Gare routière Victoria Coach, Gare routière V..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Gare Bruxelles-Midi,177.0,322.0,249.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
80,Gare du Nord,"Paris, Île-de-France, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",5500,2017-10-18 06:46:00+00,2017-10-18 09:43:00+00,TGV,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Gare d'Amsterdam Centraal,227.0,1016.0,469.285714

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
485,Gare du Nord,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",18100,2017-10-11 07:55:00+00,2017-10-11 11:42:00+00,Thalys,[Thalys],"[Gare Bruxelles-Midi, Gare Bruxelles-Midi]"
515,Gare du Nord,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",20100,2017-10-20 16:55:00+00,2017-10-20 20:42:00+00,Thalys,[Thalys],"[Gare Bruxelles-Midi, Gare Bruxelles-Midi]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Gare Lille-Europe,132.0,714.0,230.090909

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
110,Gare du Nord,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",5150,2017-10-06 19:52:00+00,2017-10-06 22:04:00+00,TGV,[TGV],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."
129,Gare du Nord,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",4750,2017-10-06 19:52:00+00,2017-10-06 22:04:00+00,TGV,[TGV],"[Arras (Bus stop on ""rue du Docteur Brassart"")..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Parking Château Descas,165.0,165.0,165.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
329,Gare du Nord,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",1790,2017-10-23 06:37:00+00,2017-10-23 09:22:00+00,TER,[TER],"[Saint-Sulpice (Oise), Saint-Sulpice - Izon]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Charleroi,182.0,182.0,182.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
48,Gare du Nord,"Paris, Île-de-France, France",Charleroi,"Charleroi, Wallonie, Belgique",4790,2017-10-18 06:46:00+00,2017-10-18 09:48:00+00,TGV,[TER],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare du Nord,Courtrai,120.0,120.0,120.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
160,Gare du Nord,"Paris, Île-de-France, France",Courtrai,"Courtrai, Vlaanderen, Belgique",3630,2017-10-26 11:46:00+00,2017-10-26 13:46:00+00,TGV,[TER],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London Vauxhall,Brighton Patcham,158.0,158.0,158.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
105,London Vauxhall,"London, England, United Kingdom",Brighton Patcham,"Brighton, England, UK",1984,2017-10-21 06:40:00+00,2017-10-21 09:18:00+00,National Express,[National Express],"[London Gatwick Airport South Terminal, London..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London Walworth,Gare de Bruxelles-Nord,610.0,610.0,610.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
453,London Walworth,"London, England, United Kingdom",Gare de Bruxelles-Nord,"Liège, Wallonie, Belgique",4448,2017-11-03 07:20:00+00,2017-11-03 17:30:00+00,National Express,[Eurolines],"[Dover Ferry Port, Dover]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Bernay,Cholet (Central Bus Station ),976.0,976.0,976.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
271,Bernay,"Bernay, Normandie, France",Cholet (Central Bus Station ),"Cholet, Pays-de-la-Loire, France",6830,2017-10-20 19:51:00+00,2017-10-21 12:07:00+00,TER,"[TER, TGV, TER]","[MEZIDON-CANON, MEZIDON-CANON, Gare SNCF Le Ma..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Blois-Chambord,Paris Montparnasse 1 Et 2,118.0,118.0,118.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
703,Blois-Chambord,"Blois-Chambord, Centre-Val de Loire, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",5370,2017-11-01 19:19:00+00,2017-11-01 21:17:00+00,TER,[TGV],"[Saint-Pierre-des-Corps (à 4km de Tours), Sain..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Bourges,Gare SNCF Lyon Part-Dieu,1363.0,1363.0,1363.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
365,Bourges,"Bourges, Centre-Val de Loire, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",5730,2017-10-15 19:13:00+00,2017-10-16 17:56:00+00,TER,[TGV],"[Beaune, Beaune]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Calais Frethun,Gare du Nord,206.0,206.0,206.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
115,Calais Frethun,"Calais, Hauts-de-France, France",Gare du Nord,"Paris, Île-de-France, France",2690,2017-10-31 16:03:00+00,2017-10-31 19:29:00+00,TER,[Intercités],"[Etaples - Le Touquet, Etaples - Le Touquet]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Cannes,Aix-en-Provence - Gare TGV (à 8km du centre vi...,150.0,150.0,150.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
556,Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",Aix-en-Provence - Gare TGV (à 8km du centre vi...,"Aix-en-provence, Provence-Alpes-Côte d'Azur, F...",2700,2017-10-18 09:56:00+00,2017-10-18 12:26:00+00,TGV,[TGV],"[Gare de Marseille Saint-Charles, Gare de Mars..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Cannes,Paris Gare de Lyon,355.0,355.0,355.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
696,Cannes,"Cannes, Provence-Alpes-Côte d'Azur, France",Paris Gare de Lyon,"Paris, Île-de-France, France",8500,2017-10-26 06:46:00+00,2017-10-26 12:41:00+00,TER,[TGV],"[Antibes, Antibes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Collonges-au-Mont-d'Or,Gare de Bercy,326.0,1353.0,543.2

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
52,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6670,2017-10-27 12:56:00+00,2017-10-27 18:22:00+00,TER,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."
488,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6830,2017-10-13 16:56:00+00,2017-10-13 22:22:00+00,TER,[TER],"[Villefranche-sur Saône, Villefranche-sur Saône]"
635,Collonges-au-Mont-d'Or,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6830,2017-10-09 12:56:00+00,2017-10-09 18:22:00+00,TER,[TER],"[Villefranche-sur Saône, Villefranche-sur Saône]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Compiègne,Gare routière de Toulouse,557.0,557.0,557.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
665,Compiègne,"Compiègne, Hauts-de-France, France",Gare routière de Toulouse,"Toulouse, Occitanie, France",8350,2017-10-13 12:00:00+00,2017-10-13 21:17:00+00,Intercités,[Intercités],"[Gare du Nord, Paris Austerlitz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Compiègne,Gare routière de Vannes,353.0,353.0,353.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
722,Compiègne,"Compiègne, Hauts-de-France, France",Gare routière de Vannes,"Vannes, Bretagne, France",10780,2017-10-21 07:35:00+00,2017-10-21 13:28:00+00,Intercités,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Compiègne,Gare SNCF Dunkerque,267.0,267.0,267.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
577,Compiègne,"Compiègne, Hauts-de-France, France",Gare SNCF Dunkerque,"Dunkerque, Hauts-de-France, France",4130,2017-10-14 17:37:00+00,2017-10-14 22:04:00+00,TER,"[TER, TGV]","[Gare routière d'Amiens, Gare routière d'Amien..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Dole Ville,Gare de Strasbourg,245.0,245.0,245.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
178,Dole Ville,"Dole Choisey, Bourgogne-Franche-Comté, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",5300,2017-10-13 17:50:00+00,2017-10-13 21:55:00+00,TER,[TGV],"[Montbéliard Acropole, Belfort-Montbeliard Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Dole Ville,Gare routière de Mulhouse,188.0,188.0,188.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
325,Dole Ville,"Dole Choisey, Bourgogne-Franche-Comté, France",Gare routière de Mulhouse,"Mulhouse, Grand-Est, France",2850,2017-10-14 17:50:00+00,2017-10-14 20:58:00+00,TER,[TGV],"[Montbéliard Acropole, Belfort-Montbeliard Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gardanne,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,247.0,247.0,247.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
243,Gardanne,"Gardanne, Provence-Alpes-Côte d'Azur, France",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",2800,2017-10-13 07:30:00+00,2017-10-13 11:37:00+00,TER,[TGV],"[Gare SNCF Aix-en-Provence Ville, Aix-en-Prove..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Lens,Tarbes,2437.0,2437.0,2437.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
673,Lens,"Lens, Hauts-de-France, France",Tarbes,"Tarbes, Occitanie, France",6690,2017-10-13 06:25:00+00,2017-10-14 23:02:00+00,TER,"[TGV, TGV, TGV]","[Douai, Douai, Aeroport Cdg2 Tgv Roissy, Aerop..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Les Aubrais,Nîmes,1307.0,1307.0,1307.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
289,Les Aubrais,"Orléans, Centre-Val de Loire, France",Nîmes,"Nîmes, Occitanie, France",7270,2017-10-30 20:11:00+00,2017-10-31 17:58:00+00,Intercités,"[TER, Intercités]","[Montluçon (Central bus station), Montluçon (C..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Les Fontinettes,Gare du Nord,223.0,223.0,223.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
165,Les Fontinettes,"Les Fontinettes, Hauts-de-France, France",Gare du Nord,"Paris, Île-de-France, France",4800,2017-10-06 15:13:00+00,2017-10-06 18:56:00+00,TER,[Intercités],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London St Pancras,Gare Bruxelles-Midi,484.0,484.0,484.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
616,London St Pancras,"London, England, United Kingdom",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",22250,2017-10-13 05:40:00+00,2017-10-13 13:44:00+00,Eurostar,[TGV],"[Gare du Nord, Gare du Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London St Pancras,Gare routière du Havre,397.0,397.0,397.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
627,London St Pancras,"London, England, United Kingdom",Gare routière du Havre,"Le Havre, Normandie, France",16900,2017-10-25 14:22:00+00,2017-10-25 20:59:00+00,Eurostar,[Intercités],"[Gare du Nord, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London St Pancras,Parking Château Descas,385.0,385.0,385.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
86,London St Pancras,"London, England, United Kingdom",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",38550,2017-10-23 08:31:00+00,2017-10-23 14:56:00+00,Eurostar,[TGV],"[Gare du Nord, Paris Montparnasse 1 Et 2]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,London St Pancras,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,248.0,248.0,248.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
607,London St Pancras,"London, England, United Kingdom",Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",12850,2017-10-25 12:58:00+00,2017-10-25 17:06:00+00,Eurostar,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Loriol,Gare de Marseille Saint-Charles,183.0,183.0,183.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
609,Loriol,"Loriol, Auvergne-Rhône-Alpes, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",3730,2017-10-20 11:47:00+00,2017-10-20 14:50:00+00,TER,[TER],"[Gare routière de Montélimar, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Lyon Vaise,Gare de Bercy,331.0,331.0,331.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
464,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",6790,2017-10-13 14:51:00+00,2017-10-13 20:22:00+00,TER,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Lyon Vaise,Gare SNCF Dijon Ville,151.0,151.0,151.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
346,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Gare SNCF Dijon Ville,"Dijon, Bourgogne-Franche-Comté, France",3300,2017-10-16 06:51:00+00,2017-10-16 09:22:00+00,TER,[TER],"[Saint-Germain-au-Mont-d'Or, Saint-Germain-au-..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Lyon Vaise,Paris Gare de Lyon,224.0,351.0,287.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
47,Lyon Vaise,"Lyon, Auvergne-Rhône-Alpes, France",Paris Gare de Lyon,"Paris, Île-de-France, France",9610,2017-10-21 08:31:00+00,2017-10-21 12:15:00+00,TER,[TGV],"[Mâcon, Mâcon-Loché Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare Bruxelles-Midi,119.0,171.0,145.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
257,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",5900,2017-10-18 10:53:00+00,2017-10-18 12:52:00+00,TGV,[TGV],"[Gare Lille-Europe, Gare Lille-Europe]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare d'Amsterdam Centraal,377.0,377.0,377.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
701,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",11280,2017-10-13 07:49:00+00,2017-10-13 14:06:00+00,TGV,[TGV],"[Gare Bruxelles-Midi, Gare de Bruxelles-Nord]"
719,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare d'Amsterdam Centraal,"Amsterdam, Noord-Holland, Nederland",10780,2017-10-28 07:49:00+00,2017-10-28 14:06:00+00,TGV,[TGV],"[Gare Bruxelles-Midi, Gare de Bruxelles-Nord]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare de Marseille Saint-Charles,246.0,378.0,323.2

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
139,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",20400,2017-10-06 18:11:00+00,2017-10-06 22:17:00+00,TGV,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare de Strasbourg,145.0,145.0,145.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
588,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",10250,2017-10-13 11:03:00+00,2017-10-13 13:28:00+00,TGV,[TGV],[Louvigny - gare Lorraine TGV (à environ 30km ...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare Lille-Europe,80.0,126.0,103.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
491,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",9700,2017-10-06 20:36:00+00,2017-10-06 21:56:00+00,TGV,[TGV],"[Aeroport Cdg2 Tgv Roissy, Aeroport Cdg2 Tgv R..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Gare SNCF Laval,158.0,158.0,158.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
58,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare SNCF Laval,"Laval, Pays-de-la-Loire, France",5950,2017-10-13 21:02:00+00,2017-10-13 23:40:00+00,TGV,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"
511,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Gare SNCF Laval,"Laval, Pays-de-la-Loire, France",3700,2017-10-13 16:02:00+00,2017-10-13 18:40:00+00,TGV,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Parking Château Descas,246.0,246.0,246.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
363,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",9700,2017-10-15 16:31:00+00,2017-10-15 20:37:00+00,TGV,[TGV],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Nantes,172.0,293.0,212.333333

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
373,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",5750,2017-10-17 10:02:00+00,2017-10-17 12:54:00+00,TGV,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"
441,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",3050,2017-10-18 16:02:00+00,2017-10-18 18:54:00+00,TGV,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,Niort,853.0,853.0,853.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
124,Marne-La-Vallée - Chessy - Gare Tgv et OuiGo (...,"Paris, Île-de-France, France",Niort,"Niort, Nouvelle-Aquitaine, France",8060,2017-10-30 18:34:00+00,2017-10-31 08:47:00+00,TGV,[TER],"[Saint-Pierre-des-Corps (à 4km de Tours), Tours]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nantes,Gare Bruxelles-Midi,314.0,314.0,314.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
159,Nantes,"Nantes, Pays-de-la-Loire, France",Gare Bruxelles-Midi,"Bruxelles, Bruxelles-Capitale, Belgique",15050,2017-10-22 14:03:00+00,2017-10-22 19:17:00+00,TGV,"[TGV, Thalys]","[Gare SNCF Le Mans, Gare SNCF Le Mans, Marne-L..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nantes,Paris Austerlitz,377.0,1718.0,1047.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
43,Nantes,"Nantes, Pays-de-la-Loire, France",Paris Austerlitz,"Paris, Île-de-France, France",6350,2017-10-20 11:06:00+00,2017-10-20 17:23:00+00,TER,[Intercités],"[Saint-Pierre-des-Corps (à 4km de Tours), Sain..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nantes,Paris Montparnasse 1 Et 2,180.0,240.0,210.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
189,Nantes,"Nantes, Pays-de-la-Loire, France",Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",7120,2017-10-19 16:47:00+00,2017-10-19 19:47:00+00,TER,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nice Saint-Augustin,Roquebrune-Cap-Martin,73.0,73.0,73.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
158,Nice Saint-Augustin,"Nice, Provence-Alpes-Côte d'Azur, France",Roquebrune-Cap-Martin,"Roquebrune-Cap-Martin, Provence-Alpes-Côte d'A...",900,2017-10-19 18:13:00+00,2017-10-19 19:26:00+00,TER,[TER],"[Cagnes-sur-Mer, Cagnes-sur-Mer]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nîmes,Gare de Marseille Saint-Charles,143.0,143.0,143.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
598,Nîmes,"Nîmes, Occitanie, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",2420,2017-10-14 08:51:00+00,2017-10-14 11:14:00+00,TER,[TER],"[Tarascon-sur-Rhône, Tarascon-sur-Rhône]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Nîmes,Gare Lille-Europe,313.0,313.0,313.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
389,Nîmes,"Nîmes, Occitanie, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",15000,2017-10-17 14:43:00+00,2017-10-17 19:56:00+00,TGV,[TGV],"[Gare SNCF Lyon Part-Dieu, Gare SNCF Lyon Part..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Austerlitz,Châtellerault,154.0,255.0,204.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
709,Paris Austerlitz,"Paris, Île-de-France, France",Châtellerault,"Châtellerault, Nouvelle-Aquitaine, France",2500,2017-10-18 17:38:00+00,2017-10-18 20:12:00+00,Intercités,[TGV],"[Saint-Pierre-des-Corps (à 4km de Tours), Sain..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Austerlitz,Parking Château Descas,421.0,998.0,709.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
49,Paris Austerlitz,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",7200,2017-10-13 12:51:00+00,2017-10-13 19:52:00+00,Intercités,[TGV],"[Tours, Saint-Pierre-des-Corps (à 4km de Tours)]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Gare de Lyon,Gare de Marseille Saint-Charles,209.0,270.0,239.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
667,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare de Marseille Saint-Charles,"Marseille, Provence-Alpes-Côte d'Azur, France",5000,2017-10-12 14:17:00+00,2017-10-12 17:46:00+00,TGV,[TGV],[Aix-en-Provence - Gare TGV (à 8km du centre v...

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Gare de Lyon,Gare routière d'Avignon,296.0,313.0,304.5

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
383,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare routière d'Avignon,"Avignon, Provence-Alpes-Côte d'Azur, France",12890,2017-10-06 14:07:00+00,2017-10-06 19:03:00+00,TGV,[TER],"[Valence Tgv Rhone-Alpes Sud, Gare routière de..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Gare de Lyon,Gare routière de Menton,612.0,612.0,612.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
157,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare routière de Menton,"Menton, Provence-Alpes-Côte d'Azur, France",11440,2017-10-27 10:19:00+00,2017-10-27 20:31:00+00,TGV,[TGV],"[Nice Ville, Nice Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Gare de Lyon,Gare SNCF Lyon Part-Dieu,355.0,355.0,355.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
297,Paris Gare de Lyon,"Paris, Île-de-France, France",Gare SNCF Lyon Part-Dieu,"Lyon, Auvergne-Rhône-Alpes, France",7480,2017-10-20 12:49:00+00,2017-10-20 18:44:00+00,TER,[TER],"[Sens, Sens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Gare de Lyon,Marseille Arenc,802.0,802.0,802.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
91,Paris Gare de Lyon,"Paris, Île-de-France, France",Marseille Arenc,"Marseille, Provence-Alpes-Côte d'Azur, France",11010,2017-10-25 17:41:00+00,2017-10-26 07:03:00+00,TGV,[TER],"[Miramas, Miramas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Cholet (Central Bus Station ),141.0,141.0,141.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
12,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Cholet (Central Bus Station ),"Cholet, Pays-de-la-Loire, France",8670,2017-10-13 14:46:00+00,2017-10-13 17:07:00+00,TGV,[TER],"[Gare routière d'Angers, Gare routière d'Angers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Gare routière de Rennes,156.0,156.0,156.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
724,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare routière de Rennes,"Rennes, Bretagne, France",6900,2017-10-31 09:40:00+00,2017-10-31 12:16:00+00,TGV,[TGV],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Gare SNCF Laval,151.0,151.0,151.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
659,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare SNCF Laval,"Laval, Pays-de-la-Loire, France",7630,2017-10-13 06:40:00+00,2017-10-13 09:11:00+00,TGV,[TER],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Gare SNCF Pau,318.0,480.0,390.666667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
242,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Gare SNCF Pau,"Pau, Nouvelle-Aquitaine, France",11300,2017-10-12 08:52:00+00,2017-10-12 14:10:00+00,TGV,[TGV],"[Parking Château Descas, Parking Château Descas]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Parking Château Descas,307.0,307.0,307.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
438,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Parking Château Descas,"Bordeaux, Nouvelle-Aquitaine, France",10550,2017-10-15 19:10:00+00,2017-10-16 00:17:00+00,TGV,[TGV],"[Avenue de Lattre de Tassigny, Avenue de Lattr..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Nantes,250.0,616.0,372.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
78,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",6350,2017-10-13 13:06:00+00,2017-10-13 17:16:00+00,TER,[TER],"[Gare SNCF Le Mans, Gare SNCF Le Mans]"
698,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Nantes,"Nantes, Pays-de-la-Loire, France",8650,2017-10-20 10:40:00+00,2017-10-20 14:50:00+00,TGV,[TGV],"[Gare routière d'Angers, Gare routière d'Angers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Montparnasse 1 Et 2,Niort,589.0,589.0,589.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
126,Paris Montparnasse 1 Et 2,"Paris, Île-de-France, France",Niort,"Niort, Nouvelle-Aquitaine, France",4680,2017-10-30 20:54:00+00,2017-10-31 06:43:00+00,TGV,[TER],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Saint-Lazare,Maromme,90.0,90.0,90.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
294,Paris Saint-Lazare,"Paris, Île-de-France, France",Maromme,"Maromme, Normandie, France",2350,2017-10-13 17:23:00+00,2017-10-13 18:53:00+00,Intercités,[TER],"[Rouen Rive Droite, Rouen Rive Droite]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Champagne-Ardenne TGV,257.0,257.0,257.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
230,Rouen Rive Droite,"Rouen, Normandie, France",Champagne-Ardenne TGV,"Reims, Grand-Est, France",5400,2017-10-11 14:59:00+00,2017-10-11 19:16:00+00,Intercités,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Colmar,307.0,307.0,307.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
474,Rouen Rive Droite,"Rouen, Normandie, France",Colmar,"Colmar, Grand-Est, France",13610,2017-10-18 16:12:00+00,2017-10-18 21:19:00+00,TER,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Gare de Strasbourg,249.0,249.0,249.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
99,Rouen Rive Droite,"Rouen, Normandie, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",11800,2017-10-18 12:59:00+00,2017-10-18 17:08:00+00,Intercités,[TGV],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Gare SNCF Lorient,833.0,833.0,833.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
499,Rouen Rive Droite,"Rouen, Normandie, France",Gare SNCF Lorient,"Lorient, Bretagne, France",9070,2017-10-13 07:07:00+00,2017-10-13 21:00:00+00,TER,"[Intercités, TER, TGV]","[MEZIDON-CANON, MEZIDON-CANON, Gare routière d..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Chalons En Champagne,242.0,242.0,242.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
728,Rouen Rive Droite,"Rouen, Normandie, France",Chalons En Champagne,"Châlons-en-Champagne, Grand-Est, France",3850,2017-10-11 17:12:00+00,2017-10-11 21:14:00+00,Intercités,[TER],"[Paris Saint-Lazare, Gare de l'Est]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Nantes,1066.0,1066.0,1066.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
175,Rouen Rive Droite,"Rouen, Normandie, France",Nantes,"Nantes, Pays-de-la-Loire, France",7330,2017-10-20 15:04:00+00,2017-10-21 08:50:00+00,TER,"[TER, TER, TGV]","[Gare routière de Caen, Gare routière de Caen,..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Rouen Rive Droite,Paris Saint-Lazare,148.0,148.0,148.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
111,Rouen Rive Droite,"Rouen, Normandie, France",Paris Saint-Lazare,"Paris, Île-de-France, France",1660,2017-10-12 16:12:00+00,2017-10-12 18:40:00+00,TER,[Intercités],"[Val-de-Reuil, Val-de-Reuil]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Troyes,Gare de Strasbourg,308.0,1254.0,781.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
547,Troyes,"Troyes, Grand-Est, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",7300,2017-10-27 16:47:00+00,2017-10-27 21:55:00+00,Intercités,[TGV],"[Belfort, Belfort-Montbeliard Tgv]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Valence Tgv Rhone-Alpes Sud,Nancy,368.0,368.0,368.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
605,Valence Tgv Rhone-Alpes Sud,"Valence, Auvergne-Rhône-Alpes, France",Nancy,"Nancy, Grand-Est, France",9900,2017-10-13 15:28:00+00,2017-10-13 21:36:00+00,TGV,[TGV],"[Gare SNCF Dijon Ville, Gare SNCF Dijon Ville]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Ventimiglia Stazione,Gare routière de Toulon,217.0,217.0,217.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
420,Ventimiglia Stazione,"Ventimiglia, Liguria, Italia",Gare routière de Toulon,"Toulon, Provence-Alpes-Côte d'Azur, France",3470,2017-10-13 15:07:00+00,2017-10-13 18:44:00+00,TER,[TER],"[Juan-les-Pins, Juan-les-Pins]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Vesoul,Gare de l'Est,208.0,208.0,208.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
357,Vesoul,"Vesoul, Bourgogne-Franche-Comté, France",Gare de l'Est,"Paris, Île-de-France, France",6160,2017-10-23 05:50:00+00,2017-10-23 09:18:00+00,Intercités,[Intercités],"[Troyes, Troyes]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,La Roche sur Yon,Arles,1480.0,1480.0,1480.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
8,La Roche sur Yon,"La Roche-sur-Yon, Pays de la Loire, France",Arles,"Arles, Provence-Alpes-Côte d'Azur, France",8080,2017-12-23 08:00:00+00,2017-12-24 08:40:00+00,Flixbus,[Flixbus],"[Gare de Bercy, Massy-Palaiseau]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Grenoble - Presqu'île,Gare de Bercy,475.0,550.0,511.666667

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
3,Grenoble - Presqu'île,"Grenoble, Auvergne-Rhône-Alpes, France",Gare de Bercy,"Paris, Île-de-France, France",5190,2017-10-20 14:05:00+00,2017-10-20 22:00:00+00,Ouibus,[Flixbus],"[Aéroport Saint-Exupéry, Gare SNCF Lyon-Perrache]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Ibis Clichy Batignolles,Gare routière Victoria Coach,595.0,595.0,595.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
452,Paris Ibis Clichy Batignolles,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-20 09:05:00+00,2017-10-20 19:00:00+00,Flixbus,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Nord - St-Denis université,Gare Lille-Europe,1505.0,1505.0,1505.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
397,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1590,2017-10-20 17:40:00+00,2017-10-21 18:45:00+00,Ouibus,[Flixbus],"[Gare routière d'Amiens, Gare routière d'Amiens]"
512,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare Lille-Europe,"Lille, Hauts-de-France, France",1290,2017-10-06 17:40:00+00,2017-10-07 18:45:00+00,Ouibus,[Flixbus],"[Gare routière d'Amiens, Gare routière d'Amiens]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Nord - St-Denis université,Gare routière Victoria Coach,535.0,535.0,535.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
462,Paris Nord - St-Denis université,"Paris, Île-de-France, France",Gare routière Victoria Coach,"London, England, United Kingdom",5500,2017-10-27 10:05:00+00,2017-10-27 19:00:00+00,Ouibus,[Eurolines],"[Quai du Havre, Quai du Havre]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris Porte de Charenton,Lisboa (Oriente),1615.0,1615.0,1615.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
566,Paris Porte de Charenton,"Paris, Île-de-France, France",Lisboa (Oriente),"Lisboa, Área Metropolitana de Lisboa, Portugal",7490,2017-12-20 12:45:00+00,2017-12-21 15:40:00+00,Eurolines,[Flixbus],"[Gare routière de Poitiers, Futuroscope]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Troyes (Gare routière),Gare routière de Strasbourg,1625.0,1625.0,1625.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
191,Troyes (Gare routière),"Troyes, Grand-Est, France",Gare routière de Strasbourg,"Strasbourg, Grand-Est, France",2000,2017-10-26 15:45:00+00,2017-10-27 18:50:00+00,Flixbus,[Ouibus],"[Gare de Bercy, Gare de Bercy]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Routière Internationale de Paris-Gallieni...,Gare routière de Niort,1700.0,1700.0,1700.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
344,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Gare routière de Niort,"Niort, Nouvelle-Aquitaine, France",1800,2017-10-22 15:30:00+00,2017-10-23 19:50:00+00,Isilines,[Ouibus],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Routière Internationale de Paris-Gallieni...,Pau Université,955.0,955.0,955.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
55,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-12 14:45:00+00,2017-10-13 06:40:00+00,Isilines,[Flixbus],"[Parking Château Descas, Parking Château Descas]"
338,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",2400,2017-10-13 14:45:00+00,2017-10-14 06:40:00+00,Isilines,[Flixbus],"[Parking Château Descas, Parking Château Descas]"
700,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Pau Université,"Pau, Nouvelle-Aquitaine, France",3400,2017-10-12 14:45:00+00,2017-10-13 06:40:00+00,Isilines,[Flixbus],"[Gare routière de Poitiers, Gare routière de P..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Routière Internationale de Paris-Gallieni...,Thiers (Péage A89),620.0,620.0,620.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
337,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Thiers (Péage A89),"Thiers, Auvergne-Rhône-Alpes, France",2790,2017-10-25 10:00:00+00,2017-10-25 20:20:00+00,Isilines,[Flixbus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Routière Internationale de Paris-Gallieni...,Sallanches,590.0,590.0,590.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
11,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Sallanches,"Sallanches, Auvergne-Rhône-Alpes, France",3100,2017-10-06 10:00:00+00,2017-10-06 19:50:00+00,Isilines,[Ouibus],"[Gare SNCF Lyon-Perrache, Gare SNCF Lyon-Perra..."
434,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Sallanches,"Sallanches, Auvergne-Rhône-Alpes, France",3800,2017-10-06 10:00:00+00,2017-10-06 19:50:00+00,Isilines,[Ouibus],"[Gare SNCF Lyon-Perrache, Aéroport Saint-Exupéry]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare Routière Internationale de Paris-Gallieni...,Nantes Halluchère - Route de Paris,415.0,415.0,415.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
28,Gare Routière Internationale de Paris-Gallieni...,"Paris, Île-de-France, France",Nantes Halluchère - Route de Paris,"Nantes, Pays-de-la-Loire, France",2000,2017-10-21 14:45:00+00,2017-10-21 21:40:00+00,Isilines,[Isilines],"[Parking les Peupliers, Parking les Peupliers]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de l'Est,Gare de Strasbourg,211.0,211.0,211.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
21,Gare de l'Est,"Paris, Île-de-France, France",Gare de Strasbourg,"Strasbourg, Grand-Est, France",10480,2017-10-19 16:40:00+00,2017-10-19 20:11:00+00,TGV,[TER],"[Gare routière de Metz, Gare routière de Metz]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Gare de l'Est,Saint-Dizier,291.0,291.0,291.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
35,Gare de l'Est,"Paris, Île-de-France, France",Saint-Dizier,"Saint-Dizier, Grand-Est, France",6180,2017-10-14 09:28:00+00,2017-10-14 14:19:00+00,TGV,[TER],"[Champagne-Ardenne TGV, Champagne-Ardenne TGV]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,"Tourcoing (Bus stop on ""Avenue Salvador Allende"")",Rouen Rive Droite,230.0,230.0,230.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
0,"Tourcoing (Bus stop on ""Avenue Salvador Allende"")","Tourcoing, Hauts-de-France, France",Rouen Rive Droite,"Rouen, Normandie, France",4700,2017-10-19 06:10:00+00,2017-10-19 10:00:00+00,TGV,[Intercités],"[Gare du Nord, Paris Saint-Lazare]"

====================================================================================================
====================================================================================================

,Departure station,Arrival station,Shortest trip (minutes),Longest trip (minutes),Average trip (minutes)
0,Paris - Bibliothèque François Mitterrand,Gare de Châlons-en-Champagne,305.0,305.0,305.0

,o_station,o_city,d_station,d_city,price_in_cents,departure_ts,arrival_ts,company,other_companies,middle_stations
328,Paris - Bibliothèque François Mitterrand,"Paris, Île-de-France, France",Gare de Châlons-en-Champagne,"Châlons-en-Champagne, Grand-Est, France",6800,2017-10-11 12:05:00+00,2017-10-11 17:10:00+00,Vatry,[Vatry],"[Vatry, Vatry]"

====================================================================================================
====================================================================================================

### Extracting statistics about average travel cost and duration for some distance ranges and means of transport

For this purpose, we need to split the main dataframe with respect to different range values (200 km, 800 km, ...), and with respect to transport means (bus, train, ...)

In [9]:
transport_types = providers["transport_type"].unique()    # We need to know what are the available means of transport
transport_types

array(['bus', 'car', 'train', 'carpooling'], dtype=object)

In [10]:
# Splitting the providers with regard to transport type
bus_providers = providers[providers["transport_type"] == "bus"]["id"]
car_providers = providers[providers["transport_type"] == "car"]["id"]
train_providers = providers[providers["transport_type"] == "train"]["id"]
carpooling_providers = providers[providers["transport_type"] == "carpooling"]["id"]

# Splitting the trips with regard to trip distance
short_trips = tickets[tickets["trip_distance_km"] < 200]
medium_trips = tickets[(tickets["trip_distance_km"] >= 200) & (tickets["trip_distance_km"] < 800)]
long_trips = tickets[(tickets["trip_distance_km"] >= 800) & (tickets["trip_distance_km"] < 2000)]
extra_long_trips = tickets[tickets["trip_distance_km"] >= 2000]

assert(short_trips.size + medium_trips.size + long_trips.size + extra_long_trips.size == tickets.size)


# Defining what are the columns we need to display
cols = pd.MultiIndex.from_product([transport_types, ["average_price_cents", "average_duration"]])
cols = cols.insert(0, "trip_range")
cols = cols.insert(1, "total")

# Creating a new dataframe holding the stats
statistics = pd.DataFrame.from_records([
    (
        "0-200 km",
        short_trips.size,
        short_trips.loc[short_trips["company"].isin(bus_providers), "price_in_cents"].mean() / 100,
        short_trips.loc[short_trips["company"].isin(bus_providers), "trip_duration"].mean() / 60,
        short_trips.loc[short_trips["company"].isin(car_providers), "price_in_cents"].mean() / 100,
        short_trips.loc[short_trips["company"].isin(car_providers), "trip_duration"].mean() / 60,
        short_trips.loc[short_trips["company"].isin(train_providers), "price_in_cents"].mean() / 100,
        short_trips.loc[short_trips["company"].isin(train_providers), "trip_duration"].mean() / 60,
        short_trips.loc[short_trips["company"].isin(carpooling_providers), "price_in_cents"].mean() / 100,
        short_trips.loc[short_trips["company"].isin(carpooling_providers), "trip_duration"].mean() / 60
    ), (
        "200-800 km",
        medium_trips.size,
        medium_trips.loc[medium_trips["company"].isin(bus_providers), "price_in_cents"].mean() / 100,
        medium_trips.loc[medium_trips["company"].isin(bus_providers), "trip_duration"].mean() / 60,
        medium_trips.loc[medium_trips["company"].isin(car_providers), "price_in_cents"].mean() / 100,
        medium_trips.loc[medium_trips["company"].isin(car_providers), "trip_duration"].mean() / 60,
        medium_trips.loc[medium_trips["company"].isin(train_providers), "price_in_cents"].mean() / 100,
        medium_trips.loc[medium_trips["company"].isin(train_providers), "trip_duration"].mean() / 60,
        medium_trips.loc[medium_trips["company"].isin(carpooling_providers), "price_in_cents"].mean() / 100,
        medium_trips.loc[medium_trips["company"].isin(carpooling_providers), "trip_duration"].mean() / 60
    ), (
        "800-2000 km",
        long_trips.size,
        long_trips.loc[long_trips["company"].isin(bus_providers), "price_in_cents"].mean() / 100,
        long_trips.loc[long_trips["company"].isin(bus_providers), "trip_duration"].mean() / 60,
        long_trips.loc[long_trips["company"].isin(car_providers), "price_in_cents"].mean() / 100,
        long_trips.loc[long_trips["company"].isin(car_providers), "trip_duration"].mean() / 60,
        long_trips.loc[long_trips["company"].isin(train_providers), "price_in_cents"].mean() / 100,
        long_trips.loc[long_trips["company"].isin(train_providers), "trip_duration"].mean() / 60,
        long_trips.loc[long_trips["company"].isin(carpooling_providers), "price_in_cents"].mean() / 100,
        long_trips.loc[long_trips["company"].isin(carpooling_providers), "trip_duration"].mean() / 60
    ), (
        "2000+ km",
        extra_long_trips.size,
        extra_long_trips.loc[extra_long_trips["company"].isin(bus_providers), "price_in_cents"].mean() / 100,
        extra_long_trips.loc[extra_long_trips["company"].isin(bus_providers), "trip_duration"].mean() / 60,
        extra_long_trips.loc[extra_long_trips["company"].isin(car_providers), "price_in_cents"].mean() / 100,
        extra_long_trips.loc[extra_long_trips["company"].isin(car_providers), "trip_duration"].mean() / 60,
        extra_long_trips.loc[extra_long_trips["company"].isin(train_providers), "price_in_cents"].mean() / 100,
        extra_long_trips.loc[extra_long_trips["company"].isin(train_providers), "trip_duration"].mean() / 60,
        extra_long_trips.loc[extra_long_trips["company"].isin(carpooling_providers), "price_in_cents"].mean() / 100,
        extra_long_trips.loc[extra_long_trips["company"].isin(carpooling_providers), "trip_duration"].mean() / 60
    )
], columns=cols)


statistics

    trip_range   total                 bus                   \
                       average_price_cents average_duration
0     0-200 km  183680           21.619639       471.551724
1   200-800 km  825818           33.927431       888.205419
2  800-2000 km   28854           68.125959      1630.711129
3     2000+ km       0                 NaN              NaN

                  car                                train                   \
  average_price_cents average_duration average_price_cents average_duration
0                 NaN              NaN           42.891207       342.822123
1                 NaN              NaN           88.315281       443.099367
2                 NaN              NaN          166.053456       734.804916
3                 NaN              NaN                 NaN              NaN

           carpooling
  average_price_cents average_duration
0           11.773524       117.122374
1           32.180643       285.787874
2           86.265455       786.013986
3                 NaN              NaN